<main class="mt-4">
  <section>
    <div class="card mb-3">
      <div class="card-header bg-transparent">
        <div class="row align-items-center">
          <div class="col-12 col-sm-6 col-md-6 col-lg-6">
            <h6 class="fw-600 mb-2 mb-sm-0">View Applications</h6>
          </div>
          <!-- *ngIf="loginsessionDetails?.userRole != 'ADMIN'" -->
          <div class="col-12 col-sm-3 col-md-3 col-lg-3 "></div>
          <ng-container *ngIf="loginsessionDetails?.userRole !='DIC'">
            <div class="col-12 col-sm-3 col-md-3 col-lg-3 ">
              <label for="Agencies" style="font-weight: 600;">List Of District</label>
              <select class="form-select" [(ngModel)]="districtName" (change)="dropdownDistrictList($event)">
                <option selected value="district">All District</option>
                <option *ngFor="let list of allDistricts" value="{{list.districtName}}">{{list.districtName}}</option>
              </select>
            </div>
          </ng-container>

        </div>
      </div>
      <div class="card-body">
        <div class="row mb-3">
          <div class="col-12 col-sm-12 col-md-2 col-lg-2">
            <div class="card bg-primary text-white text-center shadow-none  p-2"
              (click)="onTabChange('APPLICATIONS_RECEIVED')">
              <label class="mb-2 fw-600">Applications Received </label>
              <p class="fw-bold fs-6 mb-0 ">{{PrigramSummaryData?.applicationsReceived || 0}}</p>
            </div>
          </div>
          <div class="col-12 col-sm-12 col-md-3 col-lg-3">
            <div class="card bg-warning text-white text-center shadow-none  p-2"
              (click)="onTabChange('APPLICATIONS_UNDER_PROCESS')">
              <label class="mb-2 fw-600">Applications Under Process</label>
              <p class="fw-bold fs-6 mb-0 fw-600">{{PrigramSummaryData?.applicationsUnderProcess || 0}}</p>
            </div>
          </div>
          <div class="col-12 col-sm-12 col-md-2 col-lg-2">
            <div class="card text-white text-center shadow-none pt-2 pb-2" style="background-color: chocolate;"
              (click)="onTabChange('APPLICATIONS_WITH_DIC')">
              <label class="mb-2 fw-600">Applications With DIC </label>
              <p class="fw-bold fs-6 mb-0">{{PrigramSummaryData?.applicationsWithDic || 0}}</p>
            </div>
          </div>
          <div class="col-12 col-sm-12 col-md-2 col-lg-2 ">
            <div class="card  bg-success  text-white text-center shadow-none pt-2 pb-2"
              (click)="onTabChange('APPLICATIONS_SANCTIONED')">
              <label class="mb-2 fw-600">Applications Sanctioned </label>
              <p class="fw-bold fs-6 mb-0">{{PrigramSummaryData?.applicationsLoanSanctioned || 0}}</p>
            </div>
          </div>
          <div class="col-12 col-sm-12 col-md-3 col-lg-3 ">
            <div class="card bg-danger text-white text-center shadow-none  p-2"
              (click)="onTabChange('APPLICATIONS_NOT_CONSIDERED')">
              <label class="mb-2 fw-600">Applications Not Considered </label>
              <p class="fw-bold fs-6 mb-0">{{PrigramSummaryData?.applicationsNotConsidered || 0}}</p>
            </div>
          </div>

        </div>
        <nav>
          <div class="nav nav-tabs mb-3" id="nav-tab" role="tablist">

            <button [ngClass]="{ 'active':activeTab==='APPLICATIONS_RECEIVED'}"
              (click)="onTabChange('APPLICATIONS_RECEIVED')" class="nav-link active" id="nav-home-tab"
              data-bs-toggle="tab" data-bs-target="#APPLICATIONS_RECEIVED" type="button" role="tab"
              aria-controls="nav-home" aria-selected="true"> Applications Received </button>
            <button [ngClass]="{ 'active':activeTab==='APPLICATIONS_UNDER_PROCESS'}"
              (click)="onTabChange('APPLICATIONS_UNDER_PROCESS')" class="nav-link" id="nav-profile-tab"
              data-bs-toggle="tab" data-bs-target="#APPLICATIONS_RECEIVED" type="button" role="tab"
              aria-controls="nav-profile" aria-selected="false"> Applications Under Process </button>
            <button [ngClass]="{ 'active':activeTab==='APPLICATIONS_WITH_DIC'}"
              (click)="onTabChange('APPLICATIONS_WITH_DIC')" class="nav-link" id="nav-profile-tab" data-bs-toggle="tab"
              data-bs-target="#APPLICATIONS_RECEIVED" type="button" role="tab" aria-controls="nav-profile"
              aria-selected="false"> Applications With DIC </button>
            <button [ngClass]="{ 'active':activeTab==='APPLICATIONS_SANCTIONED'}"
              (click)="onTabChange('APPLICATIONS_SANCTIONED')" class="nav-link" id="nav-profile-tab"
              data-bs-toggle="tab" data-bs-target="#APPLICATIONS_RECEIVED" type="button" role="tab"
              aria-controls="nav-profile" aria-selected="false"> Applications Sanctioned</button>
            <button [ngClass]="{ 'active':activeTab==='APPLICATIONS_NOT_CONSIDERED'}"
              (click)="onTabChange('APPLICATIONS_NOT_CONSIDERED')" class="nav-link active" id="nav-home-tab"
              data-bs-toggle="tab" data-bs-target="#APPLICATIONS_RECEIVED" type="button" role="tab"
              aria-controls="nav-home" aria-selected="true"> Applications not considered</button>
          </div>
        </nav>

        <div class="tab-content border bg-light" id="nav-tabContent">
          <div class="tab-pane fade active show" id="APPLICATIONS_RECEIVED" role="tabpanel"
            aria-labelledby="nav-home-tab"
            [ngClass]="{ 'active':(activeTab==='APPLICATIONS_RECEIVED' || activeTab==='APPLICATIONS_UNDER_PROCESS' || activeTab==='APPLICATIONS_WITH_DIC' || activeTab==='APPLICATIONS_SANCTIONED' || activeTab==='APPLICATIONS_NOT_CONSIDERED')}"
            *ngIf="(activeTab==='APPLICATIONS_RECEIVED' || activeTab==='APPLICATIONS_UNDER_PROCESS' || activeTab==='APPLICATIONS_WITH_DIC' || activeTab==='APPLICATIONS_SANCTIONED' || activeTab==='APPLICATIONS_NOT_CONSIDERED')">

            <div class="card-body p-0">
              <div class="p-3">
                <table id="pending_table" class="table nowrap display w-100 fs-md mt-0">
                  <thead>
                    <tr>
                      <th class="text-start">Sr.no</th>
                      <th>Name of the unit</th>
                      <th>District</th>
                      <th>Mandal</th>
                      <th>Business activity</th>
                      <th>Stress Score</th>
                      <th *ngIf="activeTab === 'APPLICATIONS_NOT_CONSIDERED'">Reason For Rejection</th>
                       <th *ngIf="activeTab === 'APPLICATIONS_NOT_CONSIDERED'">Date Of Rejection</th>
                      <th>Status of application</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of tableListReceived; let i = index">
                      <td class="text-start">{{ i + 1 }}</td>
                      <td>
                        <ng-container
                          *ngIf="activeTab === 'APPLICATIONS_SANCTIONED' || activeTab === 'APPLICATIONS_UNDER_PROCESS' || activeTab === 'APPLICATIONS_NOT_CONSIDERED'; else plainText">
                          <a (click)="onRowClick(item)" [ngClass]="{'isDisabled':(loginsessionDetails?.userId!=item?.userId)}"
                            style="color: #0d6efd; text-decoration: underline; cursor: pointer;">
                            {{ item?.enterpriseName }} 
                          </a>
                        </ng-container>
                        <ng-template #plainText>
                          {{ item?.enterpriseName }}
                        </ng-template>
                      </td>
                      <td>{{ item?.district }}</td>
                      <td>{{ item?.mandal }}</td>
                      <td>{{ item?.natureOfActivity }}</td>
                      <td>{{ item?.riskCategoryScore }}</td>
                      <td *ngIf="activeTab === 'APPLICATIONS_NOT_CONSIDERED'">{{item?.reasonForRejection}}</td>
                      <td *ngIf="activeTab === 'APPLICATIONS_NOT_CONSIDERED'">{{item?.dateOfRejection}}</td>
                      <td>{{ item?.applicationStatus }}</td>
                    </tr>
                  </tbody>
                </table>
                <div *ngIf="tableListReceived?.length === 0" class="text-center py-3 text-muted">
                  Data Not Available
                </div>
                <app-pagination [currentPage]="currentPage" [totalItems]="totalItems" [pageSize]="pageSize"
                  (pageChange)="onPageChange($event)" [key]="activeTab">
                </app-pagination>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

  </section>
</main>