<main class="mt-4">
    <section>
        <div class="container-fluid">
            <div class="card mb-4">
                <div class="card-header bg-transparent">
                    <div class="d-flex align-items-center justify-content-between flex-wrap">
                        <div>
                            <h6 class="mb-2 mb-sm-0 text-green">MSME Counsellor Registration</h6>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <form [formGroup]="CounsellerForm">
                        <div class="row mb-4">
                            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                                <div class="form-floating mb-3">
                                    <input type="date" class="form-control" id="dateRegistration" placeholder="" name="dateOfRegistration" formControlName="dateOfRegistration">
                                    <label for="dateRegistration">Date Of Registration</label>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                                <div class="form-floating mb-3">
                                    <input type="text" class="form-control" id="nameCounsellor" placeholder="" name="nameOfCounsellor" formControlName="nameOfCounsellor">
                                    <label for="nameCounsellor">Name Of The MSME Counsellor</label>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                                <div class="form-floating mb-3">
                                    <input type="date" class="form-control" id="dateOfBirth" placeholder="" name="dateOfBirth" formControlName="dateOfBirth">
                                    <label for="dateOfBirth">Date Of Birth</label>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                                <label class="fs-md fw-600 mb-1">Gender</label>
                                <div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio"  name="gender" formControlName="gender" id="male" value="Male">
                                        <label class="form-check-label fs-md" for="male">Male</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio"  name="gender" formControlName="gender" id="female" value="Female">
                                        <label class="form-check-label fs-md" for="female">Female</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio"  name="gender" formControlName="gender" id="tg" value="Transgender">
                                        <label class="form-check-label fs-md" for="tg">Transgender</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 col-md-4 col-lg-6">
                                <label class="fs-md fw-600 mb-1">Social Category</label>
                                <div class="row">
                                    <div class="col-12 col-sm-6 col-md-4 col-lg-6">
                                        <div class="row">
                                            <div class="col-6 col-sm-4 col-md-2 col-lg-4">
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio"  name="socialCategory" formControlName="socialCategory" id="sc" value="sc">
                                                    <label class="form-check-label fs-md" for="sc">SC</label>
                                                </div>
                                            </div>
                                            <div class="col-6 col-sm-4 col-md-2 col-lg-4">
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio"  name="socialCategory" formControlName="socialCategory" id="female" value="st">
                                                    <label class="form-check-label fs-md" for="female">ST</label>
                                                </div>
                                            </div>
                                            <div class="col-6 col-sm-4 col-md-2 col-lg-4">
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" name="socialCategory" formControlName="socialCategory"  id="bc" value="bc">
                                                    <label class="form-check-label fs-md" for="bc">BC</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-6 col-md-4 col-lg-6">
                                        <div class="row">
                                            <div class="col-6 col-sm-4 col-md-2 col-lg-4">
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio"  name="socialCategory" formControlName="socialCategory" id="minority" value="minority">
                                                    <label class="form-check-label fs-md" for="minority">Minority</label>
                                                </div>
                                            </div>
                                            <div class="col-6 col-sm-4 col-md-2 col-lg-4">
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio"  name="socialCategory" formControlName="socialCategory" id="others" value="others">
                                                    <label class="form-check-label fs-md" for="others">Others</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="border rounded-3 py-2 px-3 mb-4">
                            <div class="row">
                                <div class="col-12">
                                    <label class="fs-md fw-600 mb-1">Educational Qualifications</label>
                                    <div class="row">
                                        <div class="col-12 col-sm-12 col-md-6 col-lg-3">
                                            <div class="row">
                                                <div class="col-12 col-sm-12 col-md-4 col-lg-4">
                                                    <div class="form-check form-check-inline">
                                                        <input class="form-check-input" type="radio"  name="educationalQualification" formControlName="educationalQualification" id="phd" value="PhD">
                                                        <label class="form-check-label fs-md" for="phd">PhD</label>
                                                    </div>
                                                </div>
                                                <div class="col-12 col-sm-12 col-md-4 col-lg-4">
                                                    <div class="form-check form-check-inline">
                                                        <input class="form-check-input" type="radio"  name="educationalQualification" formControlName="educationalQualification" id="pg" value="PG">
                                                        <label class="form-check-label fs-md" for="pg">PG</label>
                                                    </div>
                                                </div>
                                                <div class="col-12 col-sm-12 col-md-4 col-lg-4">
                                                    <div class="form-check form-check-inline">
                                                        <input class="form-check-input" type="radio"  name="educationalQualification" formControlName="educationalQualification" id="graduate" value="Graduate">
                                                        <label class="form-check-label fs-md" for="graduate">Graduate</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-sm-12 col-md-6 col-lg-3">
                                            <div class="row">
                                                <div class="col-12 col-sm-12 col-md-4 col-lg-8">
                                                    <div class="form-check form-check-inline">
                                                        <input class="form-check-input" type="radio"  id="inter" name="educationalQualification" formControlName="educationalQualification" value="inter">
                                                        <label class="form-check-label fs-md" for="inter">Inter / Polytechnic</label>
                                                    </div>
                                                </div>
                                                <div class="col-12 col-sm-12 col-md-4 col-lg-4">
                                                    <div class="form-check form-check-inline">
                                                        <input class="form-check-input" type="radio"  id="iti" name="educationalQualification" formControlName="educationalQualification" value="iti">
                                                        <label class="form-check-label fs-md" for="iti">ITI</label>
                                                    </div>
                                                </div>
                                                
                                            </div>
                                        </div>
                                        <div class="col-12 col-sm-12 col-md-6 col-lg-4">
                                            <div class="col-12 col-sm-12 col-md-4 col-lg-4">
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio"  id="ten" name="educationalQualification" formControlName="educationalQualification" value="10th">
                                                    <label class="form-check-label fs-md" for="ten">10th</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="border rounded-3 py-3 px-3 mb-4">
                            <h6 class="fs-md fw-600">Address With Pincode</h6>
                            <div class="row">
                                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                                    <div class="form-floating mb-3">
                                        <select class="form-select" id="district" name="districtId" formControlName="districtId">
                                          <option selected>Select District</option>
                                          <option value="1">District 1</option>
                                          <option value="2">District 2</option>
                                        </select>
                                        <label for="district">District</label>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                                    <div class="form-floating mb-3">
                                        <select class="form-select" id="mandal" name="mandalId" formControlName="mandalId">
                                          <option selected>Select Mandal</option>
                                          <option value="1">Mandal 1</option>
                                          <option value="2">Mandal 2</option>
                                        </select>
                                        <label for="mandal">Mandal</label>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                                    <div class="form-floating mb-3">
                                        <input type="text" class="form-control" id="village" placeholder="" name="village" formControlName="village">
                                        <label for="village">Village</label>
                                    </div>
                                </div>
                               
                                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                                    <div class="form-floating mb-3 mb-lg-0">
                                        <input type="text" class="form-control" id="house" placeholder="" name="houseNo" formControlName="houseNo">
                                        <label for="house">House No.</label>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                                    <div class="form-floating mb-3 mb-lg-0">
                                        <input type="text" class="form-control" id="street" placeholder="" name="streetName" formControlName="streetName">
                                        <label for="street">Street Name</label>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                                    <div class="form-floating mb-3 mb-lg-0">
                                        <input type="text" class="form-control" id="landmark" placeholder="" name="landmark" formControlName="landmark">
                                        <label for="landmark">Landmark</label>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                                    <div class="form-floating mb-3">
                                        <input type="number" class="form-control" id="pincode" placeholder="" name="pincode" formControlName="pincode">
                                        <label for="pincode">Pincode</label>
                                    </div>
                                    <div *ngIf="this.f2['pincode'].touched && !this.f2['pincode'].valid && !this.f2['pincode']?.errors?.['pattern']" class="error">Pincode is required</div>
                                <div *ngIf="this.f2['pincode'].touched && !this.f2['pincode'].valid && this.f2['pincode']?.errors?.['pattern']" class="error">Pincode should be 6 digit Number</div>
                                </div>
                            </div>
                        </div>
                        <div class="border rounded-3 py-3 px-3 mb-4">
                            <h6 class="fs-md fw-600">Experience In Relevant Field</h6>
                            <div class="row">
                                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                                    <div class="form-floating mb-3 mb-lg-0">
                                        <input type="number" class="form-control" id="exp" placeholder="" name="expriance" formControlName="expriance">
                                        <label for="exp">No. Of Years Of Exp</label>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                                    <div class="form-floating mb-3 mb-lg-0">
                                        <input type="text" class="form-control" id="designation" placeholder="" name="designation" formControlName="designation">
                                        <label for="designation">Designation</label>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                                    <div class="form-floating mb-3 mb-lg-0">
                                        <input type="text" class="form-control" id="specialization" placeholder="" name="specialzation" formControlName="specialzation">
                                        <label for="specialization">Specialization</label>
                                    </div>
                                </div>
                                <!-- <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                                    <label class="fs-md fw-600 mb-1">Select</label>
                                    <div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="inlineRadioOptions3" id="mepma"  name="svs" formControlName="svs" value="MEPMA">
                                            <label class="form-check-label fs-md" for="mepma">MEPMA</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="inlineRadioOptions3" id="serp" name="svs" formControlName="svs" value="SERP">
                                            <label class="form-check-label fs-md" for="serp">SERP</label>
                                        </div>
                                    </div>
                                </div> -->
                            </div>
                        </div>
                        <div class="row mb-4">
                            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                                <div class="form-floating mb-3">
                                    <input type="number" class="form-control" id="contact" placeholder="" name="contactNo" formControlName="contactNo">
                                    <label for="contact">Contact No.</label>
                                </div>
                                <div *ngIf="this.f2['contactNo'].touched && !this.f2['contactNo'].valid && !this.f2['contactNo']?.errors?.['pattern']" class="error">contact No is required</div>
                                <div *ngIf="this.f2['contactNo'].touched && !this.f2['contactNo'].valid && this.f2['contactNo']?.errors?.['pattern']" class="error">Contact No should be 10 digit Number</div>
                            
                            </div>
                            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                                <div class="form-floating mb-3">
                                    <input type="number" class="form-control" id="altcontact" placeholder="" name="altContactNo" formControlName="altContactNo">
                                    <label for="altcontact">Alt Contact No.</label>
                                </div>
                                <div *ngIf="this.f2['altContactNo'].touched && !this.f2['altContactNo'].valid && !this.f2['altContactNo']?.errors?.['pattern']" class="error">Alt contact No is required</div>
                                <div *ngIf="this.f2['altContactNo'].touched && !this.f2['altContactNo'].valid && this.f2['altContactNo']?.errors?.['pattern']" class="error">Alt Contact No should be 10 digit Number</div>
                            
                            </div>
                            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                                <div class="form-floating mb-3">
                                    <input type="text" class="form-control" id="email" placeholder="" name="emailId" formControlName="emailId">
                                    <label for="email">Email Id</label>
                                </div>
                            </div>
                        </div>
                        <div class="border rounded-3 py-3 px-3 mb-4">
                            <div class="row mb-4">
                                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                                    <div class="form-floating mb-3 mb-lg-0">
                                        <input type="date" class="form-control" id="selection" placeholder="" name="dateOfSelection" formControlName="dateOfSelection">
                                        <label for="selection">Date Of Selection</label>
                                    </div>
                                </div>
                            </div>
                            <h6 class="fs-md fw-600">Allotment Details</h6>
                            <div class="row">
                                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                                    <div class="form-floating mb-3">
                                        <select class="form-select" id="districtAlloted" name="allortedDistrictId" formControlName="allortedDistrictId">
                                          <option selected>Select Mandal</option>
                                          <option value="1">District 1</option>
                                          <option value="2">District 2</option>
                                        </select>
                                        <label for="districtAlloted">Name Of The District Allotted</label>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                                    <div class="form-floating mb-3 mb-lg-0">
                                        <select class="form-select" id="mandalAlloted" name="allortedMandalId" formControlName="allortedMandalId">
                                            <option selected>Select Mandal</option>
                                            <option value="1">Mandal 1</option>
                                            <option value="2">Mandal 2</option>
                                          </select>
                                        <label for="mandalAlloted">Name Of The Mandal Allotted</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="text-end">
                            <button type="button" (click)="submitForm()" class="btn btn-lime-green">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</main>