<main class="pt-80">
        <section class="pt-3">
            <div class="container-fluid">
                <div class="card">
                    <div class="card-header bg-theme text-white">
                        <h6 class="mb-0">New Application</h6>
                    </div>
                    <div class="card-body">
                        <div class="row mb-3">
                            <div class="col-md-12 d-flex justify-content-end align-items-center">
                                <div class="me-2" style="width: 180px;">
                                    <select class="form-select" [(ngModel)]="searchType" (change)="filterTable()">
                                        <option value="">Select Parameter</option>
                                        <option value="applicationNo">Application No</option>
                                         <option value="unitName">Name Of Unit</option>
                                           <option value="contactNo">Mobile No</option>
                                        <!-- Add more options here if needed -->
                                    </select>
                                </div>
                                <div style="width: 260px;">
                                    <input
                                        type="text"
                                        class="form-control"
                                       placeholder="Search"
                                        [(ngModel)]="searchText"
                                        (input)="filterTable()"
                                    />
                                </div>
                            </div>
                        </div>
                        <table id="pending_table" class="table nowrap display w-100 fs-md mt-0">
                            <thead>
                                <tr>
                                   <th class="text-start">S.No</th>
                                    <th>Application No</th>
                                    <th>Enterprise</th>
                                    <th class="text-start">Promoter</th>
                                    <th>Mobile No</th>
                                    <th>Date Of Application</th>
                                    <th class="text-center">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                 <tr *ngFor="let item of tableList; let i = index">
                                    <td class="text-start">{{ i + 1 }}</td>

                                    <td>{{ item.applicationNo }}</td>
                                    <td>{{ item.enterpriseName }}</td>
                                    <td class="text-start">{{ item.promoterName }}</td>
                                    <td>{{ item.contactNumber }}</td>
                                    <td>{{ item.createdOn  }}</td>
                                    <td class="text-center">
                                        <a (click)="selectApplication(item)" class="btn btn-outline-primary btn-sm shadow-none">
                                            select
                                        </a>
                                    </td>
                                </tr>
                           
                            </tbody>
                        </table>
                         <app-pagination
                                 [currentPage]="currentPage"
                                 [totalItems]="totalItems"
                                [pageSize]="pageSize"
                                (pageChange)="onPageChange($event)">
                         </app-pagination>
                    </div>
                </div>
            </div>
        </section>
</main>