<main class="mt-4">
    <section>
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 col-sm-6 col-md-4 col-lg-2">
                    <a href="javascript:;" (click)="getDataByCategory('Location')">
                        <div class="card HoverBox text-center p-3 mb-4">
                            <div class="d-flex align-items-center" >
                                <div class="symbol me-3">
                                    <div class="symbol-label bg-light-info">
                                        <span class="bi bi-geo-alt text-icon1 fs-4"></span>
                                    </div>
                                </div>
                                <div>
                                    <!-- <h4 class="text-dark fw-bold mb-1">100</h4> -->
                                    <h6 class="text-muted fs-md fw-500 mb-0"> <a > Locations </a></h6>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-2">
                    <a href="javascript:;" (click)="getDataByCategory('Resources')">
                        <div class="card HoverBox text-center p-3 mb-4">
                            <div class="d-flex align-items-center" >
                                <div class="symbol me-3">
                                    <div class="symbol-label bg-light-danger">
                                        <span class="bi bi-gear text-danger fs-4"></span>
                                    </div>
                                </div>
                                <div>
                                    <!-- <h4 class="text-dark fw-bold mb-1">100</h4> -->
                                    <h6 class="text-muted fs-md fw-500 mb-0"> <a>Resources </a> </h6>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-2">
                    <a href="javascript:;"  (click)="getDataByCategory('Organizations')">
                        <div class="card  HoverBox text-center p-3 mb-4">
                            <div class="d-flex align-items-center">
                                <div class="symbol me-3">
                                    <div class="symbol-label bg-light-success">
                                        <span class="bi bi-people text-success fs-4"></span>
                                    </div>
                                </div>
                                <div>
                                    <!-- <h4 class="text-dark fw-bold mb-1">100</h4> -->
                                    <h6 class="text-muted fs-md fw-500 mb-0"> <a >Organisations </a></h6>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="card mb-4" *ngIf="SelectedCategory=='Location'">                
                <div class="card-header bg-transparent">                    
                    <div class="row align-items-center">
                        <div class="col-12 col-sm-7 col-md-8 col-lg-9">
                            <h6 class="fw-600 mb-2 mb-sm-0 text-green">View Locations</h6>
                        </div>
                        <ng-container *ngIf="loginsessionDetails?.userRole == 'ADMIN'">
                            <div class="col-12 col-sm-5 col-md-4 col-lg-3">
                                <label for="Agencies" style="font-weight: 600;">List Of Agencies</label>
                                <select class="form-select" (change)="getLocationsByAgency($any($event.target).value)">
                                    <option value="All Agency" selected>All Agencies</option>
                                    <option *ngFor="let list of agencyList" value="{{list.agencyId}}">{{list.agencyName}}</option>
                                </select>
                            </div>
                        </ng-container>                        
                    </div>
                </div>
                <div class="card-body">
                    <div class="dtable-container">                        
                        <table id="view-table-locations" class="display" style="width:100%">
                            <thead class="bg-lime-green text-white">
                                <tr>
                                    <th>S.No</th>
                                    <th *ngIf="loginsessionDetails?.userRole == 'ADMIN'">Agency</th>
                                    <th>Program Location</th>
                                    <th>District</th>
                                    <th>Mandal</th>
                                    <th>Type Of Venue</th>
                                    <th>Max Capacity</th>
                                    <th>Type Of Ownership</th>
                                    <th>Date</th>
                                    <th>Latitude</th>
                                    <th>Longitutde</th>
                                    <th>Google Map Url</th>
                                    <!-- <th class="text-center">Edit / Delete</th> -->
                                </tr>
                            </thead>
                            <tbody *ngIf="locationsList">
                                <tr *ngFor="let item of locationsList; let i = index">
                                    <td class="text-start">{{i+1}}</td>
                                    <td *ngIf="loginsessionDetails?.userRole == 'ADMIN'" >{{item?.agencyName}}</td>
                                    <td>{{item?.locationName}}</td>
                                    <td>{{item?.locationName}}</td>
                                    <td>{{item?.locationName}}</td>
                                    <td>{{item?.typeOfVenue}}</td>
                                    <td>{{item?.capacity}}</td>
                                    <td>{{item?.ownershipType}}</td>
                                    <td>{{item?.createdOn | date:'dd-MM-yyyy'}}</td>
                                    <td>{{item?.latitude}}</td>
                                    <td>{{item?.longitude}}</td>
                                    <td>{{item?.googleMapUrl}}</td>
                                    
                                    <!-- <td class="text-center">
                                        <button type="button" class="btn btn-default text-lime-green btn-sm"><span class="bi bi-pencil"></span></button>
                                        <button type="button" class="btn btn-default text-danger btn-sm"><span class="bi bi-trash"></span></button>
                                    </td> -->
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>


            <div class="card mb-4" *ngIf="SelectedCategory=='Resources'">                
                <div class="card-header bg-transparent">                    
                    <div class="row align-items-center">
                        <div class="col-12 col-sm-7 col-md-8 col-lg-9">
                            <h6 class="fw-600 mb-2 mb-sm-0 text-green">View Resources</h6>
                        </div>
                        <ng-container *ngIf="loginsessionDetails?.userRole == 'ADMIN'">
                            <div class="col-12 col-sm-5 col-md-4 col-lg-3">
                                <label for="Agencies" style="font-weight: 600;">List Of Agencies</label>
                                <select class="form-select" (change)="getResourcesByAgency($any($event.target).value)">

                                    <!-- <option value="All Agency">Select Agency</option> -->
                                    <option value="All Agency" selected>All Agencies</option>
                                    <option *ngFor="let list of agencyList" value="{{list.agencyId}}">{{list.agencyName}}</option>
                                </select>
                            </div>
                        </ng-container>                        
                    </div>
                </div>
                <div class="card-body">
                    <div class="row mb-3">
                        <div class="col-12 col-sm-6 col-md-6 col-lg-6">
                            <!-- <button type="button" [ngClass]="{'disabled': !programIds}" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#exampleModalDeleteConfirm">Final Submission</button> -->
                        </div>
                        <div class="col-12 col-12 col-sm-6 col-md-6 col-lg-6 text-end">
                            <button type="button" (click)="downloadProgram()" class="btn btn-secondary">Download Resources</button> &nbsp;&nbsp;
                        </div>
                    </div>
                    <div class="dtable-container">                        
                        <table id="view-table-resourcePerson1" class="display" style="width:100%">
                            <thead class="bg-lime-green text-white">
                                <tr>
                                    <th>S.No</th>
                                    <th *ngIf="loginsessionDetails?.userRole == 'ADMIN'" >Agency</th>
                                    <th>Organization Name</th>
                                    <th>Resource Name</th>
                                    <th>Designation</th>
                                    <th>Specialization</th>
                                    <th>Mobile Number</th>
                                    <th>Email</th>
                                    <!-- <th class="text-center">Edit / Delete</th> -->
                                </tr>
                            </thead>
                            <tbody *ngIf="resources">
                                <tr *ngFor="let item of resources; let i = index">
                                    <td class="text-start">{{i + 1}}</td>
                                    <td *ngIf="loginsessionDetails?.userRole == 'ADMIN'">{{item?.agencyNames}}</td>
                                    <td>{{item?.organizationName}}</td>

                                    <td>{{item?.name}}</td>
                                    <td>{{item?.designation}}</td>
                                    <td>{{item?.specialization}}</td>
                                    <td>{{item?.mobileNo}}</td>
                                    <td>{{item?.email}}</td>
                                    <!-- <td class="text-center">
                                        <button type="button" class="btn btn-default text-lime-green btn-sm"><span class="bi bi-pencil"></span></button>
                                        <button type="button" class="btn btn-default text-danger btn-sm"><span class="bi bi-trash"></span></button>
                                    </td> -->
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="card mb-4" *ngIf="SelectedCategory=='Organizations'">                
                <div class="card-header bg-transparent">                    
                    <div class="row align-items-center">
                        <div class="col-12 col-sm-7 col-md-8 col-lg-9">
                            <h6 class="fw-600 mb-2 mb-sm-0 text-green">View Organizations</h6>
                        </div>
                        <!-- <ng-container *ngIf="loginsessionDetails?.userRole == 'ADMIN'">
                            <div class="col-12 col-sm-5 col-md-4 col-lg-3">
                                <label for="Agencies" style="font-weight: 600;">List Of Agencies</label>
                                <select class="form-select" >
                                    <option value="">Select Agency</option>
                                    <option *ngFor="let list of agencyList" value="{{list.agencyId}}">{{list.agencyName}}</option>
                                </select>
                            </div>
                        </ng-container>                         -->
                    </div>
                </div>
                <div class="card-body">
                    <div class="dtable-container">                        
                        <table id="view-table-organization" class="display" style="width:100%">
                            <thead class="bg-lime-green text-white">
                                <tr>
                                    <th>S.No</th>
                                    <th>Type Of Organization</th>
                                    <th>Organization Name</th>
                                    <th>Name Of Director/Promotor/Leader</th>
                                    <th>Contact</th>
                                    <th>Email</th>
                                    <th>Address</th>
                                    <!-- <th class="text-center">Edit / Delete</th> -->
                                </tr>
                            </thead>
                            <tbody *ngIf="organizations">
                                <tr *ngFor="let item of organizations; let i = index">
                                    <td class="text-start">{{i + 1}}</td>
                                    <td>{{item?.organizationType}}</td>
                                    <td>{{item?.organizationName}}</td>
                                    <td>{{item?.ownerName}}</td>
                                    <td>{{item?.ownerContactNo}}</td>
                                    <td>{{item?.ownerEmail}}</td>
                                    <td>{{item?.ownerAddress}}</td>
                                    <!-- <td class="text-center">
                                        <button type="button" class="btn btn-default text-lime-green btn-sm"><span class="bi bi-pencil"></span></button>
                                        <button type="button" class="btn btn-default text-danger btn-sm"><span class="bi bi-trash"></span></button>
                                    </td> -->
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            
            
        </div>
    </section>
</main>