.symbol {
    display: inline-block;
    flex-shrink: 0;
    position: relative;
    border-radius: .75rem;
}

.symbol .symbol-label {
    width: 50px;
    height: 50px;
}

.symbol .symbol-label {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    color: #252f4a;
    /* background-color: #f9f9f9;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover; */
    border-radius: .75rem;
}

.bg-light-info{
    background-color: #e9e0fe;
}

.bg-light-danger{
    background-color: #ffeef3;
}

.bg-light-success{
    background-color: #dfffea;
}

.text-icon1{
    color: #7239ea;
}
.HoverBox:hover,.text-muted:hover{
    border-right: ridge;
    font-size: 18px;
    
}

