
.zoomed {
  transform: scale(2); /* Zoom 200% */
  cursor: zoom-out;
}
/* common-file-viewer.component.css */
.zoom-container {
  overflow: hidden;
  max-width: 100%;
  max-height: 500px;
  text-align: center;
}

.zoom-image {
  transition: transform 0.3s ease;
  cursor: zoom-in;
  max-width: 100%;
  max-height: 500px;
}

.zoom-image:hover {
  transform: scale(1.5); /* Zoom 150% on hover */
  cursor: zoom-out;
}
