<main class="mt-4">
    <section>
        <div class="container-fluid">
            <div class="card mb-3">
                <div class="card-header bg-transparent">
                    <h6 class="fw-600 mb-2 mb-sm-2 mb-md-0">SHG Training Status</h6>
                </div>
                <div class="card-body">
                    <div>
                        <table id="training-table" class="table table-bordered table-striped nowrap w-100">
                            <thead class="bg-lime-green text-white">
                                <tr>
                                    <th rowspan="2" valign="middle">Name of the District</th>
                                    <th colspan="3">Total No. of SHGs Attended for Awareness Program</th>
                                    <th colspan="3">Total No. of SHGs Attended for Training Program</th>
                                    <th colspan="3">Total No. of SHGs Awaiting for Training Program</th>
                                </tr>
                                <tr>
                                    <th>Sector 1</th>
                                    <th>Sector 2</th>
                                    <th>Sector 3</th>
                                    <th>Sector 1</th>
                                    <th>Sector 2</th>
                                    <th>Sector 3</th>
                                    <th>Garments</th>
                                    <th>Food Processing</th>
                                    <th>Handicrafts</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Nalgonda</td>
                                    <td>sector 1</td>
                                    <td>sector 2</td>
                                    <td>sector 3</td>
                                    <td>sector 1</td>
                                    <td>sector 2</td>
                                    <td>sector 3</td>
                                    <td>
                                        <a href="#" data-bs-toggle="modal" data-bs-target="#traningStatus">Garments 1</a>
                                    </td>
                                    <td>
                                        <a href="#" data-bs-toggle="modal" data-bs-target="#traningStatus">Food Processing 1</a>
                                    </td>
                                    <td>
                                        <a href="#" data-bs-toggle="modal" data-bs-target="#traningStatus">Handicrafts 1</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Nalgonda</td>
                                    <td>sector 1</td>
                                    <td>sector 2</td>
                                    <td>sector 3</td>
                                    <td>sector 1</td>
                                    <td>sector 2</td>
                                    <td>sector 3</td>
                                    <td>
                                        <a href="#" data-bs-toggle="modal" data-bs-target="#traningStatus">Garments 1</a>
                                    </td>
                                    <td>
                                        <a href="#" data-bs-toggle="modal" data-bs-target="#traningStatus">Food Processing 1</a>
                                    </td>
                                    <td>
                                        <a href="#" data-bs-toggle="modal" data-bs-target="#traningStatus">Handicrafts 1</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Nalgonda</td>
                                    <td>sector 1</td>
                                    <td>sector 2</td>
                                    <td>sector 3</td>
                                    <td>sector 1</td>
                                    <td>sector 2</td>
                                    <td>sector 3</td>
                                    <td>
                                        <a href="#" data-bs-toggle="modal" data-bs-target="#traningStatus">Garments 1</a>
                                    </td>
                                    <td>
                                        <a href="#" data-bs-toggle="modal" data-bs-target="#traningStatus">Food Processing 1</a>
                                    </td>
                                    <td>
                                        <a href="#" data-bs-toggle="modal" data-bs-target="#traningStatus">Handicrafts 1</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Nalgonda</td>
                                    <td>sector 1</td>
                                    <td>sector 2</td>
                                    <td>sector 3</td>
                                    <td>sector 1</td>
                                    <td>sector 2</td>
                                    <td>sector 3</td>
                                    <td>
                                        <a href="#" data-bs-toggle="modal" data-bs-target="#traningStatus">Garments 1</a>
                                    </td>
                                    <td>
                                        <a href="#" data-bs-toggle="modal" data-bs-target="#traningStatus">Food Processing 1</a>
                                    </td>
                                    <td>
                                        <a href="#" data-bs-toggle="modal" data-bs-target="#traningStatus">Handicrafts 1</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Nalgonda</td>
                                    <td>sector 1</td>
                                    <td>sector 2</td>
                                    <td>sector 3</td>
                                    <td>sector 1</td>
                                    <td>sector 2</td>
                                    <td>sector 3</td>
                                    <td>
                                        <a href="#" data-bs-toggle="modal" data-bs-target="#traningStatus">Garments 1</a>
                                    </td>
                                    <td>
                                        <a href="#" data-bs-toggle="modal" data-bs-target="#traningStatus">Food Processing 1</a>
                                    </td>
                                    <td>
                                        <a href="#" data-bs-toggle="modal" data-bs-target="#traningStatus">Handicrafts 1</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>