<!-- <mat-form-field appearance="outline">
    <mat-label>Payment For Month</mat-label>
    <input matInput 
           [matDatepicker]="dp1" 
           [formControl]="date1"
            [max]="disableFuture ? maxDate : null"
           placeholder="Select month and year"
           readonly
           (click)="dp1.open()" 
           (keydown)="$event.preventDefault()">    
    <mat-datepicker-toggle matSuffix [for]="dp1"></mat-datepicker-toggle>
    <mat-datepicker #dp1 
                    startView="multi-year" 
                    (monthSelected)="setMonthAndYear($event, dp1)"
                    (yearSelected)="onYearSelected($event)"
                    panelClass="example-month-picker">
    </mat-datepicker>
</mat-form-field> -->

<div class="form-floating">
    <input matInput 
           class="form-control"
           id="paymentForMonthInput"
           [matDatepicker]="dp1" 
           [formControl]="date1"
           [max]="disableFuture ? maxDate : null"
           placeholder="Payment For Month"
           readonly
           (click)="dp1.open()" 
           (keydown)="$event.preventDefault()">
    <label for="paymentForMonthInput">{{NameOfField?NameOfField: 'Payment For Month'}}</label>
    <mat-datepicker-toggle matSuffix [for]="dp1"></mat-datepicker-toggle>
    <mat-datepicker #dp1 
                    startView="multi-year" 
                    (monthSelected)="setMonthAndYear($event, dp1)"
                    (yearSelected)="onYearSelected($event)"
                    panelClass="example-month-picker">
    </mat-datepicker>
</div>