 <fieldset>
                          <div class="card border rounded-2 shadow-none mb-3">
                            <div class="card-header bg-theme text-white">
                                <h6 class="mb-0">Primary Lender NOC</h6>
                            </div>
                            <div class="card-body">
                              <div class="row">
                                <div class="col-12 col-sm-12 col-md-6 offset-md-3 col-lg-4 offset-lg-4">
                                  <div>
                                    <label for="uploadNoc" class="form-label text-center fw-600">Upload Primary Lender NOC</label>
                                    <input class="form-control" id="uploadNoc" type="file">
                                  </div>
                                </div>
                              </div> 
                            </div>
                          </div>
                          <input type="button" name="previous" class="previous btn btn-secondary float-start" value="Previous"/>
                          <input type="button" name="next" class="next btn btn-primary float-end" value="Next"/>
                      </fieldset>