<div class="home-container">
    <div class="home-header">
      <div class="home-title">
        <h1>Photo Collage</h1>
        <span>Welcome to the Photo Collage App!</span>
        <div class="home-button">
          <button class="home-button-field" (click)="redirectToCollageCreation()">
            Create Collage
          </button>
        </div>
      </div>
    </div>
  
    <div class="home-content">
      <div class="filter-container">
        <label for="agencyFilter">Filter by Agency:</label>
        <select id="agencyFilter"  (change)="onAgencyChange($event)">
          <option value="">All Agencies</option>
          <option *ngFor="let agency of agencies" [value]="agency.agencyId">
            {{ agency.agencyName }}
          </option>
        </select>

      </div>
      <p class="home-content-title">Recent Collage Images</p>
      <div class="home-image-grid">
        <div *ngIf="(filteredImages ?? []).length > 0; else noImages" class="home-image-grid">
          <div *ngFor="let image of filteredImages" class="home-image-item">
            <img
              [src]="getImageSrc(image.fileUrl)"
              [alt]="getFileName(image.fileUrl)"
              style="width: 100%; height: 200px"
            />
            <p class="collage-image-Name">{{ getFileName(image.fileUrl) }}</p>

            <a
              (click)="getDownloadUrl(image.fileUrl)"
              class="download-button"
              style="display: inline-flex; align-items: center; gap: 6px; padding: 2px 12px;
                    background-color: #155E95; color: #fff; border-radius: 4px;
                    text-decoration: none; font-size: 13px; margin: 4px;cursor: pointer;"
              download
            >
              <!-- <fa-icon [icon]="['fas', 'download']"></fa-icon> -->
              Download
            </a>
          </div>
        </div>


        <ng-template #noImages>
          <p>No collage images found.</p>
        </ng-template>

      </div>
    </div>
  
</div>
  