<main class="mt-4">
    <section>
      <div class="container-fluid">
        <div class="card mb-3">
          <div class="card-header bg-transparent">
            <div class="row"> 
               <h6 class="fw-bold mb-3">Quaterly Wise MoMSME Report</h6>
            </div>
            <div class="row align-items-center mt-2 mb-2">
              <!-- <div class="col-12 col-sm-12 col-md-4 col-lg-3 hidden">
                <mat-radio-group [(ngModel)]="selectedType" (change)="onTypeChange($event.value)" aria-label="Select Data Type">
                    <mat-radio-button value="Actuals" class="me-3">Actuals</mat-radio-button>
                    <mat-radio-button value="Submitted">Submitted</mat-radio-button>
                </mat-radio-group>
              </div> -->
              <div class="col-12 col-sm-5 col-md-4 col-lg-3">
           
                <mat-form-field appearance="outline" class="w-100">
                            <mat-label>List Of Intervention</mat-label>
                                <mat-select [(ngModel)]="selectedAgencyId" (selectionChange)="GetProgramsByAgency($any($event).value)">
                                <mat-select-filter [array]="agencyList"  (filteredReturn)="agencyListFiltered = $event">
                                </mat-select-filter>
                                <mat-option value="-1" >All Intervention</mat-option>
                                <mat-option *ngFor="let list of agencyListFiltered" [value]="list.moMSMEActivityId">
                                {{ list.intervention }}
                                </mat-option>
                            </mat-select>
                            </mat-form-field>
              </div>
           
              <div class="col-12 col-sm-5 col-md-4 col-lg-3">
            
                <mat-form-field appearance="outline" class="w-100">
                            <mat-label>List Of FY</mat-label>
                                <mat-select [(ngModel)]="selectedFinancialYear" (selectionChange)="getBasedOnYearSelection($any($event).value)">
                                <mat-select-filter [array]="financialYears" (filteredReturn)="financialYRFiltered = $event">
                                </mat-select-filter>
                                <!-- <mat-option value="" disabled>Select Program</mat-option> -->
                                <mat-option *ngFor="let list of financialYRFiltered" [value]="list">
                                {{ list }}
                                </mat-option>
                            </mat-select>
                            </mat-form-field>
              </div>
              <div class="col-12 col-sm-12 col-md-4 col-lg-3">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Select Quarter</mat-label>
                    <mat-select [(ngModel)]="selectedQuarter" (selectionChange)="onQuarterChange($event.value)">
                        <mat-option value="Q1">Q1 (Apr-Jun)</mat-option>
                        <mat-option value="Q2">Q2 (Jul-Sep)</mat-option>
                        <mat-option value="Q3">Q3 (Oct-Dec)</mat-option>
                        <mat-option value="Q4">Q4 (Jan-Mar)</mat-option>
                    </mat-select>
                </mat-form-field>
                </div>
            </div>
          </div>
          <div class="card-body mb-3">

            <!-- <h6 class="fw-bold mb-3">Quaterly Wise MoMSME Report</h6> -->
            <!--  id=view-physical-table  -->
            <div class="table-container" style="max-height: 450px !important;">
              <table  class="table table-bordered table-striped nowrap w-100 fsize-10">
                <thead class="bg-lime-green text-white">
                  <tr>
                    <th class="text-center sticky-col-1" rowspan="4">Intervention</th>
                    <th class="text-center sticky-col-2" rowspan="4">Component</th>
                    <th class="text-center sticky-col-2" rowspan="4">Activity</th>

                    
                 
                    <!-- <ng-container *ngFor="let item of this.tableheaderList"> -->
                      <th class="text-center" rowspan="1" colspan="9" >Cumulative(1-Apr-2024-Till date) </th>
                      <th class="text-center"rowspan="1"  colspan="9" >Current Quarter</th>
                  
                    <!-- </ng-container> -->
                  </tr>
                  <tr>
                    <!-- <ng-container *ngFor="let item of [1,2,3,4,5]"> -->
                      <th class="text-center"  rowspan="1" colspan="5">Targets v/s Achievements</th>
                      <th class="text-center" rowspan="1" colspan="4" >  	MoMSME's Benifitted</th>
                      
                      <th class="text-center"  rowspan="1" colspan="5">Targets v/s Achievements</th>
                      <th class="text-center" rowspan="1" colspan="4" >  	MoMSME's Benifitted</th>
                    <!-- </ng-container> -->
                  </tr>
                  <tr>
                    <!-- <ng-container *ngFor="let item of [1,2,3,4,5,6,7,8,9,10]"> -->
                      <th class="text-center" >Physical Target</th>
                      <th class="text-center" >Physical Achievements</th>
                        <th class="text-center" >Financial Target</th>
                        <th class="text-center" >Financial Achievements </th>
                        <th  class="text-center">Total</th>

                        <th  class="text-center">Women</th>
                        <th  class="text-center">ST</th>
                        <th  class="text-center">SC</th>
                        <th  class="text-center">OBC</th>

                        <th class="text-center" >Physical Target</th>
                      <th class="text-center" >Physical Achievements</th>
                        <th class="text-center" >Financial Target</th>
                        <th class="text-center" >Financial Achievements </th>
                        <th  class="text-center">Total</th>

                        <th  class="text-center">Women</th>
                        <th  class="text-center">ST</th>
                        <th  class="text-center">SC</th>
                        <th  class="text-center">OBC</th>

                    <!-- </ng-container> -->
                  </tr>
                </thead>
              
                  <tbody >

                    <tr *ngFor="let row of getTableData">
                      <td class="text-center sticky-col-1">{{ row.intervention }}</td>
                      <td class="text-center sticky-col-2">{{ row.component }}</td>
                      <td class="text-center sticky-col-2">{{ row.activity }}</td>
                      <!-- Cumulative (1-Apr-2024-Till date) Targets v/s Achievements -->
                      <td class="text-center">{{ row.cumulativeMoMSMEBenefitedDto?.physicalTarget ?? 0 }}</td>
                      <td class="text-center">{{ row.cumulativeMoMSMEBenefitedDto?.physicalAchievement ?? 0 }}</td>
                      <td class="text-center">{{ row.cumulativeMoMSMEBenefitedDto?.financialTarget ?? 0 }}</td>
                      <td class="text-center">{{ row.cumulativeMoMSMEBenefitedDto?.financialAchievement ?? 0 }}</td>
                      <td class="text-center">{{ row.cumulativeMoMSMEBenefitedDto?.total ?? 0 }}</td>
                      <!-- Cumulative MSME's Benefitted -->
                      <td class="text-center">{{ row.cumulativeMoMSMEBenefitedDto?.women ?? 0 }}</td>
                      <td class="text-center">{{ row.cumulativeMoMSMEBenefitedDto?.st ?? 0 }}</td>
                      <td class="text-center">{{ row.cumulativeMoMSMEBenefitedDto?.sc ?? 0 }}</td>
                      <td class="text-center">{{ row.cumulativeMoMSMEBenefitedDto?.obc ?? 0 }}</td>
                      <!-- Current Quarter Targets v/s Achievements -->
                      <td class="text-center">{{ row.physicalTarget ?? 0 }}</td>
                      <td class="text-center">{{ row.physicalAchievement ?? 0 }}</td>
                      <td class="text-center">{{ row.financialTarget ?? 0 }}</td>
                      <td class="text-center">{{ row.financialAchievement ?? 0 }}</td>
                      <td class="text-center">{{ row.currentQuarterMoMSMEBenefitedDto?.total ?? 0 }}</td>
                      <!-- Current Quarter MSME's Benefitted -->
                      <td class="text-center">{{ row.currentQuarterMoMSMEBenefitedDto?.women ?? 0 }}</td>
                      <td class="text-center">{{ row.currentQuarterMoMSMEBenefitedDto?.st ?? 0 }}</td>
                      <td class="text-center">{{ row.currentQuarterMoMSMEBenefitedDto?.sc ?? 0 }}</td>
                      <td class="text-center">{{ row.currentQuarterMoMSMEBenefitedDto?.obc ?? 0 }}</td>
                    </tr>
                    <tr *ngIf="errorMessage">
                      <td class="text-center" colspan="22">Data not available</td>
                    </tr>
                  </tbody>
                </table>
            </div>
          
            
        
          </div>
       
        </div>
      </div>
    </section>
  </main>