  <main class="pt-80">
        <section class="pt-3">
            <div class="container-fluid">
                <div class="card">
                    <div class="card-header bg-theme text-white">
                        <h6 class="mb-0 ">Pending Approvals - DIC</h6>
                    </div>
                    <div class="card-body">
                        <table id="pending_table" class="table nowrap display w-100 fs-md mt-0">
                            <thead>
                                <tr>
                                    <th class="text-start">S.No</th>
                                    <th>View</th>
                                    <th>Date Application</th>
                                    <th>Application Number</th>
                                    <th>Executive Name</th>
                                    <th>Executive Feedback Date</th>
                                    <th>Unit Name</th>
                                    <th>Promoter Name</th>
                                    <th>Mobile No.</th>
                                    <th>Industry</th>
                                    <th>Sector</th>
                                </tr>
                            </thead>
                            <tbody>
                                 <tr *ngFor="let item of tableList; let i = index">
                                    <td class="text-start">{{ i + 1 }}</td>
                                    <td><a href="#" data-bs-toggle="modal" data-bs-target="#viewModal" (click)="ShowDataForApproval(item)"><span class="bi bi-eye"></span></a></td>
                                    <td>{{ item.dateOfSubmission }}</td>
                                    <td>{{item?.applicationNo}}</td>
                                    <td>{{ item.executive }}</td>
                                    <!-- <td>{{ item.executiveFeedbackDate }}</td> -->
                                     <td>13-05-2025</td>
                                    <td>{{ item.enterpriseName }}</td>
                                    <td>{{ item.promoterName }}</td>
                                    <td>{{ item.contactNumber }}</td>
                                    <td>{{ item.natureOfActivity }}</td>
                                    <td>{{ item.sector }}</td>
                                </tr>
                           
                            </tbody>
                        </table>
                         <app-pagination
                                 [currentPage]="currentPage"
                                 [totalItems]="totalItems"
                                [pageSize]="pageSize"
                                (pageChange)="onPageChange($event)">
                         </app-pagination>
                    </div>
                </div>
            </div>
        </section>
    </main>

   <div class="modal fade" id="viewModal" tabindex="-1" aria-labelledby="viewModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-xl">
            <div class="modal-content">
                <div class="modal-header bg-theme">
                    <h6 class="modal-title text-white fw-bold ">View Application</h6>
                    <button type="button" class="btn-close text-white" data-bs-dismiss="modal" aria-label="Close"><span
                            class="bi bi-x-lg"></span></button>
                </div>
                <div class="modal-body">
                    <!-- <div class="row">
                        <div class="col-12 col-sm-12 col-md-4 col-lg-3 offset-lg-9">
                            <div class="mb-3">
                                <select class="form-select form-control-sm" disabled>
                                    <option value="#">Select Applicant Company</option>
                                    <option value="1" selected>ABC Pvt. Ltd.</option>
                                </select>
                            </div>
                        </div>
                    </div> -->
                    <div class="border rounded-3 p-2 mb-3">
                        <div class="row">
                            <div class="col-12 col-sm-12 col-md-4 col-lg-3">
                                <div class="mb-3">
                                    <label class="d-block fs-md fw-600 mb-1">Executive Name</label>
                                    <label class="d-block fs-md">{{ approvalData?.executive || 'N/A' }}</label>
                                </div>
                            </div>
                            <div class="col-12 col-sm-12 col-md-4 col-lg-3">
                                <div class="mb-3">
                                    <label class="d-block fs-md fw-600 mb-1">Company Name</label>
                                    <label class="d-block fs-md">{{ approvalData?.enterpriseName || 'N/A' }}</label>
                                </div>
                            </div>
                            <div class="col-12 col-sm-12 col-md-4 col-lg-3">
                                <div class="mb-3">
                                    <label class="d-block fs-md fw-600 mb-1">Mobile No.</label>
                                    <label class="d-block fs-md">{{ approvalData?.contactNumber || 'N/A' }}</label>
                                </div>
                            </div>
                            <div class="col-12 col-sm-12 col-md-4 col-lg-3">
                                <div class="mb-3">
                                    <label class="d-block fs-md fw-600 mb-1">Email</label>
                                    <label class="d-block fs-md">{{ approvalData?.email || 'N/A' }}</label>
                                </div>
                            </div>
                              <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                                <div class="mb-3">
                                    <label class="d-block fs-md fw-600 mb-1">District</label>
                                    <label class="d-block fs-md">{{ approvalData?.district || 'N/A' }}</label>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                                <div class="mb-3">
                                    <label class="d-block fs-md fw-600 mb-1">Mandal</label>
                                    <label class="d-block fs-md">{{ approvalData?.mandal || 'N/A' }}</label>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                                <div class="mb-3">
                                    <label class="d-block fs-md fw-600 mb-1">Address</label>
                                    <label class="d-block fs-md">{{ approvalData?.address || 'N/A' }}</label>
                                </div>
                            </div>
                            <div class="col-12 col-sm-12 col-md-4 col-lg-3">
                                <div class="mb-3">
                                    <label class="d-block fs-md fw-600 mb-1">Sector</label>
                                    <label class="d-block fs-md">{{ approvalData?.sector || 'N/A' }}</label>
                                </div>
                            </div>
                            <div class="col-12 col-sm-12 col-md-4 col-lg-3">
                                <div class="mb-3">
                                    <label class="d-block fs-md fw-600 mb-1">Enterprise Category</label>
                                    <label class="d-block fs-md">{{ approvalData?.enterpriseCategory || 'N/A' }}</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-sm-12 col-md-4 col-lg-3">
                            <h6 class="fs-md fw-600 mb-1">Upload DIC NOC<span class="text-danger">*</span></h6>
                            <div class="form-floating">
                                <input type="file" class="form-control" id="fileInput" placeholder="" disabled>
                                <label for="fileInput">Upload Noc</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" data-bs-toggle="modal" data-bs-target="#approvedModal" class="btn btn-primary" data-bs-dismiss="modal">Approve</button>
                    <button type="button" data-bs-toggle="modal" data-bs-target="#rejectModal" data class="btn btn-danger" data-bs-dismiss="modal">Reject</button>
                </div>
            </div>
        </div>
    </div>

    <!-- begin:: approved modal -->
    <div class="modal fade" id="approvedModal" tabindex="-1" aria-labelledby="approvedModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header py-2">
                    <h6 class="modal-title text-white">Confirmation</h6>
                    <button type="button" class="btn-close text-white fs-4 p-0" data-bs-dismiss="modal"
                        aria-label="Close"><span class="bi bi-x"></span></button>
                </div>
                <div class="modal-body">
                     <form [formGroup]="uploadForm">
                          <div class="mb-3">
                        <label class="fs-md fw-600 mb-1">Upload NOC<span class="text-danger">*</span></label>
                        <input type="file" formControlName="file"   name ="file" (change)="onFilesSelected($event)" class="form-control form-control-sm">
                    </div>
                     </form>
                  

                    <div class="text-end">
                        <button type="button" class="btn btn-primary"  (click)="Approved()" [ngClass]="{'isDisabled':uploadForm.invalid}"  data-bs-dismiss="modal">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
   <!-- begin:: success modal -->
    <div class="modal fade" id="successModal"  #successModal tabindex="-1" aria-labelledby="successModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header py-2 bg-theme">
                <h6 class="modal-title text-white">Success</h6>
                <button type="button" class="btn-close text-white fs-4 p-0" data-bs-dismiss="modal" aria-label="Close"><span class="bi bi-x"></span></button>
            </div>
            <div class="modal-body">
                <p class="text-center">Successfully Approved</p>

                <div class="text-center">
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
      </div>
    </div>
    <!-- begin:: reject modal -->
    <div class="modal fade" id="rejectModal" #rejectModal tabindex="-1" aria-labelledby="rejectModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
          <div class="modal-content">
              <div class="modal-header py-2">
                <h6 class="modal-title text-white">Remarks</h6>
                <button type="button" class="btn-close text-white fs-4 p-0" data-bs-dismiss="modal" aria-label="Close"><span class="bi bi-x"></span></button>
              </div>
              <div class="modal-body">
                  <form [formGroup]="RejectForm">
                    <div class="row">
                        <div class="col-12 mb-3">
                            <label class="fs-md fw-600 mb-1">Remarks</label>
                            <textarea class="form-control" rows="5" formControlName="remarks"   name ="remarks" placeholder="Write here"></textarea>
                        </div>
                    </div>
                  </form>

                  <div class="text-end">
                      <button type="button" class="btn btn-primary" (click)="Reject()" [ngClass]="{'isDisabled':RejectForm.invalid}"  data-bs-dismiss="modal">Submit</button>
                  </div>
              </div>
          </div>
      </div>
    </div>