

<main class="mt-4">
    <section>
        <div class="card mb-3">
            <div class="card-header bg-transparent">
                <div class="row align-items-center">
                    <div class="col-12 col-sm-7 col-md-8 col-lg-9">
                        <h6 class="fw-600 mb-2 mb-sm-0">Attendance Participants Details</h6>
                    </div>
                    <div class="col-12 col-sm-5 col-md-4 col-lg-3">
                        <select class="form-select" [(ngModel)]="programIds" (change)="dropdownProgramsList($event,'table')">
                            <option value="">Select Program</option>
                        <option *ngFor="let list of agencyProgramList" value="{{list.programId}}">{{list.programTitle}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <table class="table table-bordered nowrap">
                    <thead class="bg-lime-green text-white">
                        <tr>
                            <th>S.No</th>
                            <th>Participant Name</th>
                            <th>Mobile No</th>
                            <!-- <th>Member Id</th>
                            <th>Member Name</th> -->
                            <th *ngFor="let header of getAttendanceHeaders(); let i = index">
                                Day {{i + 1}}
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <ng-container *ngIf="ParticipantAttendanceData?.participantAttendanceList?.length > 0; else noData">
                            <tr  *ngFor="let item of  this.ParticipantAttendanceData.participantAttendanceList; let i = index">
                                <td>{{ i + 1 }}</td>
                                <td>{{ item?.participantName }}</td>
                                <td>{{ item?.mobileNo }}</td>
                                <!-- <td>{{ item?.memberId }}</td>
                                <td>{{ item?.memberName }}</td> -->
                                <td class="text-center"   *ngFor="let dataInner of item.attendanceData1; let j = index">
                                    <ng-container *ngIf="!editAllTable">
                                        {{dataInner[j]}}
                                    </ng-container>
                                    <select *ngIf="editAllTable" class="form-select" (change)="chnages($any($event.target).value,j,item.attendanceData[j],dataInner)" [(ngModel)]="dataInner[j]">                                            
                                        <option value="P">P</option>
                                        <option value="A">A</option>
                                    </select>
                                </td> 
                            </tr>
                        </ng-container>
                        <ng-template #noData>
                            <tr>
                                <td colspan="100%" class="text-center">No Data Found</td>
                            </tr>
                        </ng-template>
                    </tbody>
                </table>                
            </div>
            <div>                
                <div class="text-end mar-r mar-t" style="margin: 5px;" >
                    
                <!-- [ngClass]="ParticipantAttendanceData?.participantAttendanceList?.length > 0?'disabled':''"  [ngClass]="workingJobType?.uploadReportFlag=='Completed' || isPullChecked?'disabled':''"-->
                <button class="btn btn-lime-green"  [ngClass]="ParticipantAttendanceData?.participantAttendanceList?.length <= 0?'disabled':''"
                  (click)="editAll('editRow', ParticipantAttendanceData?.participantAttendanceList)" *ngIf="!(editAllTable)"  >Edit All</button>
                <span *ngIf="editAllTable">
                  <button (click)="closeAll()" class="btn btn-default mar-r" style="margin-right: 5px;">Cancel</button>
                  <button class="btn btn-lime-green" (click)="saveAll(ParticipantAttendanceData?.participantAttendanceList)">Save All</button>
                </span>
              </div>
            </div>
            <div class="mb-3">
                <button type="button" [ngClass]="{'disabled': programIds == ''}" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#exampleModalDeleteConfirm">Final Submission</button>
            </div>
        </div>
    </section>
</main>

<div class="modal fade" id="exampleModalDeleteConfirm" tabindex="-1" role="dialog" aria-labelledby="exampleModalDeleteConfirmLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalDeleteConfirmLabel">Final Attendance Participants Submission</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- Are you sure want to submit all Attendance Participants Details in current program?? -->
                Are you sure you want to submit these Attendance of Participants for the current program? You cannot add any more Attendance Details once submitted!”
          
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-lime-green" (click)="sessionSubmissionFinal()">Confirm</button>
            </div>
        </div>
    </div>
</div>