<main class="mt-4">
    <section>
        <div class="container-fluid">
            <div class="card mb-3">
                <div class="card-header bg-transparent">
                    <div class="row align-items-center">
                        <div class="col-12 col-sm-12 col-md-4 col-lg-3">
                            <h6 class="fw-600 mb-2 mb-sm-3 mb-md-0 text-green">Capture Program Outcome</h6>
                        </div>
                        <!-- <div class="col-12 col-sm-6 col-md-4 col-lg-3 offset-lg-3">
                            <select class="form-select mb-3 mb-sm-3 mb-md-0">
                                <option value="-1">Select Program</option>
                                <option value="1">Export Marketing Dec21-1</option>
                            </select>
                        </div>
                        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                            <select class="form-select mb-3 mb-sm-0">
                                <option value="-1">Select Organisation</option>
                                <option value="1">Organisation 1</option>
                            </select>
                        </div> -->
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-12 col-sm-12 col-md-4 col-lg-3">
                            <h6 class="fw-600 mb-2 mb-sm-3 mb-md-0 mt-1">Select Participant Mobile Number</h6>
                        </div>
                        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                            <div class="form-floating mb-3 mb-sm-3 mb-md-0">
                                <input type="text" class="form-control" id="" placeholder="Mobile No"   [(ngModel)]="MobileNumber">
                                <!-- <label for="MobileNumber">Mobile No</label> -->
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                            <button type="button" class="btn btn-lime-green mt-1" (click)="Search()" >Search</button>
                        </div>
                        <!-- <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                            <div class="form-floating mb-3 mb-sm-3 mb-md-0">
                                <select class="form-select" id="coverage">
                                  <option value="1" selected>Activity1</option>
                                </select>
                                <label for="coverage">Activity</label>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                            <div class="form-floating mb-3 mb-sm-0">
                                <select class="form-select" id="coverage">
                                  <option value="1" selected>Sub Activity 1</option>
                                </select>
                                <label for="coverage">Sub Activity</label>
                            </div>
                        </div> -->
                    </div>                        
                </div>
            </div>
            <div class="card mb-4">
                <div class="card-body" id="">
                    <table id="creation-table" class="table table-bordered nowrap w-100">
                        <thead class="bg-lime-green text-white">
                            <tr>
                                <th>Participant Name</th>
                                <th>Organization Name</th>
                                <th>Mobile Number</th>
                                <th>Program Dates</th>
                                <th>Name Of SHG</th>
                                <th>Designation</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr >
                                <td>{{ParticipantData?.participantName}}</td>
                                <td>{{ParticipantData?.organizationName}}</td>
                                <td>{{ParticipantData?.mobileNo}}</td>
                                <td>{{ParticipantData?.programDates}}</td>
                                <td>{{ParticipantData?.nameOfTheSHG}}</td>
                                <td>{{ParticipantData?.designation}}</td>
                            </tr>
                          
                        </tbody>
                    </table>
                </div>
            </div>
         <div class="card mb-3">
            <form [formGroup]="OutComeForm" >
                <div class="card-header bg-transparent">
                    <div class="row align-items-center">
                        <div class="col-12 col-sm-12 col-md-4 col-lg-3">
                            <h6 class="fw-600 mb-2 mb-sm-3 mb-md-0 text-green">Add Outcome Details </h6>
                        </div>
                      
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-12 col-sm-12 col-md-4 col-lg-3">
                            <h6 class="fw-400 mb-2 mb-sm-3 mb-md-0 mt-3">Select OutCome</h6>
                        </div>
                        <!-- <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                            <div class="form-floating mb-3 mb-sm-3 mb-md-0">
                                <input type="text" class="form-control" id="" placeholder="Mobile No" (input)="GetParticipantByMobile($any($event.target).value)"  [(ngModel)]="MobileNumber">
                                <label for="MobileNumber">Mobile No</label>
                            </div>
                        </div> -->
                        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                            <div class="form-floating mb-3 mb-sm-3 mb-md-0">
                                <select class="form-select" id="coverage"  name="outcomesName" formControlName="outcomesName" (change)="getDynamicFormBasedOnOutCome($any($event.target).value)">
                                    <option value="">Select OutCome</option>
                                    <!-- <option value="ONDCRegistration">ONDCRegistration</option> -->
                                  <option *ngFor="let val of ListOfOutCome" value="{{val?.outcomeTableName}}">{{val?.outcomeTableDisplayName}}</option>
                                </select>
                                <!-- <label for="coverage">OutCome</label> -->
                            </div>
                        </div>
                        <!-- <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                            <div class="form-floating mb-3 mb-sm-0">
                                <select class="form-select" id="coverage">
                                  <option value="1" selected>Sub Activity 1</option>
                                </select>
                                <label for="coverage">Sub Activity</label>
                            </div>
                        </div> -->
                    </div>                        
                </div>
                <div class="card-body mt-3">
                    <div class="row mb-3" > 
                        <div class="col-12 col-sm-12 col-md-4 col-lg-3">
                            <!-- <h6 class="fw-600 mb-2 mb-sm-3 mb-md-0">Details Of OutCome</h6> -->
                        </div>
                        <div class="row" *ngFor="let Feilds of ListOfDynamicFormData">
                            <div class="col-12 col-sm-12 col-md-4 col-lg-3">
                                <h6 class="fw-400 mb-2 mb-sm-3 mb-md-0 mt-3">{{Feilds?.fieldDisplayName}}<span class="c-red"> *</span> :</h6>
                            </div>
                          <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3">
                            <ng-container *ngIf="Feilds?.fieldType=='text'" >
                                <div class="form-floating mb-3 mb-sm-3 mb-md-0">
                                    <input type="text" class="form-control" id="" placeholder="{{Feilds?.fieldDisplayName}}" name="{{Feilds?.fieldName}}" formControlName="{{Feilds?.fieldName}}">
                                    <!-- <label for="{{Feilds?.fieldName}}">{{Feilds?.fieldDisplayName}}</label> -->
                                </div>
                                <div *ngIf="f2[Feilds?.fieldName].touched && !f2[Feilds?.fieldName].valid" class="error">{{Feilds?.fieldDisplayName}} is required</div>
                            </ng-container>
                            <ng-container *ngIf="Feilds?.fieldType=='date'" >
                                <div class="form-floating mb-3 mb-sm-3 mb-md-0">
                                    <input type="date" class="form-control" id="" placeholder="{{Feilds?.fieldDisplayName}}" name="{{Feilds?.fieldName}}" formControlName="{{Feilds?.fieldName}}">
                                    <!-- <label for="{{Feilds?.fieldName}}">{{Feilds?.fieldDisplayName}}</label> -->
                                </div>
                                <div *ngIf="f2[Feilds?.fieldName].touched && !f2[Feilds?.fieldName].valid" class="error">{{Feilds?.fieldDisplayName}} is required</div>
                            </ng-container>
                            <ng-container *ngIf="Feilds?.fieldType=='number' || Feilds?.fieldType=='decimal'" >
                                <div class="form-floating mb-3 mb-sm-3 mb-md-0">
                                    <input type="number" class="form-control" id="" placeholder="{{Feilds?.fieldDisplayName}}" name="{{Feilds?.fieldName}}" formControlName="{{Feilds?.fieldName}}">
                                    <!-- <label for="{{Feilds?.fieldName}}">{{Feilds?.fieldDisplayName}}</label> -->
                                </div>
                                <div *ngIf="f2[Feilds?.fieldName].touched && !f2[Feilds?.fieldName].valid" class="error">{{Feilds?.fieldDisplayName}} is required</div>
                            </ng-container>
                            <ng-container *ngIf="Feilds?.fieldType=='radio button'" >
                                <div class="form-floating mb-3 mb-sm-3 mb-md-0">
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="{{Feilds?.fieldName}}" formControlName="{{Feilds?.fieldName}}"
                                            value="true">
                                        <label class="form-check-label">Yes</label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="{{Feilds?.fieldName}}" formControlName="{{Feilds?.fieldName}}"
                                            value="false">
                                        <label class="form-check-label">No</label>
                                    </div>

                                </div>
                                <div *ngIf="f2[Feilds?.fieldName].touched && !f2[Feilds?.fieldName].valid" class="error">{{Feilds?.fieldDisplayName}} is required</div>
                            </ng-container>
                            <ng-container *ngIf="Feilds?.fieldType=='label'" >
                                <div class="form-floating mb-3 mb-sm-3 mb-md-0">
                                    <!-- <input type="text" class="form-control" readonly id="" placeholder="{{Feilds?.fieldDisplayName}}" name="{{Feilds?.fieldName}}" formControlName="{{Feilds?.fieldName}}"> -->
                                    <!-- <label for="{{Feilds?.fieldName}}">{{Feilds?.fieldDisplayName}}</label> -->
                                     <h6>{{Feilds?.fieldValue}}</h6>
                                </div>
                                 </ng-container>
                          </div>
                           
                        </div>
                       
                    </div>                        
                </div>
                <div class="text-end mb-3">
                    <button type="button" class="btn btn-lime-green me-3" (click)="SubmitOutCome()" [disabled]="!OutComeForm.valid">Submit</button>
                </div>
            </form>
         </div>
          
            
        </div>
    </section>
</main>

