<main class="mt-4">
    <section>
        <div class="container-fluid">
            <div class="card mb-4">                
                <div class="card-header bg-transparent">                    
                    <div class="row align-items-center">
                        <div class="col-12 col-sm-7 col-md-8 col-lg-9">
                            <h6 class="fw-600 mb-2 mb-sm-0 text-green">View Organizations</h6>
                        </div>
                        <div class="col-12 col-sm-5 col-md-4 col-lg-3 text-end">
                            <button type="button" (click)="downloadProgramApi('org')" class="btn btn-secondary">Download Organizations</button>
                        </div>
                        <!-- <ng-container *ngIf="loginsessionDetails?.userRole == 'ADMIN'">
                            <div class="col-12 col-sm-5 col-md-4 col-lg-3">
                                <label for="Agencies" style="font-weight: 600;">List Of Agencies</label>
                                <select class="form-select" (change)="getOrganizationsByAgency($any($event.target).value)">
                                    <option value="All Agency" selected>All Agencies</option>
                                    <option *ngFor="let list of agencyList" value="{{list.agencyId}}">{{list.agencyName}}</option>
                                </select>
                            </div>
                        </ng-container>                         -->
                    </div>
                </div>
                <div class="card-body">
                    <div class="dtable-container">                        
                        <table id="view-table-organization" class="display table table-striped" style="width:100%">
                            <!-- Table headers will be created by DataTables -->
                        </table>
                    </div>
                </div>
            </div>            
        </div>
    </section>
</main>

<!-- Edit Organization Modal -->
<div class="modal fade" id="editOrganizationModal" tabindex="-1" aria-labelledby="editOrganizationLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <form [formGroup]="editOrganizationForm" (ngSubmit)="onUpdateOrganization()">
            <div class="modal-content">
                <div class="modal-header py-2">
                    <h6 class="modal-title" id="editOrganizationLabel">Edit Organization</h6>
                    <button type="button" class="btn-close me-1" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-12">
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" id="organizationName" 
                                       formControlName="organizationName" placeholder="Organization Name">
                                <label for="organizationName">Organization Name <span class="text-danger">*</span></label>
                                <div *ngIf="fEditOrganization['organizationName'].invalid && fEditOrganization['organizationName'].touched" 
                                     class="text-danger small">
                                    Organization name is required
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" id="organizationType" 
                                       formControlName="organizationType" placeholder="Organization Type">
                                <label for="organizationType">Organization Type</label>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" id="ownerName" 
                                       formControlName="ownerName" placeholder="Owner Name">
                                <label for="ownerName">Owner Name</label>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" id="contactNo" 
                                       formControlName="contactNo" placeholder="Contact Number">
                                <label for="contactNo">Contact Number</label>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-floating mb-3">
                                <input type="email" class="form-control" id="email" 
                                       formControlName="email" placeholder="Email">
                                <label for="email">Email</label>
                                <div *ngIf="fEditOrganization['email'].invalid && fEditOrganization['email'].touched" 
                                     class="text-danger small">
                                    Please enter a valid email address
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-floating mb-3">
                                <textarea class="form-control" id="address" 
                                          formControlName="address" placeholder="Address" style="height: 80px"></textarea>
                                <label for="address">Address</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" (click)="closeEditOrganizationModal()">Close</button>
                    <button type="submit" class="btn btn-lime-green" [ngClass]="{'disabled': editOrganizationForm.invalid || updateLoading}"
                            [disabled]="editOrganizationForm.invalid || updateLoading">
                        <span *ngIf="updateLoading" class="spinner-border spinner-border-sm me-1"></span>
                        Update Organization
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

<!-- Delete Organization Modal -->
<div class="modal fade" id="deleteOrganizationModal" tabindex="-1" role="dialog" aria-labelledby="deleteOrganizationModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteOrganizationModalLabel">Delete Organization</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete this organization "<strong>{{selectedOrganization?.organizationName}}</strong>"?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="closeDeleteOrganizationModal()">Cancel</button>
                <button type="button" class="btn btn-danger" [disabled]="deleteLoading" (click)="confirmDeleteOrganization()">
                    <span *ngIf="deleteLoading" class="spinner-border spinner-border-sm me-1"></span>
                    Delete Organization
                </button>
            </div>
        </div>
    </div>
</div>