<main class="mt-4">
    <section>
        <div class="container-fluid">
            <form [formGroup]="programCreationMain">
                <div class="card mb-4">
                    <div class="card-header bg-transparent">
                        <div class="d-flex align-items-center justify-content-between flex-wrap">
                            <div>
                                <h6 class="mb-2 mb-sm-0 text-green">Add Program</h6>
                            </div>
                            <div>
                                <ng-container *ngIf="programId">
                                    <button type="button" class="btn btn-default" (click)="redirect()">Back</button> &nbsp;
                                </ng-container>
                                
                                <!-- class="btn btn-secondary" -->
                                <button type="button" class="btn btn-lime-green" data-bs-toggle="modal"
                                    data-bs-target="#addLocation">Add New Location</button>
                                <!-- <a class="btn btn-default ms-3" id="iconChange" data-bs-toggle="collapse"
                                    href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                                    <span class="bi bi-chevron-down"></span>
                                </a> -->
                            </div>
                        </div>
                    </div>
                    <div class="card-body" id="collapseExample">

                        <div class="row" styles="margin-right='20px';margin-left='20px'">
                            <div class="col-12 col-sm-6 col-md-4 col-lg-4">
                                <div class="form-floating mb-3">
                                    <select class="form-select" formControlName="activityId">
                                        <option selected value="">Select Type Of Activity</option>
                                        <option value="{{list.activityId}}" *ngFor="let list of activityList">{{list.activityName}}</option>
                                    </select>
                                    <label>Type Of Activity <span class="c-red"> *</span></label>
                                </div>
                                <div *ngIf="f2['activityId'].touched && !f2['activityId'].valid" class="error"
                                    style="color: red;">Type Of Activity is required</div>
                            </div>
                            <div class="col-12 col-sm-6 col-md-4 col-lg-4">
                                <div class="form-floating mb-3">
                                    <select class="form-select" formControlName="subActivityId">
                                        <option selected value="">Select Sub Activity</option>
                                        <option value="{{list.subActivityId}}" *ngFor="let list of subActivitiesList">{{list.subActivityName}}</option>
                                    </select>
                                    <label>Sub Activity<span class="c-red"> *</span></label>
                                </div>
                                <div *ngIf="f2['subActivityId'].touched && !f2['subActivityId'].valid" class="error"
                                    style="color: red;">Sub Activity is required</div>
                            </div>
                            <div class="col-12 col-sm-6 col-md-4 col-lg-4">
                                <div class="form-floating mb-3">
                                    <select class="form-select" formControlName="programType">
                                        <option selected value="">Select Type Of Program</option>
                                        <option value="ESDP Training">ESDP Training</option>
                                        <option value="Awareness">Awareness</option>
                                        <!-- <option value="Program3">Program3</option> -->
                                    </select>
                                    <label>Type Of Program <span class="c-red"> *</span></label>
                                </div>
                                <div *ngIf="f2['programType'].touched && !f2['programType'].valid" class="error"
                                    style="color: red;">Type Of Program is required</div>
                            </div>
                            <!-- <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                                <div class="form-floating mb-3">
                                    <input type="text" class="form-control" formControlName="programDetails">
                                    <label>Program Details</label>
                                </div>
                                <div *ngIf="f2['programDetails'].touched && !f2['programDetails'].valid" class="error"
                                    style="color: red;">Program Details is required</div>
                            </div> -->
                            <div class="col-12 col-sm-6 col-md-4 col-lg-4">
                                <div class="form-floating mb-3">
                                    <input type="text" class="form-control" formControlName="programTitle"
                                        placeholder="Title Of Program">
                                    <label>Title Of Program<span class="c-red"> *</span></label>
                                </div>
                                <!-- <div *ngIf="f2['programTitle'].touched && !f2['programTitle'].valid" class="error"
                                    style="color: red;">Title Of Program is required</div> -->

                                <div *ngIf="f2['programTitle'].touched && !f2['programTitle'].valid" class="error" style="color: red;">
                                    <span *ngIf="f2['programTitle'].errors?.['required']">Title Of Program is required</span>
                                    <span *ngIf="f2['programTitle'].errors?.['pattern']">Title Of Program should contains letters and numerics.</span>
                                </div>
                            </div>
                            <!-- <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                                <div class="form-floating mb-3">
                                    <input type="text" class="form-control" formControlName="noOfDays" placeholder="No. Of Days">
                                    <label>No. Of Days</label>
                                </div>
                            </div> -->
                            <div class="col-12 col-sm-6 col-md-4 col-lg-4">
                                <div class="form-floating mb-3">
                                    <input type="date" class="form-control" formControlName="startDate">
                                    <label>Start Date <span class="c-red"> *</span></label>
                                </div>
                                <div *ngIf="f2['startDate'].touched && !f2['startDate'].valid" class="error"
                                    style="color: red;">Start Date is required</div>
                            </div>
                            <div class="col-12 col-sm-6 col-md-4 col-lg-4">
                                <div class="form-floating mb-3">
                                    <input type="date" class="form-control" formControlName="endDate">
                                    <label>End Date <span class="c-red"> *</span></label>
                                </div>
                                <!-- <div *ngIf="f2['endDate'].touched && !f2['endDate'].valid" class="error"
                                    style="color: red;">End Date is required</div> -->
                                    
                                      <div  *ngIf="programCreationMain.controls['endDate'].touched && programCreationMain.controls['endDate'].invalid" class="error" style="color: red;">
                                        <span *ngIf="programCreationMain.controls['endDate'].errors?.['required']">End Date is required.</span>
                                        <span *ngIf="programCreationMain.controls['endDate'].errors?.['invalidEndDate']">End Date must be greater than or equal to Start Date.</span>
                                    </div>
                            </div>
                            <div class="col-12 col-sm-6 col-md-4 col-lg-4">
                                <div class="form-floating mb-3">
                                    <input type="time" class="form-control" formControlName="startTime">
                                    <label>In Time <span class="c-red"> *</span></label>
                                </div>
                                <div *ngIf="f2['startTime'].touched && !f2['startTime'].valid" class="error"
                                    style="color: red;">In Time is required</div>
                            </div>
                            <div class="col-12 col-sm-6 col-md-4 col-lg-4">
                                <div class="form-floating mb-3">
                                    <input type="time" class="form-control" formControlName="endTime">
                                    <label>Out Time <span class="c-red"> *</span></label>
                                </div>
                                <div *ngIf="f2['endTime'].touched && !f2['endTime'].valid" class="error"
                                    style="color: red;">Out Time is required</div>

                            </div>
                            <div class="col-12 col-sm-6 col-md-4 col-lg-4">
                                <div class="form-floating mb-3">
                                    <select class="form-select" formControlName="kpi">
                                        <option selected value="">Select KPI </option>
                                        <option value="Activity">Activity</option>
                                        <option value="Output">Output</option>
                                        <option value="Outcome">Outcome</option>
                                        <option value="Impact">Impact</option>
                                    </select>
                                    <label>KPI <span class="c-red"> *</span></label>
                                </div>
                                <div *ngIf="f2['kpi'].touched && !f2['kpi'].valid" class="error" style="color: red;">KPI
                                    is required</div>
                            </div>
                            <!-- <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                                <div class="form-floating mb-3">
                                    <input type="text" class="form-control" placeholder="" formControlName="kpi">
                                    <label>KPI</label>
                                </div>
                                <div *ngIf="f2['kpi'].touched && !f2['kpi'].valid" class="error">KPI is required</div>
                            </div> -->
                            <div class="col-12 col-sm-6 col-md-4 col-lg-4">
                                <div class="form-floating mb-3">
                                    <input type="text" class="form-control" placeholder="" formControlName="spocName">
                                    <label>SPOC Name <span class="c-red"> *</span></label>
                                </div>
                                <div *ngIf="f2['spocName'].touched && !f2['spocName'].valid" class="error" style="color: red;">
                                    <span *ngIf="f2['spocName'].errors?.['required']">Name is required</span>
                                    <span *ngIf="f2['spocName'].errors?.['pattern']">Name should contain only letters</span>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 col-md-4 col-lg-4">
                                <div class="form-floating mb-3">
                                    <input type="text" class="form-control" placeholder=""
                                        formControlName="spocContactNo">
                                    <label>SPOC Contact No. <span class="c-red"> *</span></label>
                                </div>
                                <!-- <div *ngIf="f2['spocContactNo'].touched && !f2['spocContactNo'].valid && !f2['spocContactNo']?.errors?.['pattern']"
                                    class="error" style="color: red;">Contact No Should Be 10 Digits</div>                                 -->
                                    <div *ngIf="f2['spocContactNo'].touched && !f2['spocContactNo'].valid" class="error" style="color: red;">
                                        <span *ngIf="f2['spocContactNo'].errors?.['required']">Mobile number is required</span>
                                        <span *ngIf="f2['spocContactNo'].errors?.['pattern']">Mobile number must be 10 digits and start with 6, 7, 8, or 9.</span>
                                    </div>
                            </div>
                            <div class="col-12 col-sm-6 col-md-4 col-lg-4">
                                <div class="form-floating mb-3">
                                    <select class="form-select" formControlName="programLocation">
                                        <option selected value="">Select Location</option>
                                        <option *ngFor="let val of getProgramLocationData" value="{{val?.locationId}}">
                                            {{val?.locationName}}</option>
                                        <!-- <option value="Hyderabad">Hyderabad</option>
                                        <option value="Warangal">Warangal</option> -->
                                    </select>
                                    <label>Program Location <span class="c-red"> *</span></label>
                                </div>
                                <div *ngIf="f2['programLocation'].touched && !f2['programLocation'].valid" class="error"
                                    style="color: red;">Program Location is required</div>

                            </div>
                            <div class="text-end">
                                <button type="submit" class="btn btn-lime-green" [ngClass]="{'disabled': programCreationMain.invalid}"
                                [disabled]="programCreationMain.invalid" (click)="submitProgramCreation()">Submit</button>
                            </div>
                            <!-- <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                                <div class="form-floating mb-3">
                                    <select class="form-select" formControlName="TargetSector">
                                        <option selected value="">Select Sector</option>
                                        <option value="Sector1">Sector1</option>
                                        <option value="Sector2">Sector2</option>
                                      </select>
                                    <label>Target Sector</label>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                                <div class="form-floating mb-3">
                                    <select class="form-select" formControlName="targetAudience">
                                        <option selected value="">Select Target Audience</option>
                                        
                                      </select>
                                    <label>Target Audience</label>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                                <div class="form-floating mb-3">
                                    <input type="text" class="form-control" placeholder="" formControlName="targetNoOfParticipants">
                                    <label>Target No. of Participants</label>
                                </div>
                            </div> -->
                        </div>

                    </div>
                </div>
            </form>
        </div>
    </section>
</main>

<!-- begin:: modal add new location -->
<div class="modal fade" id="addLocation" tabindex="-1" aria-labelledby="addLocationLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
        <form [formGroup]="locationForm" (ngSubmit)="onModalSubmitLocation()">
            <div class="modal-content">
                <div class="modal-header py-2">
                    <h6 class="modal-title" id="addLocationLabel">Add New Location</h6>
                    <button type="button" class="btn-close me-1" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-12 col-sm-12 col-md-6 col-lg-4">
                            <div class="mb-3">
                                <label class="form-label fs-md fw-600">Location Name <span class="c-red"> *</span></label>
                                <input type="text" class="form-control" placeholder="Location Name"
                                    formControlName="locationName">
                            </div>
                            <div *ngIf="fLocation['locationName'].touched && !fLocation['locationName'].valid && !fLocation['locationName']?.errors?.['pattern']" class="error">Location Name is required</div>
                            <div *ngIf="fLocation['locationName'].touched && !fLocation['locationName'].valid && fLocation['locationName']?.errors?.['pattern']" class="error">Location Name Should be Characters</div>
                       
                        </div>
                        <div class="col-12 col-sm-12 col-md-6 col-lg-4">
                            <div class="mb-3">
                                <label class="form-label fs-md fw-600">Max Capacity <span class="c-red"> *</span></label>
                                <input type="number" class="form-control" placeholder="Max capacity"
                                    formControlName="capacity">
                            </div>
                            <div *ngIf="fLocation['capacity'].touched && !fLocation['capacity'].valid && !fLocation['capacity']?.errors?.['pattern']" class="error">Max Capacity is required</div>
                            <div *ngIf="fLocation['capacity'].touched && !fLocation['capacity'].valid && fLocation['capacity']?.errors?.['pattern']" class="error">Max Capacity Should be Greater than Zero</div>
                       
                        </div>
                        
                        <div class="col-12 col-sm-12 col-md-6 col-lg-4">
                            <div class="mb-3">
                                <label class="form-label fs-md fw-600">Location Co-ordinates</label>
                                <div class="row">
                                    <div class="col-6">
                                        <input type="number" class="form-control" placeholder="Latitude"
                                            formControlName="latitude">
                                    </div>
                                    <div class="col-6">
                                        <input type="number" class="form-control" placeholder="Longitutde"
                                            formControlName="longitude">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="mb-3">
                                <label class="form-label fs-md fw-600">Type Of Venue <span class="c-red"> *</span></label>
                                <div class="row">
                                    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="typeOfVenue"
                                                id="Training" formControlName="typeOfVenue" value="Training Facility">
                                            <label class="form-check-label fs-md" for="Training">Training
                                                Facility</label>
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="typeOfVenue"
                                                id="Conference" formControlName="typeOfVenue"
                                                value="Conference Facility">
                                            <label class="form-check-label fs-md" for="Conference">Conference
                                                Facility</label>
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-6 col-md-4 col-lg-6">
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="typeOfVenue"
                                                id="Convention" formControlName="typeOfVenue" value="Convention Center">
                                            <label class="form-check-label fs-md" for="Convention">Convention
                                                Center</label>
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="typeOfVenue"
                                                id="Function" formControlName="typeOfVenue" value="Function Hall">
                                            <label class="form-check-label fs-md" for="Function">Function Hall</label>
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="typeOfVenue" id="grounf"
                                                formControlName="typeOfVenue" value="Open Ground">
                                            <label class="form-check-label fs-md" for="grounf">Open Ground</label>
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="typeOfVenue" id="Others"
                                                formControlName="typeOfVenue" value="Others">
                                            <label class="form-check-label fs-md" for="Others">Others</label>
                                        </div>
                                    </div>
                                </div>
                                <!-- <div class="row">
                                    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="checkbox" id="checkbox1" value="option1">
                                            <label class="form-check-label fs-md" for="checkbox1">Training Facility</label>
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="checkbox" id="checkbox2" value="option2">
                                            <label class="form-check-label fs-md" for="checkbox2">Conference Facility</label>
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="checkbox" id="checkbox3" value="option2">
                                            <label class="form-check-label fs-md" for="checkbox3">Convention Center</label>
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="checkbox" id="checkbox4" value="option2">
                                            <label class="form-check-label fs-md" for="checkbox4">Function Hall</label>
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="checkbox" id="checkbox5" value="option2">
                                            <label class="form-check-label fs-md" for="checkbox5">Open Ground</label>
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="checkbox" id="others" value="option2">
                                            <label class="form-check-label fs-md" for="others">Others</label>
                                        </div>
                                    </div>
                                </div> -->
                                <div class="show-other mt-3 " *ngIf="this.fLocation['typeOfVenue'].value=='Others'">
                                    <input type="text" class="form-control" formControlName="OthersType"
                                        placeholder="Other Details">
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                            <div class="mb-3">
                                <label class="form-label fs-md fw-600">Google Map Location URL</label>
                                <input type="text" class="form-control" placeholder="" formControlName="googleMapUrl">
                            </div>
                            <!-- <div *ngIf="fLocation['googleMapUrl'].touched && !fLocation['googleMapUrl'].valid && !fLocation['googleMapUrl']?.errors?.['pattern']" class="error">Google Map Location URL is required</div> -->
                            <div *ngIf="fLocation['googleMapUrl'].touched && fLocation['googleMapUrl']?.errors?.['pattern']" class="error">Please Valid URL</div>
                        </div>
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="mb-3">
                                <label class="form-label fs-md fw-600">Type Of Ownership</label>
                                <div class="row">
                                    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="ownershipType"
                                                id="ownFacility" formControlName="ownershipType" value="Own Facility">
                                            <label class="form-check-label fs-md" for="ownFacility">Own Facility</label>
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="ownershipType"
                                                id="leasedFacility" formControlName="ownershipType"
                                                value="Leased Facility">
                                            <label class="form-check-label fs-md" for="leasedFacility">Leased
                                                Facility</label>
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-6 col-md-4 col-lg-6">
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="ownershipType"
                                                id="rentActivity" formControlName="ownershipType"
                                                value="Rented for the activity">
                                            <label class="form-check-label fs-md" for="rentActivity">Rented for the
                                                activity</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        
                        <div class="col-12 col-sm-12 col-md-6 col-lg-3">
                            <div class="mb-3">
                                <label class="form-label fs-md fw-600">Pictures Of Facility</label>
                                <input type="file" class="form-control" placeholder="" formControlName="filePath">
                            </div>
                        </div>
                    </div>

                    <div class="text-end">
                        <button type="submit" class="btn btn-lime-green" [ngClass]="{'disabled': locationForm.invalid}" [disabled]="!locationForm.valid" data-bs-dismiss="modal">Submit</button>
                    </div>
                </div>
            </div>
        </form>

    </div>
</div>
<!-- end:: modal add new location -->


