<div class="dropdown form-control" [class.open]="isOpen" [class.disabled]="disabled" style="border: none;">
  <div class="dropdown-toggle" (click)="toggleDropdown()">
    {{ selectedItem || placeholder }}
    <!-- <span class="arrow">{{ isOpen ? '▲' : '▼' }}</span> -->
  </div>
  
  <ul class="dropdown-menu" *ngIf="isOpen">
    <ng-container *ngFor="let item of items; let i = index">
      <li *ngIf="!item.children" 
          [class.disabled]="item.isDisabled"
          (click)="selectItem(item)">
        {{ item.name }}
      </li>
      
      <li *ngIf="item.children" class="has-children">
        <div (click)="toggleSubmenu(i, $event)">
          {{ item.name }} <span class="submenu-arrow">▶</span>
        </div>
        <ul class="submenu" [class.open]="isSubmenuOpen(i)">
          <li *ngFor="let child of item.children" 
              [class.disabled]="child.isDisabled"
              (click)="selectItem(child,item)">
            {{ child.name }}
          </li>
        </ul>
      </li>
    </ng-container>
  </ul>
</div>