<fieldset>
  <form [formGroup]="disbursementForm" (ngSubmit)="onSubmit()">
    <div class="card border rounded-2 shadow-none mb-3">
      <div class="card-header bg-theme text-white">
        <h6 class="mb-0">Disbursement Details</h6>
      </div>
      <div class="card-body">
          <div *ngIf="(applicationData?.applicationStatus?applicationData?.applicationStatus=='DISBURSEMENT_COMPLETED' :applicationData?.status=='DISBURSEMENT_COMPLETED')" class="text-success small mt-2 mb-3">
                     Disbursment Details Completed
                   </div>
        <div class="row mb-3">
          <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <div class="form-floating mb-3">
              <input type="number" class="form-control" id="totalSanctionedAmount" formControlName="totalSanctionedAmount"
                placeholder="">
              <label for="totalSanctionedAmount">Total Sanctioned Amount <span class="text-danger">*</span></label>
              <div *ngIf="f['totalSanctionedAmount']?.invalid && (f['totalSanctionedAmount']?.dirty || f['totalSanctionedAmount']?.touched)"
                class="text-danger">
                <small *ngIf="f['totalSanctionedAmount']?.errors?.required">Total Sanctioned Amount is required</small>
                <small *ngIf="f['totalSanctionedAmount']?.errors?.pattern">Please enter a valid amount</small>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <div class="form-floating mb-3">
              <input type="number" class="form-control" id="totalDisbursedAmount" formControlName="totalDisbursedAmount"
                placeholder="">
              <label for="totalDisbursedAmount">Total Disbursed Amount <span class="text-danger">*</span></label>
              <div *ngIf="f['totalDisbursedAmount']?.invalid && (f['totalDisbursedAmount']?.dirty || f['totalDisbursedAmount']?.touched) && !f['totalDisbursedAmount']?.value > f['totalSanctionedAmount']?.value"
                class="text-danger">
                <small *ngIf="f['totalDisbursedAmount']?.errors?.required">Total Disbursed Amount is required</small>
                <small *ngIf="f['totalDisbursedAmount']?.errors?.pattern">Please enter a valid amount</small>
               
              </div>
              <div>
                 <small *ngIf="f['totalDisbursedAmount']?.value > f['totalSanctionedAmount']?.value"  class="text-danger">
                  Disbursed amount cannot be greater than sanctioned amount. Please check the values entered.
                </small>
              </div>
            </div>
          </div>
          <!-- <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <div class="form-floating mb-3">
              <input type="date" class="form-control" id="dateDisbursement" formControlName="dateDisbursement"
                placeholder="">
              <label for="dateDisbursement">Date of disbursement</label>
              <div *ngIf="f['dateDisbursement']?.invalid && (f['dateDisbursement']?.dirty || f['dateDisbursement']?.touched)"
                class="text-danger">
                <small *ngIf="f['dateDisbursement']?.errors?.required">Date of disbursement is required</small>
              </div>
            </div>
          </div> -->
          <!-- <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <div class="form-floating mb-3">
              <input type="text" class="form-control" id="bankName" formControlName="bankName" placeholder="">
              <label for="bankName">Bank Name</label>
              <div *ngIf="f['bankName']?.invalid && (f['bankName']?.dirty || f['bankName']?.touched)"
                class="text-danger">
                <small *ngIf="f['bankName']?.errors?.required">Bank Name is required</small>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <div class="form-floating mb-3">
              <input type="text" class="form-control" id="ifscCode" formControlName="ifscCode" placeholder="">
              <label for="ifscCode">IFSC Code</label>
              <div *ngIf="f['ifscCode']?.invalid && (f['ifscCode']?.dirty || f['ifscCode']?.touched)"
                class="text-danger">
                <small *ngIf="f['ifscCode']?.errors?.required">IFSC Code is required</small>
                <small *ngIf="f['ifscCode']?.errors?.pattern">Invalid IFSC format. Correct format: AAAA0BBBBBB (4
                  Captial letters, then 0, then 6 letters/numbers)</small>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <div class="form-floating mb-3">
              <input type="text" class="form-control" id="accountName" formControlName="accountName" placeholder="">
              <label for="accountName">Account Name</label>
              <div *ngIf="f['accountName']?.invalid && (f['accountName']?.dirty || f['accountName']?.touched)"
                class="text-danger">
                <small *ngIf="f['accountName']?.errors?.required">Account Name is required</small>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <div class="form-floating mb-3">
              <input type="number" class="form-control" id="accountNumber" formControlName="accountNumber" placeholder="">
              <label for="accountNumber">Account Number</label>
              <div *ngIf="f['accountNumber']?.invalid && (f['accountNumber']?.dirty || f['accountNumber']?.touched)"
                class="text-danger">
                <small *ngIf="f['accountNumber']?.errors?.required">Account Number is required</small>
                <small *ngIf="f['accountNumber']?.errors?.pattern">Please enter a valid account number</small>
              </div>
            </div>
          </div> -->
          <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <div class="form-floating mb-3">
              <input type="date" class="form-control" id="collectionDate" formControlName="collectionDate"
                max="{{ today | date:'yyyy-MM-dd' }}" placeholder="">
              <label for="collectionDate">Disbursement Date <span class="text-danger">*</span></label>
              <div *ngIf="f['collectionDate']?.invalid && (f['collectionDate']?.dirty || f['collectionDate']?.touched)"
                class="text-danger">
                <small *ngIf="f['collectionDate']?.errors?.required">Disbursement Date is required</small>
              </div>
            </div>
          </div>
          <!-- <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <div class="form-floating mb-3">
              <input type="number" class="form-control" id="processingFeeCollectedAmount" formControlName="processingFeeCollectedAmount" placeholder="">
              <label for="processingFeeCollectedAmount">Processing Fee Collected Amount</label>
              <div *ngIf="f['processingFeeCollectedAmount']?.invalid && (f['processingFeeCollectedAmount']?.dirty || f['processingFeeCollectedAmount']?.touched)"
                class="text-danger">
                <small *ngIf="f['processingFeeCollectedAmount']?.errors?.required">Processing Fee Collected Amount is required</small>
                <small *ngIf="f['processingFeeCollectedAmount']?.errors?.pattern">Please enter a valid amount</small>
              </div>
            </div>
          </div>
           <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <div class="form-floating mb-3">
              <input type="number" class="form-control" id="processingFeeGSTPercent" formControlName="processingFeeGSTPercent" placeholder="" min="0" max="100">
              <label for="processingFeeGSTPercent">Processing Fee GST Percentage</label>
                <div *ngIf="f['processingFeeGSTPercent']?.invalid && (f['processingFeeGSTPercent']?.dirty || f['processingFeeGSTPercent']?.touched)"
                class="text-danger">
                <small *ngIf="f['processingFeeGSTPercent']?.errors?.required">Processing Fee GST Percentage is required</small>
                <small *ngIf="f['processingFeeGSTPercent']?.errors?.pattern">Please enter a valid percentage (numbers only)</small>
                <small *ngIf="f['processingFeeGSTPercent']?.value < 0 || f['processingFeeGSTPercent']?.value > 100">
                  GST Percentage must be between 0 and 100.
                </small>
                </div>
            </div>
          </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <div class="form-floating mb-3">
              <input type="date" class="form-control" id="processingFeeReceivedDate" formControlName="processingFeeReceivedDate"  max="{{ today | date:'yyyy-MM-dd' }}"
                placeholder="">
              <label for="processingFeeReceivedDate">Processing Fee Received Date</label>
              <div *ngIf="f['processingFeeReceivedDate']?.invalid && (f['processingFeeReceivedDate']?.dirty || f['processingFeeReceivedDate']?.touched)"
                class="text-danger">
                <small *ngIf="f['processingFeeReceivedDate']?.errors?.required">Processing Fee Received Date is required</small>
              </div>
            </div>
          </div> -->
          <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <div class="mb-3">
              <h6 class="fw-600 fs-md">TG-Ipass <span class="text-danger">*</span></h6>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" formControlName="tgipassUpload" id="applicableTsi"
                  value="Yes">
                <label class="form-check-label fs-md" for="applicableTsi">Applicable</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" formControlName="tgipassUpload" id="notapplicableTsi"
                  value="No">
                <label class="form-check-label fs-md" for="notapplicableTsi">Not Applicable</label>
              </div>
              <div *ngIf="f['tgipassUpload']?.invalid && (f['tgipassUpload']?.dirty || f['tgipassUpload']?.touched)"
                class="text-danger">
                <small>TG-Ipass  is required</small>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-12 col-md-6  col-lg-4 " *ngIf="f['tgipassUpload']?.value === 'Yes'">
            <div>
              <label for="uploadNoc" class="form-label text-center fw-600">TG-ipass upload </label>
              <!-- <input class="form-control" id="uploadNoc" type="file"> -->
              <input class="form-control" id="uploadNoc" type="file" (change)="onFileSelectedtgipassUpload($event)">
              <small *ngIf="this.selectedfiles?.name " class="text-muted">
                Uploaded file: {{ this.selectedfiles?.name?.split('/').pop() }}
              </small>
              <small class="text-muted" *ngIf="disbursementForm.get('tgipassUploadPath')?.value">Uploaded file: {{ disbursementForm.get('tgipassUploadPath')?.value?.split('/').pop() }}</small>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <div class="mb-3">
              <h6 class="fw-600 fs-md">ROC Filing <span class="text-danger">*</span></h6>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" formControlName="rocFiling" id="applicableRoc"
                  value="Yes">
                <label class="form-check-label fs-md" for="applicableRoc">Applicable</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" formControlName="rocFiling" id="notapplicableRoc"
                  value="No">
                <label class="form-check-label fs-md" for="notapplicableRoc">Not Applicable</label>
              </div>
              <div *ngIf="f['rocFiling']?.invalid && (f['rocFiling']?.dirty || f['rocFiling']?.touched)"
                class="text-danger">
                <small>ROC Filing is required</small>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-12 col-md-6  col-lg-4 " *ngIf="f['rocFiling']?.value === 'Yes'">
            <div>
              <label for="uploadNoc" class="form-label text-center fw-600">ROC upload</label>
              <!-- <input class="form-control" id="uploadNoc" type="file"> -->
              <input class="form-control" id="uploadNoc" type="file" (change)="onFileSelectedrocFilling($event)">
              <small *ngIf="this.selectedfilesrocFilling?.name " class="text-muted">
                Uploaded file: {{ this.selectedfilesrocFilling?.name?.split('/').pop() }}
              </small>
              <small class="text-muted" *ngIf="disbursementForm.get('rocFilingPath')?.value">Uploaded file: {{ disbursementForm.get('rocFilingPath')?.value?.split('/').pop() }}</small>
            </div>
          </div>
        </div>
         <div class="card border rounded-2 shadow-none mb-3">
      <div class="card-header bg-theme text-white">
        <h6 class="mb-0">Processing Fee Details</h6>
      </div>
      <div class="card-body">
        <div class="row">
          
          <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <div class="form-floating mb-3">
              <input type="number" class="form-control" id="processingFeeAmount" formControlName="processingFeeAmount" placeholder="" (input)="ChangeAmount($any($event.target).value,f['processingFeeGSTAmount'].value)">
              <label for="processingFeeAmount">Processing Fee  Amount <span class="text-danger">*</span></label>
              <div *ngIf="f['processingFeeAmount']?.invalid && (f['processingFeeAmount']?.dirty || f['processingFeeAmount']?.touched)"
                class="text-danger">
                <small *ngIf="f['processingFeeAmount']?.errors?.required">Processing Fee Amount is required</small>
                <small *ngIf="f['processingFeeAmount']?.errors?.pattern">Please enter a valid amount</small>
              </div>
            </div>
          </div>
           <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <div class="form-floating mb-3">
              <input type="number" class="form-control" id="processingFeeGSTAmount" formControlName="processingFeeGSTAmount" placeholder="" (input)="ChangeAmount(f['processingFeeAmount'].value,$any($event.target).value)">
              <label for="processingFeeGSTAmount">Processing GST Amount <span class="text-danger">*</span></label>
              <div *ngIf="f['processingFeeGSTAmount']?.invalid && (f['processingFeeGSTAmount']?.dirty || f['processingFeeGSTAmount']?.touched)"
                class="text-danger">
                <small *ngIf="f['processingFeeGSTAmount']?.errors?.required">Processing GST Amount is required</small>
                <small *ngIf="f['processingFeeGSTAmount']?.errors?.pattern">Please enter a valid amount</small>
              </div>
            </div>
          </div>
           <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <div class="form-floating mb-3">
              <input type="number" class="form-control" id="processingFeeCollectedAmount" readonly formControlName="processingFeeCollectedAmount" placeholder="">
              <label for="processingFeeCollectedAmount">Processing Fee Collected <span class="text-danger">*</span></label>
              <div *ngIf="f['processingFeeCollectedAmount']?.invalid && (f['processingFeeCollectedAmount']?.dirty || f['processingFeeCollectedAmount']?.touched)"
                class="text-danger">
                <small *ngIf="f['processingFeeCollectedAmount']?.errors?.required">Processing Fee Collected is required</small>
                <small *ngIf="f['processingFeeCollectedAmount']?.errors?.pattern">Please enter a valid amount</small>
              </div>
            </div>
          </div>
           <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <div class="form-floating mb-3">
              <input type="date" class="form-control" id="processingFeeReceivedDate" formControlName="processingFeeReceivedDate"  max="{{ today | date:'yyyy-MM-dd' }}"
                placeholder="">
              <label for="processingFeeReceivedDate">Processing Fee Collected Date <span class="text-danger">*</span></label>
              <div *ngIf="f['processingFeeReceivedDate']?.invalid && (f['processingFeeReceivedDate']?.dirty || f['processingFeeReceivedDate']?.touched)"
                class="text-danger">
                <small *ngIf="f['processingFeeReceivedDate']?.errors?.required">Processing Fee Collected Date is required</small>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <div class="form-floating mb-3">
              <input type="text" class="form-control" id="remarksInput" 
                     formControlName="remarks">
              <label for="remarksInput">Remarks</label>
            </div>
          </div>                        
        </div>
      </div>
    </div>
         <div class="border rounded-3 p-2">
          <div class="row align-items-center mb-3">
            <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
              <label class="fs-md fw-bold mb-1" >Add Bank Details</label>
            </div>
            <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
              <div class="text-start text-sm-end text-xl-end">
                <button type="button" data-bs-toggle="modal" data-bs-target="#addBankDetails" [ngClass]="{'isDisabled':bankdetails.length>=3 || (applicationData?.applicationStatus?applicationData?.applicationStatus=='DISBURSEMENT_COMPLETED' :applicationData?.status=='DISBURSEMENT_COMPLETED') }" 
                  class="btn btn-outline-primary btn-sm border-0 ms-3"><span class="bi bi-plus-lg"></span> Add</button>
              </div>
            </div>
          </div>
          <div class="table-responsive">
            <table class="table table-borderless table-striped fs-md">
              <thead class="bg-theme text-white">
                <tr>
                  <th>S.No</th>
                  <th>Actions</th>
                  <th>Bank Name</th>
                  <th>IFSC Code</th>
                  <th>Account Name</th>
                  <th>Account Number</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of bankdetails; let i = index">
                  <td>{{ i + 1 }}</td>
                  <td>
                    <button type="button" class="btn btn-default text-danger btn-sm" [ngClass]="{'isDisabled':(applicationData?.applicationStatus?applicationData?.applicationStatus=='DISBURSEMENT_COMPLETED' :applicationData?.status=='DISBURSEMENT_COMPLETED') }"
                      (click)="editBankDetails(item, i)"><span class="bi bi-pencil"></span></button>
                    <button type="button" class="btn btn-default text-danger btn-sm" [ngClass]="{'isDisabled':(applicationData?.applicationStatus?applicationData?.applicationStatus=='DISBURSEMENT_COMPLETED' :applicationData?.status=='DISBURSEMENT_COMPLETED') }"
                      (click)="deleteBankDetails(item, i)"><span class="bi bi-trash"></span></button>
                  </td>
                  <td>{{ item.bankName }}</td>
                  <td>{{ item.ifscCode }}</td>
                  <td>{{ item.accountName }}</td>
                  <td>{{ item.accountNumber }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="border rounded-3 p-2">
          <div class="row align-items-center mb-3">
            <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
              <label class="fs-md fw-bold mb-1">Add Disbursement</label>
            </div>
            <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
              <div class="text-start text-sm-end text-xl-end">
                <button type="button" data-bs-toggle="modal" data-bs-target="#addDisbursement" [ngClass]="{'isDisabled':(applicationData?.applicationStatus?applicationData?.applicationStatus=='DISBURSEMENT_COMPLETED' :applicationData?.status=='DISBURSEMENT_COMPLETED') }"
                  class="btn btn-outline-primary btn-sm border-0 ms-3"><span class="bi bi-plus-lg"></span> Add</button>
              </div>
            </div>
          </div>
          <div class="table-responsive">
            <table class="table table-borderless table-striped fs-md">
              <thead class="bg-theme text-white">
                <tr>
                  <th>S.No</th>
                  <th>Actions</th>
                  <th>Date</th>
                  <th>Amount</th>
                  <th>Details</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of disbursements let i=index">
                  <td>{{i + 1}}</td>
                  <td>
                    <button type="button" class="btn btn-default text-danger btn-sm" [ngClass]="{'isDisabled':(applicationData?.applicationStatus?applicationData?.applicationStatus=='DISBURSEMENT_COMPLETED' :applicationData?.status=='DISBURSEMENT_COMPLETED') }"
                      (click)="editCreditDetails(item,i)"><span class="bi bi-pencil"></span></button>
                    <button type="button" class="btn btn-default text-danger btn-sm" [ngClass]="{'isDisabled':(applicationData?.applicationStatus?applicationData?.applicationStatus=='DISBURSEMENT_COMPLETED' :applicationData?.status=='DISBURSEMENT_COMPLETED') }"
                      (click)="deleteCreditDetail(item,i)"><span class="bi bi-trash"></span></button>
                  </td>
                  <td>{{ item.disbursementDate }}</td>
                  <td>{{ item.amount | currency:'INR' }}</td>
                  <td>{{ item.details }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <!-- <button type="button" (click)="onPrevious()" class="btn btn-secondary float-start">Previous</button> -->
    
    <button type="button" class="btn btn-primary float-end " (click)='finalSave()' [ngClass]="{'isDisabled':(applicationData?.applicationStatus?applicationData?.applicationStatus=='DISBURSEMENT_COMPLETED' :applicationData?.status=='DISBURSEMENT_COMPLETED') || disbursementForm.invalid || f['totalDisbursedAmount'].value > f['totalSanctionedAmount'].value }">Final Submisiion</button>
  <button type="submit" class="btn btn-primary float-end me-3"
      [ngClass]="{'isDisabled':(applicationData?.applicationStatus?applicationData?.applicationStatus=='DISBURSEMENT_COMPLETED' :applicationData?.status=='DISBURSEMENT_COMPLETED') || disbursementForm.invalid  || f['totalDisbursedAmount'].value > f['totalSanctionedAmount'].value}"
      *ngIf="freeze<=11">Save</button>
  </form>
</fieldset>



<!-- begin:: add disubursement modal -->
<div class="modal fade" id="addDisbursement" #addDisbursement tabindex="-1" aria-labelledby="addisbursementLabel" >
  <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header py-2 bg-theme">
        <h6 class="modal-title text-white">Add Disbursement</h6>
        <button type="button" class="btn-close text-white fs-4 p-0" data-bs-dismiss="modal" aria-label="Close" (click)="closemodel()"><span
            class="bi bi-x"></span></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="addDisbursementForm">
          <div class="row">
            <div class="col-12 col-sm-6 col-md-6 col-lg-6">
              <div class="form-floating mb-3">
                <input type="date" class="form-control" id="date1" formControlName="disbursementDate" placeholder=""
                  max="{{ today | date:'yyyy-MM-dd' }}">
                <label for="date1">Date <span class="text-danger">*</span></label>
                <div
                  *ngIf="af['disbursementDate']?.invalid && (af['disbursementDate']?.dirty || af['disbursementDate']?.touched)"
                  class="text-danger">
                  <small>Disbursement Date is required</small>
                </div>
              </div>
            </div>
            <div class="col-12 col-sm-6 col-md-6 col-lg-6">
              <div class="form-floating mb-3">
                <input type="text" class="form-control" id="amt1" formControlName="amount" placeholder="">
                <label for="amt1">Amount <span class="text-danger">*</span></label>
                <div *ngIf="af.amount.invalid && (af['amount']?.dirty || af['amount']?.touched)" class="text-danger">
                  <small *ngIf="af['amount']?.errors?.required">Amount is required</small>
                  <small *ngIf="af['amount']?.errors?.pattern">Please enter a valid amount</small>
                </div>
              </div>
            </div>
            <div class="col-12">
              <div class="form-floating mb-3">
                <input type="text" class="form-control" id="details" formControlName="details" placeholder="">
                <label for="details">Details <span class="text-danger">*</span></label>
                <div *ngIf="af['details']?.invalid && (af['details']?.dirty || af['details']?.touched)"
                  class="text-danger">
                  <small>Details are required</small>
                </div>
              </div>
            </div>
          </div>
        </form>

        <div class="text-end">
          <button type="button" class="btn btn-primary"  aria-label="Close"
            (click)="saveDisbursement()">Add</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- add banck details -->
<!-- Add Bank Details Modal -->
<div class="modal fade" id="addBankDetails" #addBankDetails tabindex="-1" aria-labelledby="addBankDetailsLabel">
  <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header py-2 bg-theme">
        <h6 class="modal-title text-white">Add Bank Details</h6>
        <button type="button" class="btn-close text-white fs-4 p-0" data-bs-dismiss="modal" aria-label="Close" (click)="closemodel()">
          <span class="bi bi-x"></span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="addBankDetailsForm">
          <div class="row">
            <div class="col-12 col-sm-6">
              <div class="form-floating mb-3">
                <input type="text" class="form-control" id="bankName" formControlName="bankName" placeholder="">
                <label for="bankName">Bank Name <span class="text-danger">*</span></label>
                <div *ngIf="abf['bankName']?.invalid && (abf['bankName']?.dirty || abf['bankName']?.touched)" class="text-danger">
                  <small>Bank Name is required</small>
                </div>
              </div>
            </div>
            <div class="col-12 col-sm-6">
              <div class="form-floating mb-3">
                <input type="text" class="form-control" id="ifscCode" formControlName="ifscCode" placeholder="">
                <label for="ifscCode">IFSC Code <span class="text-danger">*</span></label>
                <div *ngIf="abf['ifscCode']?.invalid && (abf['ifscCode']?.dirty || abf['ifscCode']?.touched)" class="text-danger">
                  <small *ngIf="abf['ifscCode']?.errors?.required">IFSC Code is required</small>
                  <small *ngIf="abf['ifscCode']?.errors?.pattern">
                    Invalid IFSC format. Correct format: AAAA0BBBBBB (4 capital letters, then 0, then 6 letters/numbers)
                  </small>
                </div>
              </div>
            </div>
            <div class="col-12 col-sm-6">
              <div class="form-floating mb-3">
                <input type="text" class="form-control" id="accountName" formControlName="accountName" placeholder="">
                <label for="accountName">Account Name <span class="text-danger">*</span></label>
                <div *ngIf="abf['accountName']?.invalid && (abf['accountName']?.dirty || abf['accountName']?.touched)" class="text-danger">
                  <small>Account Name is required</small>
                </div>
              </div>
            </div>
            <div class="col-12 col-sm-6">
              <div class="form-floating mb-3">
                <input type="number" class="form-control" id="accountNumber" formControlName="accountNumber" placeholder="">
                <label for="accountNumber">Account Number <span class="text-danger">*</span></label>
                <div *ngIf="abf['accountNumber']?.invalid && (abf['accountNumber']?.dirty || abf['accountNumber']?.touched)" class="text-danger">
                  <small *ngIf="abf['accountNumber']?.errors?.required">Account Number is required</small>
                  <small *ngIf="abf['accountNumber']?.errors?.pattern">Please enter a valid account number</small>
                </div>
              </div>
            </div>
          </div>
        </form>
        <div class="text-end">
          <button type="button" class="btn btn-primary" aria-label="Close"
            (click)="saveBankDetailsForm()">Add</button>
        </div>
      </div>
    </div>
  </div>
</div>