 <fieldset>
                 <div class="card border rounded-2 shadow-none mb-3">
                            <div class="card-header bg-theme text-white">
                                <h6 class="mb-0">Manager 1</h6>
                            </div>
                            <div class="card-body">                              
                              <div class="row">
                                <div class="col-12 col-sm-12 col-md-8 offset-lg-2 col-lg-6 offset-lg-3">
                                  <div class="success-content d-flex align-items-center justify-content-center flex-column mb-3">
                                    <img src="assets/img/pending.gif" class="img-fluid" alt="pending" width="200"  />
                                    <h3 class="text-warning">Pending</h3>
                                  </div>
                                  <div class="success-content d-flex align-items-center justify-content-center flex-column mb-3 d-none">
                                    <img src="assets/img/success.gif" class="img-fluid" alt="success" width="200"  />
                                    <h5>Approved Successfully</h5>
                                  </div>
                                  <div class="reject-content d-flex align-items-center justify-content-center flex-column mb-3 d-none">
                                    <img src="assets/img/reject.gif" class="img-fluid" alt="reject" width="200"  />
                                    <h5>Rejected</h5>
                                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugit minus aspernatur minima suscipit laboriosam amet, nesciunt optio at saepe! Sed aspernatur deleniti quaerat molestiae obcaecati nam maxime consequatur accusantium dignissimos?</p>
                                  </div> 
                                </div>
                              </div> 
                            </div>
                          </div>   
                          <input type="button" name="previous" class="previous btn btn-secondary float-start" value="Previous"/>
                          <input type="button" name="next" class="next btn btn-primary float-end" value="Next"/>         
</fieldset>