<main class="mt-4">
    <section>
        <div class="card mb-3">
            <div class="card-header bg-transparent">
                <div class="row align-items-center">
                    <div class="col-12 col-sm-6 col-md-6 col-lg-6">
                        <h6 class="fw-600 mb-2 mb-sm-0">Upload Participant</h6>
                    </div>
                    <ng-container *ngIf="loginsessionDetails?.userRole == 'ADMIN'">
                        <div class="col-12 col-sm-3 col-md-3 col-lg-3">
                            <!-- <label for="Agencies" style="font-weight: 600;">List Of Agencies</label>
                            <select class="form-select" [(ngModel)]="selectedAgencyId" (change)="getProgramsByAgencyAdmin($any($event.target).value)">                                    
                                <option *ngFor="let list of agencyList" value="{{list.agencyId}}">{{list.agencyName}}</option>
                            </select> -->
                              <mat-form-field appearance="outline" class="w-100">
                            <mat-label>List Of Agencies</mat-label>
                                <mat-select [(ngModel)]="selectedAgencyId" (selectionChange)="getProgramsByAgencyAdmin($any($event).value)">
                                <mat-select-filter [array]="agencyList" [displayMember]="'agencyName'" (filteredReturn)="agencyListFiltered = $event">
                                </mat-select-filter>
                                <mat-option value="" disabled>Select Program</mat-option>
                                <mat-option *ngFor="let list of agencyListFiltered" [value]="list.agencyId">
                                {{ list.agencyName }}
                                </mat-option>
                            </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-12 col-sm-3 col-md-3 col-lg-3">
                            <!-- <label for="Agencies" style="font-weight: 600;">List Of Programs</label>
                            <select class="form-select" [(ngModel)]="programIds" (change)="dropdownProgramsList($event,'table')">
                                <option value="">Select Program</option>
                            <option *ngFor="let list of agencyProgramList" value="{{list.programId}}">{{list.programTitle}}</option>
                            </select> -->
                            <mat-form-field appearance="outline" class="w-100">
                            <mat-label>List Of Program</mat-label>
                                <mat-select [(ngModel)]="programIds" (selectionChange)="dropdownProgramsList($event,'table')">
                                <mat-select-filter [array]="agencyProgramList" [displayMember]="'programTitle'" (filteredReturn)="agencyProgramListFiltered = $event">
                                </mat-select-filter>
                                <mat-option value="" disabled>Select Program</mat-option>
                                <mat-option *ngFor="let list of agencyProgramListFiltered" [value]="list.programId">
                                {{ list.programTitle }}
                                </mat-option>
                            </mat-select>
                            </mat-form-field>
                        </div>
                    </ng-container>   
                    <ng-container *ngIf="loginsessionDetails?.userRole != 'ADMIN'">
                        <div class="col-lg-3 col-sm-6 col-md-6 ">
                            <!-- <label for="Agencies" style="font-weight: 600;">List Of Programs</label>
                            <select class="form-select" [(ngModel)]="programIds" (change)="dropdownProgramsList($event,'table')">
                                <option value="">Select Program</option>
                            <option *ngFor="let list of agencyProgramList" value="{{list.programId}}">{{list.programTitle}}</option>
                            </select> -->
                             <mat-form-field appearance="outline" class="w-100">
                            <mat-label>List Of Program</mat-label>
                                <mat-select [(ngModel)]="programIds" (selectionChange)="dropdownProgramsList($event,'table')">
                                <mat-select-filter [array]="agencyProgramList" [displayMember]="'programTitle'" (filteredReturn)="agencyProgramListFiltered = $event">
                                </mat-select-filter>
                                <mat-option value="" disabled>Select Program</mat-option>
                                <mat-option *ngFor="let list of agencyProgramListFiltered" [value]="list.programId">
                                {{ list.programTitle }}
                                </mat-option>
                            </mat-select>
                            </mat-form-field>
                        </div>
                    </ng-container>
                   
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                   <div class="col-12 col-12 col-sm-6 col-md-6 col-lg-6">
                    <button type="button" [ngClass]="{'disabled': !programIds}" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#exampleModalDeleteConfirm">Confirm To DB</button>
                   </div>
                    <div class="col-12 col-12 col-sm-6 col-md-6 col-lg-6 text-end">
                        <button type="button" [ngClass]="{'disabled': !programIds}" (click)="downloadParticipant()" class="btn btn-secondary">Download Participants</button> &nbsp;&nbsp;
                        <button type="button" [ngClass]="{'disabled': !programIds}" (click)="openFileUploadModal()" class="btn btn-lime-green" >Upload Participants</button>
                    </div>
                </div>
                <br>
                <table id="view-table-participant1" class="table table-borderless table-striped nowrap">
                    <thead class="bg-lime-green text-white">
                        <tr>
                            <th>S.No</th>
                            <th class="text-center">Edit / Delete</th>
                            <th>Error Message</th>
                            <th>IsAspirant</th>
                            <th>Oragnization Name</th>
                            <th>Name of the Participant</th>
                            <th>Gender</th>
                            <th>Disability</th>
                            <th>Aadhar No.</th>
                            <th>Category</th>
                            <th>Mobile No.</th>
                            <th>Email</th>
                            <th>Designation/Current Trade</th>
                            <th>Previous Participant</th>
                            <th>Pre-Training Assessment</th>
                            <th>Post Training Assessment</th>
                            <th>Certificate Issue Date</th>
                            <th>Issue Date</th>
                            <th>Methodology Used for Needs Assessment</th>
                          
                        </tr>
                    </thead>
                    <tbody *ngIf="submitedData">
                        <tr  *ngFor="let item of submitedData; let i=index">
                            <td class="text-start">{{i+1}}</td>
                            <td class="text-center">
                                <button type="button" class="btn btn-default text-lime-green btn-sm" (click)="editRow(item)"><span class="bi bi-pencil"></span></button>
                                <button type="button" class="btn btn-default text-danger btn-sm" (click)="deleteTemp(item)"><span class="bi bi-trash"></span></button>
                            </td>
                            <td>{{item?.errorMessage}}</td>
                            <td>{{item?.organizationName?'No':'Yes'}}</td>
                            <td >{{item?.isAspirant=='Aspirant'?'':item?.organizationName}}</td>
                            <td>{{item?.participantName}}</td>
                            <td>{{item?.gender}}</td>
                            <td>{{item?.disability}}</td>
                            <td>{{item?.aadharNo}}</td>
                            <td>{{item?.category}}</td>
                            <td>{{item?.mobileNo}}</td>
                            <td>{{item?.email}}</td>
                            <td>{{item?.designation}}</td>
                            <td>{{item?.isParticipatedBefore}}</td>
                            <td>{{item?.preTrainingAssessmentConducted}}</td>
                            <td>{{item?.postTrainingAssessmentConducted}}</td>
                            <td>{{item?.isCertificateIssued=='Y'?'Yes':'No'}}</td>
                            <td>{{item?.isCertificateIssued=='Y'?item?.certificateIssueDate:''}}</td>
                            <td>{{item?.needAssessmentMethodology}}</td>
                          
                        </tr>
                    </tbody>
                </table>                
            </div>
            
        </div>
    </section>
</main>


<!-- upload form -->
<div class="modal fade" id="addDocumentModel" tabindex="-1" aria-labelledby="addDocumentLabel" aria-hidden="true" data-keyboard="false" data-bs-backdrop="static" >
    <div class="modal-dialog modal-sm modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title" id="addDocumentLabel">Upload  Document</h6>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <span *ngIf="fileErrorMsg" style="color: red;">{{fileErrorMsg}}</span>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="attachment" *ngIf="!file">
                            <input class="attachment" style="opacity: 0" #fileInput type="file" 
                                accept=".xls, .xlsx,"
                                (change)="onFilesSelected($event)" />
                            <span class="drop-zone__prompt">Drop file here <br> or <br> click to upload</span>
                        </div>
                        <div *ngIf="file">
                            file Name : {{ selectedfiles.name}} <br> <button class="btn btn-sm btn-primary" 
                                (click)="file=undefined"> clear file</button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <ng-container *ngIf="selectedfiles">
                            <div class="row" *ngFor="let item of selectedfiles" style="font-size: 10px;">
                                <div class="col-sm-6 word-wrap">{{item.name}}</div>
                                <!-- <div class="col-sm-2">{{item.size}}</div>
                                <div class="col-sm-4 word-wrap">{{item.type}}</div> -->
                            </div>
                        </ng-container>
                    </div>
                </div>
                <div class="d-grid">
                    <ng-container >
                        <button type="button"  class="btn btn-lime-green" data-bs-dismiss="modal" (click)="uploadManualFiles()" [ngClass]="{'disabled': !selectedfiles.length}">Upload</button>
                    </ng-container>
                  
                    
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="exampleModalDeleteConfirm" tabindex="-1" role="dialog" aria-labelledby="exampleModalDeleteConfirmLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalDeleteConfirmLabel">Confirm Participant Data</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to confirm these participants for the current program?<br>
                <span class="text-success">Once confirmed, the uploaded data will be moved to the participant list.</span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-lime-green" (click)="sessionSubmissionFinal()">Confirm</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="exampleModalDeleteProgram" tabindex="-1" role="dialog" aria-labelledby="exampleModalDeleteLabel" aria-hidden="true">
<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalDeleteLabel">Delete Program</h5>
            <button type="button" class="btn-close" (click)="closeModalDelete()" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            Are you sure you want to delete Participant Data?
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="closeModalDelete()" >Close</button>
            <button type="button" class="btn btn-lime-green"  (click)="ConfirmdeleteExpenditure(deleteProgramId)">Confirm</button>
        </div>
    </div>
</div>
</div>
<div class="modal fade" id="editParticiapant" tabindex="-1" role="dialog" aria-labelledby="exampleModalDeleteLabel" aria-hidden="true">
 <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalDeleteLabel">Update Participant Details</h5>
            <button type="button" class="btn-close" (click)="closeModalEdit()"  aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form [formGroup]="ParticipantDataForm">
                        <div class="row mb-3">
                            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                                <div class="form-floating mb-3">
                                    <input type="text" class="form-control" id="mobileNo" placeholder="" formControlName="mobileNo" (input)="getDataByMobileNumber($any($event.target).value)">
                                    <label id="mobileNo">Mobile No<span class="c-red"> *</span></label>
                                </div>
                                <div *ngIf="f2['mobileNo'].touched && !f2['mobileNo'].valid && !f2['mobileNo']?.errors?.['pattern']" class="error">Mobile No is required</div>
                                <div *ngIf="f2['mobileNo'].touched && !f2['mobileNo'].valid && f2['mobileNo']?.errors?.['pattern']" class="error">Mobile No Starts with 6,7,8,9 and should be 10 digits</div>
                            </div>
                            <div class="col-12 col-sm-3 col-md-3 col-lg-3">
                                <!-- <label class="fs-md fw-600 mb-1">Post Training Assessment</label> -->
                                <div>
                                    <div class="form-check form-check-inline" [ngClass]="{'isDisabled': DefaultDisabled}">
                                        <input class="form-check-input" type="radio" formControlName="isAspirant" name="isAspirant" (change)="OragnizationList($event)" id="Aspirant" value="Aspirant">
                                        <label class="form-check-label" for="Aspirant">Aspirant</label>
                                    </div>
                                    <div class="form-check form-check-inline" [ngClass]="{'isDisabled': DefaultDisabled}">
                                        <input class="form-check-input" type="radio" formControlName="isAspirant" name="isAspirant" (change)="OragnizationList($event)" id="Existing Oragnization" value="Existing Oragnization">
                                        <label class="form-check-label" for="Existing Oragnization">Existing Oragnization</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 col-md-4 col-lg-3 relative field" *ngIf="this.f2['isAspirant'].value=='Existing Oragnization'">
                                <div [ngClass]="{'isDisabled': DefaultDisabled}" >
                                      <ng-multiselect-dropdown   class="multi"
                                        placeholder="Select Organisation*"
                                        name="organizationId"
                                        formControlName="organizationId"
                                        [settings]="dropdownSettingsOrg"
                                        [data]="dropdownListOrg"
                                        (onSelect)="onItemSelectOrg($event)"
                                     ></ng-multiselect-dropdown> 
                                     <!-- <label for="area" class="form-label"> Sector </label> -->
                                    
                                </div>
                               
                            </div>
                            <!-- <div class="col-12 col-sm-4 col-md-4 col-lg-4" *ngIf="this.f2['isAspirant'].value=='Existing Oragnization'">
                                <div class="form-floating mb-3">
                                    <select class="form-select" id="organizationId"  formControlName="organizationId">
                                      <option selected value="">Select Organisation Name</option>
                                      <option *ngFor="let val of OrganizationData" value="{{val?.organizationId}}">{{val?.organizationName}}</option>
                                    </select>
                                    <label for="organizationId">Organisation Name <span class="c-red"> *</span></label>
                                </div>
                            </div> -->
                            <div class="col-12 col-sm-6 col-md-4 col-lg-3" >
                                <div class="form-floating mb-3" [ngClass]="{'isDisabled':DefaultDisabled}" >
                                    <select class="form-select" id="programId" formControlName="programIds" (change)="getProgramDetailsById($any($event.target).value)">
                                        <option value="">Select Program</option>
                                        <option *ngFor="let list of agencyProgramList"  value="{{list?.programId}}">{{list?.programTitle}}</option>
                                        <!-- <ng-container *ngFor="let list of agencyProgramList">
                                            <option *ngIf="!list?.programId.include(this.previousParticipationDetails?.programIds)"  value="{{list?.programId}}">{{list?.programTitle}}</option>
                                        </ng-container> -->
                                    </select>
                                    <label for="programId">Programs <span class="c-red"> *</span></label>
                                </div>
                                
                            </div>
                        </div>
                        <div class="row">
                            <!-- <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                                <div class="form-floating mb-3">
                                    <input type="text" class="form-control" id="code" placeholder="">
                                    <label for="code">Code</label>
                                </div>
                            </div> -->
                          
                            <div class="col-12 col-sm-6 col-md-4 col-lg-3" >
                                <div class="form-floating mb-3 " [ngClass]="{'isDisabled': DefaultDisabled}">
                                    <input type="text" class="form-control" id="participantName" formControlName="participantName" placeholder="">
                                    <label for="participantName">Name Of The Participant <span class="c-red"> *</span></label>
                                </div>
                                <div *ngIf="f2['participantName'].touched && !f2['participantName'].valid && !f2['participantName']?.errors?.['pattern']" class="error">Name  Of Participant is required</div>
                                <div *ngIf="f2['participantName'].touched && !f2['participantName'].valid && f2['participantName']?.errors?.['pattern']" class="error">Participant Name Should be Characters</div>
                            </div>
                            <div class="col-12 col-sm-6 col-md-4 col-lg-3" >
                                <div class="form-floating mb-3" [ngClass]="{'isDisabled': DefaultDisabled}">
                                    <input type="text" class="form-control" id="aadharNo" formControlName="aadharNo" placeholder="">
                                    <label for="aadharNo">Aadhar Number </label>
                                </div>
                                <div *ngIf="f2['aadharNo'].touched && !f2['aadharNo'].valid && !f2['aadharNo']?.errors?.['pattern']" class="error">Aadhar No is required</div>
                                <div *ngIf="f2['aadharNo'].touched && !f2['aadharNo'].valid && f2['aadharNo']?.errors?.['pattern']" class="error">Aadhar No should be 12 digit Numbers</div>
                           
                            </div>
                           
                            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                                <div class="form-floating mb-3" [ngClass]="{'isDisabled': DefaultDisabled}">
                                    <input type="email" class="form-control" id="email" placeholder="" formControlName="email">
                                    <label for="email">Email</label>
                                </div>
                                <div *ngIf="f2['email'].touched && !f2['email'].valid && !f2['email']?.errors?.['email']" class="error">Email is required</div>
                                <div *ngIf="f2['email'].touched && !f2['email'].valid && f2['email']?.errors?.['email']" class="error">Please Enter Proper Email Id</div>
                           
                            </div>
                            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                                <div class="form-floating mb-3" [ngClass]="{'isDisabled': DefaultDisabled}">
                                    <select class="form-select" id="gender" formControlName="gender">
                                      <option selected value="">Select Gender</option>
                                      <option value="M">Male</option>
                                      <option value="F">Female</option>
                                      <option value="Trans-Gender">Trans-Gender</option>
                                    </select>
                                    <label for="gender">Gender <span class="c-red"> *</span></label>
                                </div>
                                <div *ngIf="f2['gender'].touched && !f2['gender'].valid" class="error">Gender is required</div>
                            </div>
                            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                                <div class="form-floating mb-3" [ngClass]="{'isDisabled': DefaultDisabled}">
                                    <select class="form-select" id="category" formControlName="category">
                                      <option selected value="">Select Category</option>
                                      <option value="OC">OC</option>
                                      <option value="BC">BC</option>
                                      <option value="SC">SC</option>
                                      <option value="ST">ST</option>
                                      <option value="Minority">Minority</option>
                                    </select>
                                    <label for="category">Category<span class="c-red"> *</span> </label>
                                </div>
                                <div *ngIf="f2['category'].touched && !f2['category'].valid" class="error">Category is required</div>
                            </div>
                            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                                <div class="form-floating mb-3" [ngClass]="{'isDisabled': DefaultDisabled}">
                                    <select class="form-select" id="disability" formControlName="disability">
                                      <option selected value="">Select Disability</option>
                                      <option value="Y">Yes</option>
                                      <option value="N">No</option>
                                    </select>
                                    <label for="disability">Disability <span class="c-red"> *</span></label>
                                </div>
                                <div *ngIf="f2['disability'].touched && !f2['disability'].valid" class="error">Disability is required</div>
                            </div>    
                            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                                <div class="form-floating mb-3">
                                    <div class="form-floating mb-3" [ngClass]="{'isDisabled': DefaultDisabled}">
                                        <input type="text" class="form-control" id="designation" placeholder="" formControlName="designation">
                                        <label id="designation">{{this.f2['isAspirant'].value=='Existing Oragnization'?"Designation":"Current Trade"}}</label>
                                    </div>
                                    <!-- <select class="form-select" id="designation" formControlName="designation">
                                      <option selected>Select Designation</option>
                                      <option value="Designation 1">Designation 1</option>
                                      <option value="Designation 2">Designation 2</option>
                                    </select>
                                    <label for="designation">Designation</label> -->
                                </div>
                            </div>
                            <ng-container *ngIf="programData?.programType!='Awareness'">
                            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                                <div class="form-floating mb-3" [ngClass]="{'isDisabled': DefaultDisabled}">
                                    <select class="form-select" id="isParticipatedBefore" formControlName="isParticipatedBefore">
                                      <option selected value="">Select Previous Participation</option>
                                      <option value="Y">Yes</option>
                                      <option value="N">No</option>
                                    </select>
                                    <label for="isParticipatedBefore">Previous Participation</label>
                                </div>
                            </div>
                            <!-- <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                                <div class="form-floating mb-3">
                                    <select class="form-select" id="preTrainingAssessmentConducted" formControlName="preTrainingAssessmentConducted">
                                      <option selected>Select Pre-Training</option>
                                      <option value="Product Innovation">Product Innovation</option>
                                    </select>
                                    <label for="preTrainingAssessmentConducted">Pre-Training Assessment Conducted</label>
                                </div>
                            </div> -->
                            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                                <label class="fs-md fw-600 mb-1">Pre Training Assessment Conducted</label>
                                <div>
                                    <div class="form-check form-check-inline" [ngClass]="{'isDisabled': DefaultDisabled}">
                                        <input class="form-check-input" type="radio" name="preTrainingAssessmentConducted" formControlName="preTrainingAssessmentConducted" id="Yes" value="Y">
                                        <label class="form-check-label" for="Yes">Yes</label>
                                    </div>
                                    <div class="form-check form-check-inline" [ngClass]="{'isDisabled': DefaultDisabled}">
                                        <input class="form-check-input" type="radio" name="preTrainingAssessmentConducted" formControlName="preTrainingAssessmentConducted" id="No" value="N">
                                        <label class="form-check-label" for="No">No</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                                <label class="fs-md fw-600 mb-1">Post Training Assessment Conducted</label>
                                <div>
                                    <div class="form-check form-check-inline" [ngClass]="{'isDisabled': DefaultDisabled}">
                                        <input class="form-check-input" type="radio" name="postTrainingAssessmentConducted" formControlName="postTrainingAssessmentConducted" id="Yes" value="Y">
                                        <label class="form-check-label" for="Yes">Yes</label>
                                    </div>
                                    <div class="form-check form-check-inline" [ngClass]="{'isDisabled': DefaultDisabled}">
                                        <input class="form-check-input" type="radio" name="postTrainingAssessmentConducted" formControlName="postTrainingAssessmentConducted" id="No" value="N">
                                        <label class="form-check-label" for="No">No</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                                <label class="fs-md fw-600 mb-1">Certificate Issue Date</label>
                                <div>
                                    <div class="form-check form-check-inline" [ngClass]="{'isDisabled': DefaultDisabled}">
                                        <input class="form-check-input" type="radio" name="isCertificateIssued" formControlName="isCertificateIssued" id="isCertificateIssued" value="Y">
                                        <label class="form-check-label" for="isCertificateIssued">Yes</label>
                                    </div>
                                    <div class="form-check form-check-inline" [ngClass]="{'isDisabled': DefaultDisabled}">
                                        <input class="form-check-input" type="radio" name="isCertificateIssued" formControlName="isCertificateIssued" id="noCertificate"  value="N">
                                        <label class="form-check-label" for="noCertificate">No</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 col-md-4 col-lg-3 " id="certificateDate" *ngIf="this.f2['isCertificateIssued']?.value=='Y'" >
                                <div class="form-floating mb-3" [ngClass]="{'isDisabled': DefaultDisabled}">
                                    <input type="date" class="form-control" id="certificateIssueDate" formControlName="certificateIssueDate" placeholder="">
                                    <label for="certificateIssueDate">Issue Date <span class="c-red"> *</span></label>
                                </div>
                                <div *ngIf="f2['certificateIssueDate'].touched && !f2['certificateIssueDate'].valid" class="error">Issue Date is required</div>
                            </div>
                            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                                <div class="form-floating mb-3" [ngClass]="{'isDisabled': DefaultDisabled}">
                                    <input type="text" class="form-control" id="needAssessmentMethodology" formControlName="needAssessmentMethodology" placeholder="">
                                    <label for="needAssessmentMethodology">Methodology Used for Needs Assessment</label>
                                </div>
                            </div>
                        </ng-container>
                        </div>
                        <div class="text-end">
                            <button type="button" class="btn btn-lime-green" [disabled]="!ParticipantDataForm.valid" [ngClass]="{'disabled': ParticipantDataForm.invalid}"  (click)="Submitform()">{{isedit?'Update':'Submit'}}</button>
                        </div>
                    </form>
        </div>
       
    </div>
</div>
</div>