<main class="mt-4">
    <section>
        <div class="container-fluid">
            <div class="card mb-4">
                <div class="card-header bg-transparent">
                    <div class="d-flex align-items-center justify-content-between flex-wrap">
                        <div>
                            <h6 class="mb-2 mb-sm-0">Add Participant Data</h6>
                        </div>
                        <div>
                            <button type="button" class="btn btn-lime-green" data-bs-toggle="modal" data-bs-target="#addOrganisation">Add New Organisation</button>
                            <!-- <a class="btn btn-default ms-3" id="iconChange" data-bs-toggle="collapse" href="#collapseExample"  aria-expanded="false" aria-controls="collapseExample">
                                <span class="bi bi-chevron-down"></span>
                            </a> -->
                        </div>
                    </div>
                </div>
                <div class="card-body" id="">
                    <form>
                        <div class="row">
                            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                                <div class="form-floating mb-3">
                                    <input type="text" class="form-control" id="code" placeholder="">
                                    <label for="code">Code</label>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                                <div class="form-floating mb-3">
                                    <input type="text" class="form-control" id="nameParticipant" placeholder="">
                                    <label for="nameParticipant">Name Of The Participant</label>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                                <div class="form-floating mb-3">
                                    <select class="form-select" id="gender">
                                      <option selected>Select Gender</option>
                                      <option value="1">Male</option>
                                      <option value="2">Female</option>
                                    </select>
                                    <label for="gender">Gender</label>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                                <div class="form-floating mb-3">
                                    <select class="form-select" id="category">
                                      <option selected>Select Category</option>
                                      <option value="1">Category 1</option>
                                    </select>
                                    <label for="category">Category</label>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                                <div class="form-floating mb-3">
                                    <select class="form-select" id="disability">
                                      <option selected>Select Disability</option>
                                      <option value="1">Disability 1</option>
                                    </select>
                                    <label for="disability">Disability</label>
                                </div>
                            </div>                                
                            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                                <div class="form-floating mb-3">
                                    <input type="text" class="form-control" id="videoUrl" placeholder="">
                                    <label for="videoUrl">Video URL</label>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                                <div class="form-floating mb-3">
                                    <input type="text" class="form-control" id="aadharNumber" placeholder="">
                                    <label for="aadharNumber">Aadhar Number</label>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                                <div class="form-floating mb-3">
                                    <select class="form-select" id="organisationName">
                                      <option selected>Select Organisation Name</option>
                                      <option value="1">Organisation Name 1</option>
                                    </select>
                                    <label for="organisationName">Organisation Name</label>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                                <div class="form-floating mb-3">
                                    <input type="text" class="form-control" id="mobile" placeholder="">
                                    <label id="mobile">Mobile No.</label>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                                <div class="form-floating mb-3">
                                    <input type="text" class="form-control" id="emailId" placeholder="">
                                    <label for="emailId">Email</label>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                                <div class="form-floating mb-3">
                                    <select class="form-select" id="designation">
                                      <option selected>Select Designation</option>
                                      <option value="1">Designation 1</option>
                                    </select>
                                    <label for="designation">Designation</label>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                                <div class="form-floating mb-3">
                                    <select class="form-select" id="previousParticipant">
                                      <option selected>Select Previous Participants</option>
                                      <option value="1">Yes</option>
                                      <option value="2">No</option>
                                    </select>
                                    <label for="previousParticipant">Previous Participants</label>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                                <div class="form-floating mb-3">
                                    <select class="form-select" id="preTraining">
                                      <option selected>Select Pre-Training</option>
                                      <option value="1">Product Innovation</option>
                                    </select>
                                    <label for="preTraining">Pre-Training Assessment</label>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                                <label class="fs-md fw-600 mb-1">Post Training Assessment</label>
                                <div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="yes" value="option1">
                                        <label class="form-check-label" for="yes">Yes</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="no" value="option2">
                                        <label class="form-check-label" for="no">No</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                                <label class="fs-md fw-600 mb-1">Certificate Issue Date</label>
                                <div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="inlineRadioOptions1" id="yesCertificate" onclick="show1();" value="issueYes">
                                        <label class="form-check-label" for="yesCertificate">Yes</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="inlineRadioOptions1" id="noCertificate" onclick="show2();" value="issueNo">
                                        <label class="form-check-label" for="noCertificate">No</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 col-md-4 col-lg-3 none-d" id="certificateDate">
                                <div class="form-floating mb-3">
                                    <input type="date" class="form-control" id="issueDate" placeholder="">
                                    <label for="issueDate">Issue Date</label>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                                <div class="form-floating mb-3">
                                    <input type="text" class="form-control" id="assessment" placeholder="">
                                    <label for="assessment">Methodology Used for Needs Assessment</label>
                                </div>
                            </div>
                        </div>
                        <div class="text-end">
                            <button type="button" class="btn btn-lime-green">Submit</button>
                        </div>
                    </form>
                </div>
            </div>

            <div class="card mb-3">
                <div class="card-header bg-transparent">
                    <div class="row align-items-center">
                        <div class="col-12 col-sm-7 col-md-8 col-lg-9">
                            <h6 class="fw-600 mb-2 mb-sm-0">Participant Data</h6>
                        </div>
                        <div class="col-12 col-sm-5 col-md-4 col-lg-3">
                            <select class="form-select">
                                <option value="#">Select Program</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <table id="creation-table" class="table table-borderless table-striped nowrap">
                        <thead>
                            <tr>
                                <th>S.No</th>
                                <th>Code</th>
                                <th>Name of the Participant</th>
                                <th>Gender</th>
                                <th>Category</th>
                                <th>Disability</th>
                                <th>Video URL</th>
                                <th>Aadhar No.</th>
                                <th>Organisation Name</th>
                                <th>Mobile No.</th>
                                <th>Email</th>
                                <th>Designation</th>
                                <th>Previous Participant</th>
                                <th>Pre-Training Assessment</th>
                                <th>Post Training Assessment</th>
                                <th>Certificate Issue Date</th>
                                <th>Methodology Used for Needs Assessment</th>
                                <th class="text-center">Edit / Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="text-start">1</td>
                                <td>0001</td>
                                <td>Ravi CHandra</td>
                                <td>Male</td>
                                <td>General</td>
                                <td>No</td>
                                <td>https://www.videourl.com/</td>
                                <td>5142 2314 7618</td>
                                <td>MSME</td>
                                <td>9876543231</td>
                                <td>xyz@gmail.com</td>
                                <td>Manager</td>
                                <td>Yes</td>
                                <td>Product Innovation</td>
                                <td>Design Thinking</td>
                                <td>31-12-2024</td>
                                <td>Methodology 1</td>
                                <td class="text-center">
                                    <button type="button" class="btn btn-default text-lime-green btn-sm"><span class="bi bi-pencil"></span></button>
                                    <button type="button" class="btn btn-default text-danger btn-sm"><span class="bi bi-trash"></span></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
</main>

<!-- begin:: modal add new location -->
<div class="modal fade" id="addOrganisation" tabindex="-1" aria-labelledby="addOrganisationLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl">
        <div class="modal-content">
            <div class="modal-header py-2">
                <h6 class="modal-title" id="addLocationLabel">Add Organisation</h6>
                <button type="button" class="btn-close me-1" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="card shadow-md p-3 mb-4">
                    <div class="row">
                        <div class="col-12">
                            <div class="mb-3">
                                <label class="form-label fs-md fw-600">Type of Organisation</label>
                                <div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="organisation" id="shg" value="shgOrg">
                                        <label class="form-check-label fs-md" for="shg">SHG</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="organisation" id="msme" value="msmeOrg">
                                        <label class="form-check-label fs-md" for="msme">MSME</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="organisation" id="startup" value="startupOrg">
                                        <label class="form-check-label fs-md" for="startup">Start Up</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="show-hide none-d" id="shgOrg">
                        <div class="row">
                            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                                <div class="form-floating mb-3">
                                    <input type="text" class="form-control" id="nameShg" placeholder="">
                                    <label for="nameShg">Name of the SHG</label>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                                <div class="form-floating mb-3">
                                    <input type="text" class="form-control" id="district" placeholder="">
                                    <label for="district">District</label>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                                <div class="form-floating mb-3">
                                    <input type="text" class="form-control" id="mandalSamkya" placeholder="">
                                    <label for="mandalSamkya">Name of the Mandal Samakya</label>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                                <div class="form-floating mb-3">
                                    <input type="text" class="form-control" id="mandal" placeholder="">
                                    <label for="mandal">Name of the Mandal</label>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                                <div class="form-floating mb-3">
                                    <input type="text" class="form-control" id="vo" placeholder="">
                                    <label for="vo">Name of the VO</label>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                                <div class="form-floating mb-3">
                                    <input type="text" class="form-control" id="gramPanchayat" placeholder="">
                                    <label for="gramPanchayat">Gram Panchyat</label>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                                <div class="form-floating mb-3">
                                    <input type="text" class="form-control" id="village" placeholder="">
                                    <label for="village">Name of the Village</label>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                                <div class="form-floating mb-3">
                                    <input type="text" class="form-control" id="account" placeholder="">
                                    <label for="account">Bank Account No.</label>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                                <div class="form-floating mb-3">
                                    <input type="text" class="form-control" id="bank" placeholder="">
                                    <label for="bank">Name of the Bank</label>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                                <div class="form-floating mb-3">
                                    <input type="text" class="form-control" id="branch" placeholder="">
                                    <label for="branch">Name of the Branch</label>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                                <div class="form-floating mb-3">
                                    <input type="text" class="form-control" id="ifsc" placeholder="">
                                    <label for="ifsc">IFSC Code</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="show-hide none-d" id="startupOrg">
                        <div class="row">
                            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                                <div class="form-floating mb-3">
                                    <input type="text" class="form-control" id="msmeStartup" placeholder="">
                                    <label for="msmeStartup">Name of the Startup</label>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                                <div class="form-floating mb-3">
                                    <input type="text" class="form-control" id="msmeCertificate" placeholder="">
                                    <label for="msmeCertificate">Certificate No.</label>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                                <div class="form-floating mb-3">
                                    <input type="text" class="form-control" id="natureStartup" placeholder="">
                                    <label for="natureStartup">Nature of Startup</label>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                                <div class="form-floating mb-3">
                                    <input type="date" class="form-control" id="incorporationDate" placeholder="">
                                    <label for="incorporationDate">Incorporation Date</label>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                                <div class="form-floating mb-3">
                                    <input type="text" class="form-control" id="areasWorking" placeholder="">
                                    <label for="areasWorking">Areas of Working</label>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                                <div class="form-floating mb-3">
                                    <input type="date" class="form-control" id="dateIssue" placeholder="">
                                    <label for="dateIssue">Date of Isuue</label>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                                <div class="form-floating mb-3">
                                    <input type="text" class="form-control" id="validupto" placeholder="">
                                    <label for="validupto">Valid Upto</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="show-hide none-d" id="msmeOrg">
                        <div class="row">
                            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                                <label class="fw-600 fs-md">Category</label>
                                <div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="category" id="Micro" value="Micro">
                                        <label class="form-check-label fs-md" for="Micro">Micro</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="category" id="Small" value="Small">
                                        <label class="form-check-label fs-md" for="Small">Small</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="category" id="Medium" value="Medium">
                                        <label class="form-check-label fs-md" for="Medium">Medium</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                                <label class="fw-600 fs-md">Udyam Registration Number</label>
                                <div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="udyam" onclick="udyam1();" id="udyamYes" value="udyamYes">
                                        <label class="form-check-label fs-md" for="udyamYes">Yes</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="udyam" onclick="udyam2();" id="udyamNo" value="udyamNo">
                                        <label class="form-check-label fs-md" for="udyamNo">No</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-12 col-md-12 col-lg-6 none-d" id="udyamyesShow">
                                <div class="row">
                                    <div class="col-12 col-sm-6 col-md-4 col-lg-6">
                                        <div class="form-floating mb-3">
                                            <input type="text" class="form-control" id="udyamNumber" placeholder="">
                                            <label for="udyamNumber">Udyam No.</label>
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-6 col-md-4 col-lg-6">
                                        <div class="form-floating mb-3">
                                            <input type="date" class="form-control" id="registrationDate" placeholder="">
                                            <label for="registrationDate">Registration Date</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 col-md-4 col-lg-3 none-d" id="udyamnoShow">
                                <div class="form-floating mb-3">
                                    <input type="text" class="form-control" id="companyRegistration" placeholder="">
                                    <label for="companyRegistration">Company Registration</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="card shadow-md p-3 mb-3">
                            <!-- <h6 class="fw-600">Address</h6> -->
                            <div class="row">
                                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                                    <div class="form-floating mb-3">
                                        <select class="form-select" id="State">
                                          <option selected>Select State</option>
                                          <option value="1">State 1</option>
                                        </select>
                                        <label for="State">State</label>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                                    <div class="form-floating mb-3">
                                        <select class="form-select" id="District">
                                          <option selected>Select District</option>
                                          <option value="1">District 1</option>
                                        </select>
                                        <label for="District">District</label>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                                    <div class="form-floating mb-3">
                                        <select class="form-select" id="District">
                                          <option selected>Select Mandal</option>
                                          <option value="1">Mandal 1</option>
                                        </select>
                                        <label for="Mandal">Mandal</label>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                                    <div class="form-floating mb-3">
                                        <input type="text" class="form-control" id="village" placeholder="">
                                        <label for="village">Town/Village</label>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                                    <div class="form-floating mb-3">
                                        <input type="text" class="form-control" id="street" placeholder="">
                                        <label for="street">Street No.</label>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                                    <div class="form-floating mb-3">
                                        <input type="text" class="form-control" id="house" placeholder="">
                                        <label for="house">House No.</label>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                                    <div class="form-floating mb-3">
                                        <input type="text" class="form-control" id="Longitude" placeholder="">
                                        <label for="Longitude">Geo Location Longitude</label>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                                    <div class="form-floating mb-3">
                                        <input type="text" class="form-control" id="Latiude" placeholder="">
                                        <label for="Latiude">Geo Location Latiude</label>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                                    <div class="form-floating mb-3 mb-lg-0">
                                        <input type="text" class="form-control" id="contact" placeholder="">
                                        <label for="contact">Contact No.</label>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                                    <div class="form-floating mb-3 mb-md-0 mb-lg-0">
                                        <input type="text" class="form-control" id="email" placeholder="">
                                        <label for="email">Email</label>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                                    <div class="form-floating mb-3 mb-md-0 mb-lg-0">
                                        <input type="text" class="form-control" id="website" placeholder="">
                                        <label for="website">Website</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="card shadow-md p-3 mb-3">
                            <h6 class="fs-md fw-600 mb-2">Owner Details</h6>
                            <div class="row">
                                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                                    <div class="form-floating mb-3 mb-sm-0 mb-lg-0">
                                        <input type="text" class="form-control" id="ownerName" placeholder="">
                                        <label for="ownerName">Name</label>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                                    <div class="form-floating mb-3 mb-sm-0 mb-lg-0">
                                        <input type="text" class="form-control" id="ownercontact" placeholder="">
                                        <label for="ownercontact">Contact</label>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                                    <div class="form-floating mb-3 mb-sm-0 mb-lg-0">
                                        <input type="text" class="form-control" id="owneremail" placeholder="">
                                        <label for="owneremail">Email</label>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                                    <div class="form-floating mb-0 mb-lg-0">
                                        <input type="text" class="form-control" id="ownerAddress" placeholder="">
                                        <label for="ownerAddress">Address</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="text-end">
                    <button type="button" class="btn btn-lime-green">Submit</button>
                </div>
            </div>
        </div>
    </div>
</div>
