<main class="mt-4">
    <section>
        <div class="card mb-3">
            <div class="card-header bg-transparent">
                <div class="row align-items-center">
                    <div class="col-12 col-sm-7 col-md-8 col-lg-9">
                        <h6 class="fw-600 mb-2 mb-sm-0">MSME Counsellor Data</h6>
                    </div>
                 
                </div>
            </div>
            <div class="card-body">
                <table id="view-table-Counseller" class="table table-borderless table-striped nowrap">
                    <thead>
                        <tr>
      
                            <th>S.No</th>
                            <th>Date Of Registration</th>
                            <th>Name Of Counsellor</th>
                            <th>Date Of Birth</th>
                            <th>Gender</th>
                            <th>Social Category</th>
                            <th>Educational Qualification</th>
                            <th>District</th>
                            <th>Mandal</th>
                            <th>Village</th>
                            <th>House No</th>
                            <th>Street Name</th>
                            <th>Pincode</th>
                            <th>Landmark</th>
                            <th>Experience</th>
                            <th>Designation</th>
                            <th>Specialzation</th>
                            <th>Contact No</th>
                            <th>Alt Contact No</th>
                            <th>Email Id</th>
                            <th>Allorted District</th>
                            <th>Allorted Mandal</th>
                            <th>Date Of Selection</th>
                           
                        </tr>
                    </thead>
                    <tbody *ngIf="submitedData">
                        <tr  *ngFor="let item of submitedData; let i=index">
                            <td class="text-start">{{i+1}}</td>
                            <td>{{item?.dateOfRegistration}}</td>
                            <td>{{item?.nameOfCounsellor}}</td>
                            <td>{{item?.dateOfBirth}}</td>
                            <td>{{item?.gender}}</td>
                            <td>{{item?.socialCategory}}</td>
                            <td>{{item?.educationalQualification}}</td>
                            <td>{{item?.districtId}}</td>
                            <td>{{item?.mandalId}}</td>
                            <td>{{item?.village}}</td>
                            <td>{{item?.houseNo}}</td>
                            <td>{{item?.streetName}}</td>
                            <td>{{item?.pincode}}</td>
                            <td>{{item?.landmark}}</td>
                            <td>{{item?.expriance}}</td>
                            <td>{{item?.designation}}</td>
                            <td>{{item?.specialzation}}</td>
                            <td>{{item?.contactNo}}</td>
                            <td>{{item?.altContactNo}}</td>
                            <td>{{item?.emailId}}</td>
                            <td>{{item?.allortedDistrictId}}</td>
                            <td>{{item?.allortedMandalId}}</td>
                            <td>{{item?.dateOfSelection}}</td>
     
                           
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
</main>

