<div class="card border rounded-2 shadow-none mb-3">
  <div class="card-header bg-theme text-white">
    <h6 class="mb-0">Preliminary Assessment</h6>
  </div>
  <div class="card-body">
    <form [formGroup]="assessmentForm" (ngSubmit)="onSubmit()">
      <ul class="list-group list-group-flush mb-3">
        <!-- Firm Name -->
        <li class="list-group-item px-0">
          <div class="row">
            <div class="col-12 col-sm-3 col-md-3 col-lg-3 col-xl-2">
              <label class="fs-md fw-600">Name Of Firm</label>
            </div>
            <div class="col-12 col-sm-5 col-md-4 col-lg-4 col-xl-4">
              <label class="fs-md">{{ assessmentForm.get('enterpriseName')?.value }}</label>
            </div>
            <div class="col-12 col-sm-4 col-md-5 col-lg-5 col-xl-6"
              *ngIf="!this.confirmationdata?.includes('1') && freeze<=1">
              <div class="text-start text-sm-end text-xl-end">
                <button type="button" class="btn btn-outline-success border-0 btn-sm"
                  (click)="confirmation('1')">Confirm</button>
                <button type="button" data-bs-toggle="modal" data-bs-target="#nameFirm"
                  (click)="openEachModal('enterpriseName')"
                  class="btn btn-outline-primary btn-sm border-0 ms-3">Update</button>
              </div>

            </div>
            <div class="col-12 col-sm-4 col-md-5 col-lg-5 col-xl-6"
              *ngIf="this.confirmationdata?.includes('1') || freeze>1">
              <div class="text-start text-sm-end text-xl-end">
                <button type="button" class="btn btn-outline-success isDisabled btn-sm">Confirmed</button>


              </div>
            </div>
          </div>
        </li>

        <!-- Udyam Number -->
        <li class="list-group-item px-0">
          <div class="row">
            <div class="col-12 col-sm-3 col-md-3 col-lg-3 col-xl-2">
              <label class="fs-md fw-600">Udyam Number</label>
            </div>
            <div class="col-12 col-sm-5 col-md-4 col-lg-4 col-xl-4">
              <label class="fs-md">{{ assessmentForm.get('udyamRegNumber')?.value }}</label>
            </div>
            <div class="col-12 col-sm-4 col-md-5 col-lg-5 col-xl-6"
              *ngIf="!this.confirmationdata?.includes('2') && freeze<=1">
              <div class="text-start text-sm-end text-xl-end">
                <button type="button" class="btn btn-outline-success border-0 btn-sm"
                  (click)="confirmation('2')">Confirm</button>
                <button type="button" data-bs-toggle="modal" data-bs-target="#udyamRegNumber"
                  (click)="openEachModal('udyamRegNumber')"
                  class="btn btn-outline-primary btn-sm border-0 ms-3">Update</button>
              </div>
            </div>
            <div class="col-12 col-sm-4 col-md-5 col-lg-5 col-xl-6"
              *ngIf="this.confirmationdata?.includes('2') || freeze>1">
              <div class="text-start text-sm-end text-xl-end">
                <button type="button" class="btn btn-outline-success isDisabled btn-sm">Confirmed</button>


              </div>
            </div>
          </div>
        </li>

        <!-- Size of Unit -->
        <li class="list-group-item px-0">
          <div class="row">
            <div class="col-12 col-sm-3 col-md-3 col-lg-3 col-xl-2">
              <label class="fs-md fw-600">Size Of Unit</label>
            </div>
            <div class="col-12 col-sm-5 col-md-4 col-lg-4 col-xl-4">
              <label class="fs-md">{{ assessmentForm.get('enterpriseCategory')?.value }}</label>
            </div>
            <div class="col-12 col-sm-4 col-md-5 col-lg-5 col-xl-6"
              *ngIf="!this.confirmationdata?.includes('3') && freeze<=1">
              <div class="text-start text-sm-end text-xl-end">
                <button type="button" class="btn btn-outline-success border-0 btn-sm"
                  (click)="confirmation('3')">Confirm</button>
                <button type="button" data-bs-toggle="modal" data-bs-target="#addSize"
                  (click)="openEachModal('enterpriseCategory')"
                  class="btn btn-outline-primary btn-sm border-0 ms-3">Update</button>
              </div>
            </div>
            <div class="col-12 col-sm-4 col-md-5 col-lg-5 col-xl-6" *ngIf="this.confirmationdata?.includes('3') ">
              <div class="text-start text-sm-end text-xl-end">
                <button type="button" class="btn btn-outline-success isDisabled btn-sm">Confirmed</button>


              </div>
            </div>
          </div>
        </li>

        <!-- Nature of Activity -->
        <li class="list-group-item px-0">
          <div class="row">
            <div class="col-12 col-sm-3 col-md-3 col-lg-3 col-xl-2">
              <label class="fs-md fw-600">Nature Of Activity</label>
            </div>
            <div class="col-12 col-sm-5 col-md-4 col-lg-4 col-xl-4">
              <label class="fs-md">{{ assessmentForm.get('natureOfActivity')?.value }}</label>
            </div>
            <div class="col-12 col-sm-4 col-md-5 col-lg-5 col-xl-6"
              *ngIf="!this.confirmationdata?.includes('4') && freeze<=1">
              <div class="text-start text-sm-end text-xl-end">
                <button type="button" class="btn btn-outline-success border-0 btn-sm"
                  (click)="confirmation('4')">Confirm</button>
                <button type="button" data-bs-toggle="modal" data-bs-target="#addnature"
                  (click)="openEachModal('natureOfActivity')"
                  class="btn btn-outline-primary btn-sm border-0 ms-3">Update</button>
              </div>
            </div>
            <div class="col-12 col-sm-4 col-md-5 col-lg-5 col-xl-6"
              *ngIf="this.confirmationdata?.includes('4') || freeze>1">
              <div class="text-start text-sm-end text-xl-end">
                <button type="button" class="btn btn-outline-success isDisabled btn-sm">Confirmed</button>


              </div>
            </div>
          </div>
        </li>

        <!-- Factory Location -->
        <li class="list-group-item px-0">
          <p class="fw-bold">Factory Location</p>
          <div class="row">
            <div class="col-12 col-sm-6 col-md-3 col-lg-2 col-xl-2">
              <label class="d-block fs-md fw-600">District</label>
              <label class="d-block fs-md">{{ assessmentForm.get('district')?.value }}</label>
            </div>
            <div class="col-12 col-sm-6 col-md-3 col-lg-3 col-xl-3">
              <label class="d-block fs-md fw-600">Mandal</label>
              <label class="fs-md">{{ assessmentForm.get('mandal')?.value }}</label>
            </div>
            <div class="col-12 col-sm-6 col-md-3 col-lg-4 col-xl-4">
              <label class="d-block fs-md fw-600">Address</label>
              <label class="fs-md">{{ assessmentForm.get('address')?.value }}</label>
            </div>
            <div class="col-12 col-sm-6 col-md-3 col-lg-3 col-xl-3"
              *ngIf="!this.confirmationdata?.includes('5') && freeze<=1">
              <div class="text-start text-sm-end text-xl-end">
                <button type="button" class="btn btn-outline-success border-0 btn-sm"
                  (click)="confirmation('5')">Confirm</button>
                <button type="button" data-bs-toggle="modal" data-bs-target="#factoryLocation"
                  (click)="openEachModal('factoryLocation')"
                  class="btn btn-outline-primary btn-sm border-0 ms-3">Update</button>
              </div>
            </div>
            <div class="col-12 col-sm-4 col-md-5 col-lg-5 col-xl-3"
              *ngIf="this.confirmationdata?.includes('5') || freeze>1">
              <div class="text-start text-sm-end text-xl-end">
                <button type="button" class="btn btn-outline-success isDisabled btn-sm">Confirmed</button>


              </div>
            </div>
          </div>
        </li>

        <!-- Confirmation of Loans -->
        <li class="list-group-item px-0">
          <div class="row">
            <div class="col-12 col-sm-3 col-md-3 col-lg-3 col-xl-2">
              <label class="fs-md fw-600">Confirmation of Loans Credit Facilities</label>
            </div>
            <div class="col-12 col-sm-5 col-md-4 col-lg-4 col-xl-4">
              <label class="fs-md">{{ assessmentForm.get('existingCredit')?.value?'Yes':'No' }}</label>
            </div>
            <div class="col-12 col-sm-4 col-md-5 col-lg-5 col-xl-6"
              *ngIf="!this.confirmationdata?.includes('6') && freeze<=1">
              <div class="text-start text-sm-end text-xl-end">
                <button type="button" class="btn btn-outline-success border-0 btn-sm"
                  (click)="confirmation('6')">Confirm</button>
                <button type="button" data-bs-toggle="modal" data-bs-target="#addCredit"
                  (click)="openEachModal('existingCredit')"
                  class="btn btn-outline-primary btn-sm border-0 ms-3">Update</button>
              </div>
            </div>
            <div class="col-12 col-sm-4 col-md-5 col-lg-5 col-xl-6"
              *ngIf="this.confirmationdata?.includes('6') || freeze>1">
              <div class="text-start text-sm-end text-xl-end">
                <button type="button" class="btn btn-outline-success isDisabled btn-sm">Confirmed</button>


              </div>
            </div>
          </div>
        </li>

        <!-- Loans Table -->
        <li class="list-group-item px-0" *ngIf="assessmentForm.get('existingCredit')?.value">
          <div class="row">
            <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
              <label class="fs-md fw-600">Loans</label>
            </div>
            <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
              <div class="text-start text-sm-end text-xl-end">
                <button type="button" data-bs-toggle="modal" data-bs-target="#addLoan"
                  [ngClass]="{'isDisabled': assessmentForm.get('existingCredit')?.value!=true || freeze>1} "
                  class="btn btn-outline-primary btn-sm border-0 ms-3" (click)="addCreditDetail()"><span
                    class="bi bi-plus-lg"></span> Add</button>
              </div>
            </div>
          </div>

          <div class="table-responsive">
            <table class="table table-bordered">
              <thead class="bg-theme text-white">
                <tr>
                  <th>S.No</th>
                  <th>Actions</th>
                  <th>Bank/Fis Name</th>
                  <th>Nature of Loan(Term loans, CC/OD etc.) </th>
                  <th>Limit sanctioned (In Rs)</th>
                  <th>Outstanding Amount (In Rs)</th>
                  <th>Overdue Amount (In Rs)</th>
                  <th>Overdue Since (Date)</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of this.assessmentForm.value.creditFacilityDetails;let i=index">
                  <td class="text-start">{{i+1}}</td>
                  <td class="text-center">
                    <button type="button" class="btn btn-default text-danger btn-sm" [ngClass]="{'isDisabled':freeze>1}"
                      (click)="editCreditDetails(item)"><span class="bi bi-pencil"></span></button>
                    <button type="button" class="btn btn-default text-danger btn-sm" [ngClass]="{'isDisabled':freeze>1}"
                      (click)="deleteCreditDetail(i)"><span class="bi bi-trash"></span></button>
                  </td>
                  <td>{{item?.bankName}}</td>
                  <td>{{item?.natureOfLoan}}</td>
                    <td>{{ item?.limitSanctioned  | commaSeperation }}</td>
                    <td>{{ item?.outstandingAmount  | commaSeperation }}</td>
                    <td>{{ item?.overdueAmount  | commaSeperation }}</td>
                    <td>{{ item?.overdueDate }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </li>
      </ul>

      <!-- GST and Product Information -->

      <div class="row">
        <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
          <div class="mb-3">
            <!-- Radio buttons for GST Number Exist -->
            <div class="mb-2" [ngClass]="{'isDisabled':freeze>1}">
              <label class="form-label fs-md fw-600 mb-1">Is GST Number Exist?</label>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" id="gstExistYes" formControlName="isGSTNumberExist"
                  [value]="true">
                <label class="form-check-label" for="gstExistYes">Yes</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" id="gstExistNo" formControlName="isGSTNumberExist"
                  [value]="false">
                <label class="form-check-label" for="gstExistNo">No</label>
              </div>
              <div
                *ngIf="assessmentForm.get('isGSTNumberExist')?.invalid && assessmentForm.get('isGSTNumberExist')?.touched"
                class="text-danger small">
                Please select if GST Number exists
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4" *ngIf="assessmentForm.get('isGSTNumberExist')?.value">
          <div class="mb-3 ">
            <div class="form-floating mb-3">
              <input type="text" class="form-control" id="gst" placeholder="GST" formControlName="gstNumber"
                [readOnly]="freeze>1">
              <label for="gst">GST Number <span class="text-danger"> *</span></label>
              <div
                *ngIf="assessmentForm.get('gstNumber')?.invalid && assessmentForm.get('gstNumber')?.touched && !assessmentForm.get('gstNumber')?.errors?.invalidFormat"
                class="text-danger small">
                GST number is required
              </div>
              <div *ngIf="assessmentForm.get('gstNumber')?.errors?.invalidFormat" class="text-danger small">
                Invalid format. Example: 22AAAAA0000A1Z5
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
          <div class="mb-3 mt-1">
            <div class="form-floating mb-3">
              <select class="form-select" id="landDetails" formControlName="sourceOfApplication" (click)="onSourceSelect($any($event.target).value)"
                [ngClass]="{'isDisabled':freeze>1}">
                <option value="" disabled selected>Select Option</option>
                <option value="Walk-in">Walk-in</option>
                <option value="Cold calling">Cold calling</option>
                <option value="Awareness programme">Awareness programme</option>
                <option value="DIC">DIC</option>
                <option value="COI">COI</option>
                <option value="Primary Lender">Primary Lender</option>
                <option value="Reference by existing customers">Reference by existing customers</option>
                <option value="Conversion from PR">Conversion from PR</option>
                <option value="Others">Others</option>
              </select>
              <label for="product">Source Of Application<span class="text-danger">*</span></label>
              <div
                *ngIf="assessmentForm.get('sourceOfApplication')?.invalid && assessmentForm.get('sourceOfApplication')?.touched && !assessmentForm.get('sourceOfApplication')?.hasError('pattern')"
                class="text-danger small">
                Source Of Application is required
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4" *ngIf="fassessmentForm['sourceOfApplication'].value=='Awareness programme'">
          <mat-form-field appearance="outline" class="w-100">
                            <mat-label>RAMP Program Name</mat-label>
                            <mat-select formControlName="rampProgramName"  [ngClass]="{'isDisabled':freeze>1}">
                                <mat-select-filter [array]="getDatarampProgramName" 
                                    (filteredReturn)="filterrampProgramName = $event">
                                </mat-select-filter>
                                <mat-option *ngFor="let question of filterrampProgramName" [value]="question">
                                    {{ question }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
          <!-- <div class="mb-3">
            <div class="form-floating mb-3">
              <select class="form-select" id="landDetails" formControlName="rampProgramName" 
                [ngClass]="{'isDisabled':freeze>1}">
                <option value="" disabled selected>Select Option</option>
               <option *ngFor="let val of getDatarampProgramName" value="{{val}}">{{val}}</option>
              </select>
              <label for="product">Ramp Program Name<span class="text-danger">*</span></label>
              <div
                *ngIf="assessmentForm.get('rampProgramName')?.invalid && assessmentForm.get('rampProgramName')?.touched && !assessmentForm.get('rampProgramName')?.hasError('pattern')"
                class="text-danger small">
                Ramp Program Name is required
              </div>
            </div>
          </div> -->
        </div>
        <!-- <div class="col-12 col-sm-12 col-md-6 col-lg-4">
          <div class="form-floating mb-3">
            <select class="form-select" id="sector" formControlName="sector" aria-label="" [ngClass]="{'isDisabled':freeze>1}">
              <option value="">Select Sector</option>
              <option value="Group">Group</option>
              <option value="Division">Division</option>
            </select>
            <label for="sector">Sector<span class="text-danger">*</span></label>
            <div *ngIf="assessmentForm.get('sector')?.invalid && assessmentForm.get('sector')?.touched"
              class="text-danger">
              Sector is required
            </div>
          </div>
        </div> -->
        <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
          <div class="mb-3 mt-1">
            <div class="form-floating mb-3">
              <input type="text" class="form-control" id="product" placeholder="Products Manufactured" [readOnly]="freeze>1"
                formControlName="typeOfProduct">
              <label for="product">Products Manufactured<span class="text-danger"> *</span></label>
              <div
                *ngIf="assessmentForm.get('typeOfProduct')?.invalid && assessmentForm.get('typeOfProduct')?.touched && !assessmentForm.get('typeOfProduct')?.hasError('pattern')"
                class="text-danger small">
                Products Manufactured is required
              </div>
              <div *ngIf="assessmentForm.get('typeOfProduct')?.hasError('pattern')" class="text-danger"> Products Manufactured
                Should be Characters Only</div>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-8 col-lg-8 col-xl-8">
          <div class="mb-3">
            <div class="form-floating mb-3">
              <input type="text" class="form-control" id="whereProduct" placeholder="Where is the Product Used"
                [readOnly]="freeze>1" formControlName="productUsage">
              <label for="whereProduct">Where is the Product Used?<span class="text-danger">*</span></label>
              <div
                *ngIf="assessmentForm.get('productUsage')?.invalid && assessmentForm.get('productUsage')?.touched && !assessmentForm.get('productUsage')?.hasError('pattern')"
                class="text-danger small">
                Product usage information is required
              </div>
              <div *ngIf="assessmentForm.get('productUsage')?.hasError('pattern')" class="text-danger"> Product usage
                Should be Characters Only</div>

            </div>
          </div>
        </div>
      </div>

      <!-- Problems and Solutions -->
      <div>
        <div class="mb-3">
          <label class="fs-md fw-600 mb-1">What are the problems being faced by the unit?<span
              class="text-danger">*</span></label>
          <div>
            <textarea class="form-control" rows="3" placeholder="Write here" formControlName="problemsFaced"
              [readOnly]="freeze>1"></textarea>
          </div>
          <div
            *ngIf="assessmentForm.get('problemsFaced')?.invalid && assessmentForm.get('problemsFaced')?.touched && !assessmentForm.get('problemsFaced')?.hasError('pattern')"
            class="text-danger small">
            Problem is required
          </div>
          <div *ngIf="assessmentForm.get('problemsFaced')?.hasError('pattern')" class="text-danger">Problem Should be
            Characters and Numbers</div>
        </div>
        <div class="mb-3">
          <label class="fs-md fw-600 mb-1">What are the recommended solutions?<span class="text-danger">*</span></label>
          <div>
            <textarea class="form-control" rows="3" placeholder="Write here" [readOnly]="freeze>1"
              formControlName="expectedSolution"></textarea>
          </div>
          <div
            *ngIf="assessmentForm.get('expectedSolution')?.invalid && assessmentForm.get('expectedSolution')?.touched && !assessmentForm.get('expectedSolution')?.hasError('pattern')"
            class="text-danger small">
            Recommended solutions is required
          </div>
          <div *ngIf="assessmentForm.get('expectedSolution')?.hasError('pattern')" class="text-danger">Recommended
            solutions Should be Characters and Numbers</div>
        </div>

        <!-- Stress Score -->
        <div class="mb-3">
          <h6 class="fs-md fw-600 mb-1">Stress Score<span class="text-danger">*</span></h6>
          <div class="accordion mb-2">
            <div class="accordion-item">
              <h2 class="accordion-header" id="risk-headingOne">
                <button class="accordion-button collapsed fs-md fw-600 px-3 py-2" type="button"
                  data-bs-toggle="collapse" data-bs-target="#risk-collapseOne" aria-expanded="false"
                  aria-controls="risk-collapseOne">
                  Score Calculation
                </button>
              </h2>
              <div id="risk-collapseOne" class="accordion-collapse collapse" aria-labelledby="risk-headingOne">
                <div class="accordion-body p-2">
                  <div class="table-responsive">
                    <table class="table table-striped table-borderless mb-0">
                      <thead>
                        <tr>
                          <th>S.No</th>
                          <th>Issues / Problems</th>
                          <th>Probable Cause</th>
                          <th>Impact</th>
                          <th>Risk Categorisation</th>
                          <th>Remarks</th>
                        </tr>
                      </thead>
                      <tbody class="fs-md">
                        <tr *ngFor="let question of stressScoreOptions">
                          <td>{{ question.id }}</td>
                          <td>{{ question.issue }}</td>
                          <td>{{ question.Probable_Cause }}</td>
                          <td>{{ question.impact }}</td>
                          
                          <td>
                            <select class="form-select" [formControlName]="'stressScore_' + question.id"
                              (change)="calculateScore()">
                              <option value="">Select Categorisation</option>
                              <option *ngFor="let option of question.options" [value]="option.label">
                                {{ option.label }}
                              </option>
                            </select>
                            <div *ngIf="assessmentForm.get('stressScore_' + question.id)?.invalid && 
                                       assessmentForm.get('stressScore_' + question.id)?.touched"
                              class="text-danger small">
                              Please select an option
                            </div>
                          </td>
                          <td>
                            <input  style="width: 200px;" type="text" class="form-control" id="product" placeholder="Remarks" 
                             [formControlName]="'stressScoreJustification_' + question.id">
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
            <div class="d-flex justify-content-between mb-3">
            <div>
               <p class="badge bg-warning rounded-pill fs-md mb-0">
                Note :<span class="ms-2">(Score ≤ 30 and ≥80  : Not Applicable)</span>
            </p>
            </div>
            <div class="text-end">
            <p class="badge bg-dark rounded-pill fs-md mb-0">Total Score: <span>{{ totalScore }}%</span></p>
          </div>
            
          </div>

          
        </div>
        <!-- <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
          <div class="mb-3">
            <div class="form-floating mb-3">
              <input type="text" class="form-control" id="product" placeholder="Remarks" [readOnly]="freeze>1"
                formControlName="stressScoreJustification">
              <label for="product">Remarks<span class="text-danger"> *</span></label>
              <div
                *ngIf="assessmentForm.get('stressScoreJustification')?.invalid && assessmentForm.get('stressScoreJustification')?.touched && !assessmentForm.get('stressScoreJustification')?.hasError('pattern')"
                class="text-danger small">
                Remarks is required
              </div>
              <div *ngIf="assessmentForm.get('stressScoreJustification')?.hasError('pattern')" class="text-danger"> Remarks
                Should be Characters Only</div>
            </div>
          </div>
        </div> -->
        <!-- Observations -->
        <div class="mb-3">
          <label class="fs-md fw-600 mb-1">Executive Views<span class="text-danger">*</span></label>
          <div>
            <textarea class="form-control" rows="3" placeholder="Write here" name="observations"
              formControlName="observations" [readOnly]="freeze>1"></textarea>
          </div>
          <div
            *ngIf="assessmentForm.get('observations')?.invalid && assessmentForm.get('observations')?.touched && !assessmentForm.get('observations')?.hasError('pattern')"
            class="text-danger small">
            Observations is required
          </div>
          <div *ngIf="assessmentForm.get('observations')?.hasError('pattern')" class="text-danger">Executive Views
            Should be Characters and Numbers</div>
        </div>

        <!-- Status Update -->
        <!-- <div class="mb-3">
          <label class="fs-md fw-600 mb-1">Status Update</label>
          <div class="mb-2">
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="statusUpdate"  formControlName="statusUpdate" id="consider"
                value="consider">
              <label class="form-check-label fs-md" for="consider">Application can be considered</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="statusUpdate" formControlName="statusUpdate" id="notconsider"
                value="notconsider">
              <label class="form-check-label fs-md" for="notconsider">Application cannot be considered</label>
            </div>
            <div *ngIf="assessmentForm.get('statusUpdate')?.invalid && assessmentForm.get('statusUpdate')?.touched"
              class="text-danger small">
              Please select a status
            </div>
          </div>
        </div> -->
      </div>

      <!-- Submit Button -->
      <input *ngIf="freeze==1" type="submit" name="next" class="btn btn-primary float-end"
        value="Submit for Manager Approval" />
        <button *ngIf="freeze<=10 && freeze>1" type="button" class="btn btn-primary float-end" (click)="onUpdate()">Save</button>
    </form>
  </div>
</div>


<div class="modal fade" id="addDelivery" #addDelivery tabindex="-1" aria-labelledby="addResourceLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header  bg-theme">
        <h5 class="modal-title" id="myModalLabel">Add Credit Details:</h5>
        <button type="button" class="btn-close me-1" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="creditDetailsForm">
          <div class="row">
            <div class="col-12">
              <div class="form-floating mb-3">
                <input type="text" class="form-control" id="bankName" placeholder="Bank/FI Name"
                  formControlName="bankName">
                <label for="bankName">Bank/FI Name</label>
                <div *ngIf="creditDetailsForm.get('bankName')?.invalid && 
                                           (creditDetailsForm.get('bankName')?.dirty || 
                                           creditDetailsForm.get('bankName')?.touched)" class="text-danger">
                  Bank/FI name is required
                </div>
              </div>
            </div>
            <div class="col-12">
              <div class="form-floating mb-3">
                  <input type="text" class="form-control" id="natureOfLoan" placeholder="Nature of Loan"
                  formControlName="natureOfLoan">
                <!-- <select class="form-select" id="natureOfLoan" formControlName="natureOfLoan">
                  <option value="" disabled selected>Select Nature of Loan</option>
                  <option value="Short-term Loans">Short-term Loans</option>
                  <option value="Medium-term Loans">Medium-term Loans</option>
                  <option value="Long-term Loans">Long-term Loans</option>
                </select> -->
                <label for="natureOfLoan">Nature of Loan(Term loans, CC/OD etc.)</label>
                <div *ngIf="creditDetailsForm.get('natureOfLoan')?.invalid && 
                                           (creditDetailsForm.get('natureOfLoan')?.dirty || 
                                           creditDetailsForm.get('natureOfLoan')?.touched)" class="text-danger">
                  Nature of loan is required
                </div>
              </div>
            </div>
            <div class="col-12">
              <app-indian-rupees-input  formControlName="limitSanctioned" label="Limit Sanctioned (In Rs)" placeholder="Enter Limit Sanctioned"></app-indian-rupees-input>
              <div class="form-floating mb-3">
                <!-- <input type="number" class="form-control" id="limitSanctioned" placeholder="Limit Sanctioned"
                  formControlName="limitSanctioned" min="0"> -->
                <!-- <label for="limitSanctioned">Limit Sanctioned (In Rs)</label> -->
                <div *ngIf="creditDetailsForm.get('limitSanctioned')?.invalid && 
                                           (creditDetailsForm.get('limitSanctioned')?.dirty || 
                                           creditDetailsForm.get('limitSanctioned')?.touched)" class="text-danger">
                  <div *ngIf="creditDetailsForm.get('limitSanctioned')?.errors?.['required']">
                    Limit sanctioned is required
                  </div>
                  <div *ngIf="creditDetailsForm.get('limitSanctioned')?.errors?.['min']">
                    Limit must be positive
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12">
              <app-indian-rupees-input  formControlName="outstandingAmount" label="Outstanding Amount (In Rs)" placeholder="Enter Outstanding Amount"></app-indian-rupees-input>
              <div class="form-floating mb-3">
                      
                <!-- <input type="number" class="form-control" id="outstandingAmount" placeholder="Outstanding Amount"
                  formControlName="outstandingAmount" min="0"> -->
                <!-- <label for="outstandingAmount">Outstanding Amount (In Rs)</label> -->
                <div *ngIf="creditDetailsForm.get('outstandingAmount')?.invalid && 
                                           (creditDetailsForm.get('outstandingAmount')?.dirty || 
                                           creditDetailsForm.get('outstandingAmount')?.touched)" class="text-danger">
                  <div *ngIf="creditDetailsForm.get('outstandingAmount')?.errors?.['required']">
                    Outstanding amount is required
                  </div>
                  <div *ngIf="creditDetailsForm.get('outstandingAmount')?.errors?.['min']">
                    Amount must be positive
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12">
              <app-indian-rupees-input  formControlName="overdueAmount" label="Overdue Amount (In Rs)" placeholder="Enter Amount"></app-indian-rupees-input>
              <div class="form-floating mb-3">
                <!-- <input type="number" class="form-control" id="overdueAmount" placeholder="Overdue Amount"
                  formControlName="overdueAmount" min="0">
                <label for="overdueAmount">Overdue Amount (In Rs)</label> -->
                <div *ngIf="creditDetailsForm.get('overdueAmount')?.invalid && 
                                           (creditDetailsForm.get('overdueAmount')?.dirty || 
                                           creditDetailsForm.get('overdueAmount')?.touched)" class="text-danger">
                  <div *ngIf="creditDetailsForm.get('overdueAmount')?.errors?.['required']" class="text-danger">
                    Overdue amount is required
                  </div>
                  <div *ngIf="creditDetailsForm.get('overdueAmount')?.errors?.['min']" class="text-danger">
                    Amount must be positive
                  </div>

                </div>
                <div
                  *ngIf="creditDetailsForm.get('overdueAmount')?.value > creditDetailsForm.get('outstandingAmount')?.value"
                  class="text-danger">
                  Overdue amount must be less than or equal to outstanding amount
                </div>
              </div>
            </div>
          </div>
          <div class="col-12">
            <div class="form-floating mb-3">
              <input type="date" class="form-control" id="overdueDate" placeholder="Overdue Since"
                formControlName="overdueDate" max="{{ today | date:'yyyy-MM-dd' }}">
              <label for="overdueDate">Overdue Since (Date)</label>
              <div *ngIf="creditDetailsForm.get('overdueDate')?.invalid && 
                                           (creditDetailsForm.get('overdueDate')?.dirty || 
                                           creditDetailsForm.get('overdueDate')?.touched)" class="text-danger">
                Please enter a valid date
              </div>

            </div>
            <div class="col-12">
              <div class="text-end">
                <button type="button" class="btn btn-primary"
                  [disabled]="!creditDetailsForm.valid || creditDetailsForm.get('overdueAmount')?.value > creditDetailsForm.get('outstandingAmount')?.value"
                  data-bs-dismiss="modal" (click)="submitCreditDetails()">Submit</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="UpdateLoanModal" tabindex="-1" role="dialog" #UpdateLoanModal
  aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header  bg-theme">
        <h5 class="modal-title" id="myModalLabel">Update</h5>
        <button type="button" class="btn-close me-1" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="updateFormFields" (ngSubmit)="onSubmit()">
          <div class="form-floating mb-3" *ngIf="updateby === 'enterpriseName'">
            <input type="text" class="form-control" id="enterpriseName" placeholder="Enterprise Name"
              formControlName="enterpriseName">
            <label for="enterpriseName">Enterprise Name <span class="text-danger"> *</span></label>
            <div
              *ngIf="updateFormFields.get('enterpriseName')?.invalid && updateFormFields.get('enterpriseName')?.touched && !updateFormFields.get('enterpriseName')?.hasError('minlength') && !updateFormFields.get('enterpriseName')?.hasError('pattern')"
              class="text-danger small">
              Enterprise name is required
            </div>
            <div
              *ngIf="updateFormFields.get('enterpriseName')?.hasError('minlength') && !updateFormFields.get('enterpriseName')?.hasError('pattern')"
              class="text-danger">
              Enterprise name must be at least 3 characters
            </div>
            <div *ngIf="updateFormFields.get('enterpriseName')?.hasError('pattern')" class="text-danger"> Enterprise
              name Should be Characters and Numeric</div>

          </div>
          <div class="form-floating mb-3" *ngIf="updateby === 'udyamRegNumber'">
            <input type="text" class="form-control" id="udyamRegNumber" placeholder="Udyam Registration Number"
              formControlName="udyamRegNumber">
            <label for="udyamRegNumber">Udyam Registration Number <span class="text-danger"> *</span></label>
            <div
              *ngIf="updateFormFields.get('udyamRegNumber')?.invalid && updateFormFields.get('udyamRegNumber')?.touched  && !updateFormFields.get('udyamRegNumber')?.hasError('invalidUdyamFormat')"
              class="text-danger small">
              Udyam registration number is required
            </div>
            <div *ngIf="updateFormFields.get('udyamRegNumber')?.hasError('invalidUdyamFormat')" class="text-danger">
              Invalid format. Correct Format: UDYAM-XX-00-1234567 OR udyam-xx-12-1234567
            </div>
          </div>
          <div class="form-floating mb-3" *ngIf="updateby === 'enterpriseCategory'">
            <select class="form-select" id="enterpriseCategory" formControlName="enterpriseCategory">
              <option value="" disabled selected>Select Size of Unit</option>
              <option value="Micro">Micro</option>
              <option value="Small">Small</option>
              <option value="Medium">Medium</option>
            </select>
            <label for="">Enterprise Category <span class="text-danger"> *</span></label>
          </div>
          <div class="form-floating mb-3" *ngIf="updateby === 'natureOfActivity'">
            <select class="form-select" id="natureOfActivity" formControlName="natureOfActivity">
              <option value="" disabled selected>Select Nature of Activity</option>
              <option value="Manufacturing">Manufacturing</option>
              <option value="Services">Services</option>
              <option value="Trading">Trading</option>
            </select>

            <label for="natureOfActivity">Nature of Activity <span class="text-danger"> *</span></label>
            <div
              *ngIf="updateFormFields.get('natureOfActivity')?.invalid && updateFormFields.get('natureOfActivity')?.touched"
              class="text-danger small">
              Nature of activity is required
            </div>
          </div>
          <ng-container *ngIf="updateby === 'factoryLocation'">
            <div class="row">
              <div class="col-12 col-sm-6 col-md-6 col-lg-6">
                <div class="form-floating mb-3">
                  <select class="form-select" id="district" (change)="GetMandalByDistrict($any($event.target).value)"
                    formControlName="district" aria-label="">
                    <option value="">Select District</option>
                    <option *ngFor="let list of allDistricts" value="{{list.districtName}}">{{list.districtName}}
                    </option>
                  </select>
                  <label for="district">District <span class="text-danger"> *</span></label>
                  <div *ngIf="updateFormFields.get('district')?.invalid && updateFormFields.get('district')?.touched"
                    class="text-danger">
                    District is required
                  </div>
                </div>
              </div>
              <div class="col-12 col-sm-6 col-md-6 col-lg-6">
                <div class="form-floating mb-3">
                  <select class="form-select" id="mandal" formControlName="mandal" aria-label="">
                    <option value="">Select Mandal</option>
                    <option *ngFor="let list of MandalList" value="{{list.mandalName}}">{{list.mandalName}}</option>
                  </select>
                  <label for="mandal">Mandal <span class="text-danger"> *</span></label>
                  <div *ngIf="updateFormFields.get('mandal')?.invalid && updateFormFields.get('mandal')?.touched"
                    class="text-danger">
                    Mandal is required
                  </div>
                </div>
              </div>
              <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                <div class="form-floating mb-3">
                  <input type="text" class="form-control" id="Address" formControlName="address" placeholder="Address">
                  <label for="Address">Address</label>
                  <div
                    *ngIf="updateFormFields.get('address')?.invalid && updateFormFields.get('address')?.touched && !updateFormFields.get('address')?.hasError('minlength')"
                    class="text-danger">
                    Address is required
                  </div>
                  <div *ngIf="updateFormFields.get('address')?.hasError('minlength')" class="text-danger">
                    Address must be at least 3 characters
                  </div>
                </div>
              </div>
            </div>
          </ng-container>
          <ng-container *ngIf="updateby === 'existingCredit'">


            <div class="mb-3">
              <div>
                <label class="form-label fs-md fw-600 mb-1">Existing Credit with facilities with bank/NBFC/FI & SFC
                  ? <span class="text-danger"> *</span></label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" formControlName="existingCredit" id="bankYes"
                  [value]="true">
                <label class="form-check-label fs-md" for="bankYes">Yes</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" formControlName="existingCredit" id="bankNo"
                  [value]="false">
                <label class="form-check-label fs-md" for="bankNo">No</label>
              </div>
            </div>
          </ng-container>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" id="modal-btn-si" (click)="updateForm()"
              [ngClass]="{'isDisabled':updateFormFields.invalid}">update</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
 <div class="modal fade" id="approvedModal" #approvedModal tabindex="-1" aria-labelledby="approvedModalLabel" aria-hidden="true">
   <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
     <div class="modal-content">
       <div class="modal-header py-2 bg-theme">
         <h6 class="modal-title text-white">Confirmation</h6>
         <button type="button" class="btn-close text-white fs-4 p-0" data-bs-dismiss="modal" aria-label="Close"><span
             class="bi bi-x"></span></button>
       </div>
       <div class="modal-body">
         <p class="text-center"> Are you sure you want to Proceed to Manager Approval. Once Saved it can't be revoked!
         </p>

         <div class="text-center">
           <button type="button" data-bs-toggle="modal" (click)="Approved()" class="btn btn-primary"
             data-bs-dismiss="modal">Yes</button>
           <button type="button" class="btn btn-danger ms-2" data-bs-dismiss="modal">No</button>
         </div>
       </div>
     </div>
   </div>
 </div>
