<!-- <nav>
    <nav class="navbar navbar-expand px-3" style="background-color: #e3f2fd;" *ngIf="user">
        <div class="container-fluid">
            <img src="https://avatars.githubusercontent.com/u/57286889?s=280&v=4" style="height: 79px;">
        </div>
        <div style="float: right;">
            
            <button type="button" class="btn btn-orange" (click)="logout()">Logout</button>
        </div>
    </nav>
</nav> -->

<header *ngIf="user">
    <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-white">
        <div class="container-fluid">
            <div class="d-flex align-items-center justify-content-between w-100">
                <div>
                    <a class="navbar-brand" href="#">
                        <img src="../assets/img/tihcl-logo.png" alt="Logo" class="img-fluid">
                    </a>
                </div>    
                <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasNavbar2" aria-labelledby="offcanvasNavbar2Label">
                   
                      
                    <div class="offcanvas-body">
                        
                      <ul class="navbar-nav justify-content-end flex-grow-1 pe-3" *appHasRole="[Role.TIHCL_EXECUTOR]">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" routerLink="global-dashboard" routerLinkActive="active">Dashboard</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle active"id="executorAppsDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Applications
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="executorAppsDropdown">
                            <li><a class="dropdown-item"  routerLink="new-application" routerLinkActive="active">New</a></li>
                            <li><a class="dropdown-item" routerLink="pending-application" routerLinkActive="active">Pending</a></li>
                            <!-- <li><a class="dropdown-item" routerLink="sanctioned-amount" routerLinkActive="active">Sanctioned Amount</a></li> -->

                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLinkActive="active">Repayment</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"routerLinkActive="active">Update Performance</a>
                    </li>
                        </ul>
                        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3" *appHasRole="[Role.TIHCL_MANAGER]">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page"  routerLink="global-dashboard" routerLinkActive="active">Dashboard</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle active" id="managerApprovalsDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Pending Approvals
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="managerApprovalsDropdown">
                            <li><a class="dropdown-item " routerLink="Manager-approval-1" routerLinkActive="active">Acceptance of application</a></li>
                            <li><a class="dropdown-item" routerLink="Manager-approval-2" routerLinkActive="active">Diagnostic report approval</a></li>
                            <li><a class="dropdown-item" routerLink="Manager-approval-3" routerLinkActive="active">Loan Sanctioned</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLinkActive="active">View Application</a>
                    </li>
                        </ul>
                         <ul class="navbar-nav justify-content-end flex-grow-1 pe-3" *appHasRole="[Role.TIHCL_DIC]">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page"  routerLink="global-dashboard" routerLinkActive="active" >Dashboard</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle active" id="managerApprovalsDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Pending Approvals
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="managerApprovalsDropdown">
                            <li><a class="dropdown-item active" routerLink="DIC-NOC" routerLinkActive="active">DIC NOC Approval</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLinkActive="active">View Application</a>
                    </li>
                        </ul>
                        <!-- view-application -->
                          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3" *appHasRole="[Role.TIHCL_COI]">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page"  routerLink="global-dashboard" routerLinkActive="active">Dashboard</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle active" id="managerApprovalsDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Applications
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="managerApprovalsDropdown">
                            <li><a class="dropdown-item" routerLink="view-application" routerLinkActive="active">View Applications</a></li>
                            <li><a class="dropdown-item" routerLink="sanctioned-amount" routerLinkActive="active">Sanctioned Amount</a></li>

                        </ul>
                    </li>
                    <!-- <li class="nav-item">
                        <a class="nav-link" routerLinkActive="active">View Application</a>
                    </li> -->
                        </ul>
                    </div>
                </div>   
                <div class="d-flex align-items-center justify-content-between">
                    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar2" aria-controls="offcanvasNavbar2" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <ul class="navbar-nav me-auto ms-2">
                        <li class="nav-item dropdown">
                            <a class="nav-link" href="#" aria-current="page" id="notificationDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" >
                                 <div class="notification-count">{{notifications?.count || 0}}</div>
                                <span class="bi bi-bell fs-4"></span>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end" style="overflow: auto;max-height: 300px;" aria-labelledby="notificationDropdown">
                                <ng-container *ngIf="notifications?.notificationResponseList?.length === 0">
                                    <li>
                                        <a class="dropdown-item" >No Notifications</a></li>
                                </ng-container>
                                <ng-container *ngIf="notifications?.notificationResponseList?.length > 0">
                                <li *ngFor="let notification of notifications?.notificationResponseList">
                                    <!-- <span class="bi bi-info-circle me-2"></span>
                                    <i class='bxr  bx-arrow-in-up-right-stroke-square'  ></i>  -->
                                    <a class="dropdown-item" (click)="readNotification(notification)">{{notification.message}}</a>
                                </li>
                                </ng-container>
                            </ul>
                        </li>
                        <li class="nav-item dropdown" >
                            <a class="nav-link" href="#" id="homeDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <span class="bi bi-person-circle fs-3"></span>
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="homeDropdown" style="left: auto !important;">
                            <li><a class="dropdown-item" ><span class="bi bi-person fs-5 me-2"></span> {{this.user.firstName}} {{this.user.lastName}}</a></li>
                            <!-- <li><a class="dropdown-item" routerLink="/profile" routerLinkActive="active"><span class="bi bi-person fs-5 me-2"></span> My Profile</a></li> -->
                            <li><a class="dropdown-item" routerLink="/password-settings" routerLinkActive="active"><span class="bi bi-key fs-5 me-2"></span> Change Password</a></li>
                            <!-- <li *appHasRole="[Role.Admin]"><a class="dropdown-item" routerLink="/user-registration" routerLinkActive="active"><span class="bi bi-person-circle fs-5 me-2"></span> Register User</a></li> -->
                            <li><a class="dropdown-item" (click)="logout()"><span class="bi bi-box-arrow-right fs-5 me-2"></span> Logout</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    
    
   
</header>

<!-- main app container class="container"-->
<div>
    <router-outlet></router-outlet>
    <app-loader></app-loader>
</div>

<!-- credits -->
<div class="text-center mt-4">
    <p>
    </p>
</div>