<form [formGroup]="rampChecklistForm" (ngSubmit)="onSubmit()">
  <fieldset>
    <div class="card border rounded-2 shadow-none mb-3">
      <div class="card-header bg-theme text-white">
        <h6 class="mb-0">Ramp Checklist</h6>
      </div>
      <div class="card-body">
        <div class="accordion accordion-flush mb-3">
          
          <!-- Section 1: Sourcing of Applications -->
          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-checklist1">
              <button class="accordion-button collapsed fs-md" type="button" data-bs-toggle="collapse" data-bs-target="#checklist1" aria-expanded="false" aria-controls="checklist1">
                Sourcing of Applications and preliminary validation
              </button>
            </h2>
            <div id="checklist1" class="accordion-collapse collapse" aria-labelledby="flush-checklist1">
              <div class="accordion-body">
                <div class="row mb-3">
                  <div class="col-12 col-sm-12 col-md-8 col-lg-9">
                    <label class="fs-md fw-600">Identification of Borrower and to ensure they are within our Target Group of MSE – Manufacturing Enterprises</label>
                  </div>
                  <div class="col-12 col-sm-12 col-md-4 col-lg-3">
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" formControlName="isBorrowerIdentified" id="checklistYes1" [value]="true">
                      <label class="form-check-label" for="checklistYes1">Yes</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" formControlName="isBorrowerIdentified" id="checklistNo1" [value]="false">
                      <label class="form-check-label" for="checklistNo1">No</label>
                    </div>
                  </div>
                </div>
                
                <div class="row mb-3">
                  <div class="col-12 col-sm-12 col-md-8 col-lg-9">
                    <label class="fs-md fw-600">Whether identified Unit is under Financial Stress / Incipient Sickness, which are eligible for initiating revival / rehabilitation</label>
                  </div>
                  <div class="col-12 col-sm-12 col-md-4 col-lg-3">
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" formControlName="isStress" id="checklistYes2" [value]="true">
                      <label class="form-check-label" for="checklistYes2">Yes</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" formControlName="isStress" id="checklistNo2" [value]="false">
                      <label class="form-check-label" for="checklistNo2">No</label>
                    </div>
                  </div>
                </div>
                
                <div class="row mb-3">
                  <div class="col-12 col-sm-12 col-md-8 col-lg-9">
                    <label class="fs-md fw-600">Whether Stress / Sickness in the Unit is due to willful reasons / default of the entrepreneur, including diversion of funds? If so, we shall not entertain such applications</label>
                  </div>
                  <div class="col-12 col-sm-12 col-md-4 col-lg-3">
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" formControlName="isStressDueToWillfulReasons" id="checklistYes3" [value]="true">
                      <label class="form-check-label" for="checklistYes3">Yes</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" formControlName="isStressDueToWillfulReasons" id="checklistNo3" [value]="false">
                      <label class="form-check-label" for="checklistNo3">No</label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
          <!-- Section 2: KYC and Due Diligence -->
          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-checklist2">
              <button class="accordion-button collapsed fs-md" type="button" data-bs-toggle="collapse" data-bs-target="#checklist2" aria-expanded="false" aria-controls="checklist2">
                KYC and Due Diligence
              </button>
            </h2>
            <div id="checklist2" class="accordion-collapse collapse" aria-labelledby="flush-checklist2">
              <div class="accordion-body">
                <div class="row mb-3">
                  <div class="col-12 col-sm-12 col-md-8 col-lg-9">
                    <label class="fs-md fw-600">Brief Profile of the Promoter and the Unit</label>
                  </div>
                  <div class="col-12 col-sm-12 col-md-4 col-lg-3">
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" formControlName="isBriefProfile" id="checklistYes4" [value]="true">
                      <label class="form-check-label" for="checklistYes4">Yes</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" formControlName="isBriefProfile" id="checklistNo4" [value]="false">
                      <label class="form-check-label" for="checklistNo4">No</label>
                    </div>
                  </div>
                </div>
                
                <div class="row mb-3">
                  <div class="col-12 col-sm-12 col-md-8 col-lg-9">
                    <label class="fs-md fw-600">Brief History of the Account</label>
                  </div>
                  <div class="col-12 col-sm-12 col-md-4 col-lg-3">
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" formControlName="isBriefHistoryAccount" id="checklistYes5" [value]="true">
                      <label class="form-check-label" for="checklistYes5">Yes</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" formControlName="isBriefHistoryAccount" id="checklistNo5" [value]="false">
                      <label class="form-check-label" for="checklistNo5">No</label>
                    </div>
                  </div>
                </div>
                
                <div class="row mb-3">
                  <div class="col-12 col-sm-12 col-md-8 col-lg-9">
                    <label class="fs-md fw-600">To obtain and verify related KYC documents like Aadhar, PAN Card, Udyami Registration, etc.</label>
                  </div>
                  <div class="col-12 col-sm-12 col-md-4 col-lg-3">
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" formControlName="isKycDocumentVerified" id="checklistYes6" [value]="true">
                      <label class="form-check-label" for="checklistYes6">Yes</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" formControlName="isKycDocumentVerified" id="checklistNo6" [value]="false">
                      <label class="form-check-label" for="checklistNo6">No</label>
                    </div>
                  </div>
                </div>
                
                <div class="row">
                  <div class="col-12 col-sm-12 col-md-8 col-lg-9">
                    <label class="fs-md fw-600">Whether proper and effective due diligence of the unit and promoter is conducted? This includes Unit visits, visits to the Promoter's residences, confidential reports from the existing Banks / FIs, etc.</label>
                  </div>
                  <div class="col-12 col-sm-12 col-md-4 col-lg-3">
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" formControlName="isProperAndEffective" id="checklistYes7" [value]="true">
                      <label class="form-check-label" for="checklistYes7">Yes</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" formControlName="isProperAndEffective" id="checklistNo7" [value]="false">
                      <label class="form-check-label" for="checklistNo7">No</label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
          <!-- Section 3: Required Documents -->
          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-checklist3">
              <button class="accordion-button collapsed fs-md" type="button" data-bs-toggle="collapse" data-bs-target="#checklist3" aria-expanded="false" aria-controls="checklist3">
                To obtain the required Documents
              </button>
            </h2>
            <div id="checklist3" class="accordion-collapse collapse" aria-labelledby="flush-checklist3">
              <div class="accordion-body">
                <div class="row mb-3">
                  <div class="col-12 col-sm-12 col-md-8 col-lg-9">
                    <label class="fs-md fw-600">To obtain Loan Application, financial statements for the required period, CMA data, Receipts confirming payment of statutory payments, etc.</label>
                  </div>
                  <div class="col-12 col-sm-12 col-md-4 col-lg-3">
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" formControlName="isLoanApplicationDocs" id="checklistYes8" [value]="true">
                      <label class="form-check-label" for="checklistYes8">Yes</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" formControlName="isLoanApplicationDocs" id="checklistNo8" [value]="false">
                      <label class="form-check-label" for="checklistNo8">No</label>
                    </div>
                  </div>
                </div>
                
                <div class="row mb-3">
                  <div class="col-12 col-sm-12 col-md-8 col-lg-9">
                    <label class="fs-md fw-600">Existing Banking arrangements and views of the primary bank / FI on the Unit.</label>
                  </div>
                  <div class="col-12 col-sm-12 col-md-4 col-lg-3">
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" formControlName="isExistingBankingArrangements" id="checklistYes9" [value]="true">
                      <label class="form-check-label" for="checklistYes9">Yes</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" formControlName="isExistingBankingArrangements" id="checklistNo9" [value]="false">
                      <label class="form-check-label" for="checklistNo9">No</label>
                    </div>
                  </div>
                </div>
                
                <div class="row mb-3">
                  <div class="col-12 col-sm-12 col-md-8 col-lg-9">
                    <label class="fs-md fw-600">NOC from the existing banks / FIs, to avail the credit facilities from TIHCL and to extend Pari passu charge, wherever required.</label>
                  </div>
                  <div class="col-12 col-sm-12 col-md-4 col-lg-3">
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" formControlName="isNocCertificate" id="checklistYes10" [value]="true">
                      <label class="form-check-label" for="checklistYes10">Yes</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" formControlName="isNocCertificate" id="checklistNo10" [value]="false">
                      <label class="form-check-label" for="checklistNo10">No</label>
                    </div>
                  </div>
                </div>
                
                <div class="row">
                  <div class="col-12 col-sm-12 col-md-8 col-lg-9">
                    <label class="fs-md fw-600">Present request / requirement of the Unit.</label>
                  </div>
                  <div class="col-12 col-sm-12 col-md-4 col-lg-3">
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" formControlName="isPresentRequest" id="checklistYes11" [value]="true">
                      <label class="form-check-label" for="checklistYes11">Yes</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" formControlName="isPresentRequest" id="checklistNo11" [value]="false">
                      <label class="form-check-label" for="checklistNo11">No</label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
          <!-- Section 4: Processing -->
          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-checklist4">
              <button class="accordion-button collapsed fs-md" type="button" data-bs-toggle="collapse" data-bs-target="#checklist4" aria-expanded="false" aria-controls="checklist4">
                Processing of the proposal
              </button>
            </h2>
            <div id="checklist4" class="accordion-collapse collapse" aria-labelledby="flush-checklist4">
              <div class="accordion-body">
                <div class="row mb-3">
                  <div class="col-12 col-sm-12 col-md-8 col-lg-9">
                    <label class="fs-md fw-600">To study, analyze and identify the reasons for reported stress / incipient sickness / sickness in the Unit and possible solution thereof.</label>
                  </div>
                  <div class="col-12 col-sm-12 col-md-4 col-lg-3">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="upgradation" name="isAnalyzeAndIdentify" formControlName="isAnalyzeAndIdentify">
                    </div>
                    <!-- <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" formControlName="isAnalyzeAndIdentify" id="checklistYes12" [value]="true">
                      <label class="form-check-label" for="checklistYes12">Yes</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" formControlName="isAnalyzeAndIdentify" id="checklistNo12" [value]="false">
                      <label class="form-check-label" for="checklistNo12">No</label>
                    </div> -->
                  </div>
                </div>
                
                <h6 class="fw-600">Establishing Technical Feasibility and Financial Viability of the Unit by considering the following:</h6>
                
                <div class="row mb-3">
                  <div class="col-12 col-sm-12 col-md-8 col-lg-9">
                    <label class="fs-md fw-600">Sector Analysis</label>
                  </div>
                  <div class="col-12 col-sm-12 col-md-4 col-lg-3">
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" formControlName="isTechnicalFeasibility" id="checklistYes13" [value]="true">
                      <label class="form-check-label" for="checklistYes13">Yes</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" formControlName="isTechnicalFeasibility" id="checklistNo13" [value]="false">
                      <label class="form-check-label" for="checklistNo13">No</label>
                    </div>
                  </div>
                </div>
                
                <div class="row mb-3">
                  <div class="col-12 col-sm-12 col-md-8 col-lg-9">
                    <label class="fs-md fw-600">Analysis of Credit Bureau reports</label>
                  </div>
                  <div class="col-12 col-sm-12 col-md-4 col-lg-3">
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" formControlName="isAnalysisOfCreditBureauReports" id="checklistYes14" [value]="true">
                      <label class="form-check-label" for="checklistYes14">Yes</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" formControlName="isAnalysisOfCreditBureauReports" id="checklistNo14" [value]="false">
                      <label class="form-check-label" for="checklistNo14">No</label>
                    </div>
                  </div>
                </div>
                
                <!-- Continue with other processing items following the same pattern -->
                
                <div class="row mb-3">
                  <div class="col-12 col-sm-12 col-md-8 col-lg-9">
                    <label class="fs-md fw-600">Demand for Product and Market Potential</label>
                  </div>
                  <div class="col-12 col-sm-12 col-md-4 col-lg-3">
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" formControlName="isDemandForProductAndMarketPotential" id="checklistYes15" [value]="true">
                      <label class="form-check-label" for="checklistYes15">Yes</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" formControlName="isDemandForProductAndMarketPotential" id="checklistNo15" [value]="false">
                      <label class="form-check-label" for="checklistNo15">No</label>
                    </div>
                  </div>
                </div>
                
                <div class="row mb-3">
                  <div class="col-12 col-sm-12 col-md-8 col-lg-9">
                    <label class="fs-md fw-600">Order Book position</label>
                  </div>
                  <div class="col-12 col-sm-12 col-md-4 col-lg-3">
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" formControlName="isOrderBookPosition" id="checklistYes16" [value]="true">
                      <label class="form-check-label" for="checklistYes16">Yes</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" formControlName="isOrderBookPosition" id="checklistNo16" [value]="false">
                      <label class="form-check-label" for="checklistNo16">No</label>
                    </div>
                  </div>
                </div>
                
                <div class="row mb-3">
                  <div class="col-12 col-sm-12 col-md-8 col-lg-9">
                    <label class="fs-md fw-600">List of Top Buyers and Suppliers</label>
                  </div>
                  <div class="col-12 col-sm-12 col-md-4 col-lg-3">
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" formControlName="isListOfTopBuyersAndSuppliers" id="checklistYes17" [value]="true">
                      <label class="form-check-label" for="checklistYes17">Yes</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" formControlName="isListOfTopBuyersAndSuppliers" id="checklistNo17" [value]="false">
                      <label class="form-check-label" for="checklistNo17">No</label>
                    </div>
                  </div>
                </div>
                
                <div class="row mb-3">
                  <div class="col-12 col-sm-12 col-md-8 col-lg-9">
                    <label class="fs-md fw-600">Existing Marketing arrangements</label>
                  </div>
                  <div class="col-12 col-sm-12 col-md-4 col-lg-3">
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" formControlName="isExistingMarketingArrangements" id="checklistYes18" [value]="true">
                      <label class="form-check-label" for="checklistYes18">Yes</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" formControlName="isExistingMarketingArrangements" id="checklistNo18" [value]="false">
                      <label class="form-check-label" for="checklistNo18">No</label>
                    </div>
                  </div>
                </div>
                
                <div class="row mb-3">
                  <div class="col-12 col-sm-12 col-md-8 col-lg-9">
                    <label class="fs-md fw-600">Analysis of Financials – Audited Financial Statements, Provisional Financial Statements and CMA date for future estimates / projections.</label>
                  </div>
                  <div class="col-12 col-sm-12 col-md-4 col-lg-3">
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" formControlName="isAnalysisOfFinancials" id="checklistYes19" [value]="true">
                      <label class="form-check-label" for="checklistYes19">Yes</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" formControlName="isAnalysisOfFinancials" id="checklistNo19" [value]="false">
                      <label class="form-check-label" for="checklistNo19">No</label>
                    </div>
                  </div>
                </div>
                
                <div class="row mb-3">
                  <div class="col-12 col-sm-12 col-md-8 col-lg-9">
                    <label class="fs-md fw-600">Establishing financial viability by reviewing DSCR / Interest Coverage Ratio / DE Ratio. TOL /TNW, etc.</label>
                  </div>
                  <div class="col-12 col-sm-12 col-md-4 col-lg-3">
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" formControlName="isEstablishingFinancialViability" id="checklistYes20" [value]="true">
                      <label class="form-check-label" for="checklistYes20">Yes</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" formControlName="isEstablishingFinancialViability" id="checklistNo20" [value]="false">
                      <label class="form-check-label" for="checklistNo20">No</label>
                    </div>
                  </div>
                </div>
                
                <div class="row mb-3">
                  <div class="col-12 col-sm-12 col-md-8 col-lg-9">
                    <label class="fs-md fw-600">Availability of security – Primary / Collateral, personal guarantees.</label>
                  </div>
                  <div class="col-12 col-sm-12 col-md-4 col-lg-3">
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" formControlName="isAvailabilityOfSecurity" id="checklistYes21" [value]="true">
                      <label class="form-check-label" for="checklistYes21">Yes</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" formControlName="isAvailabilityOfSecurity" id="checklistNo21" [value]="false">
                      <label class="form-check-label" for="checklistNo21">No</label>
                    </div>
                  </div>
                </div>
                
                <div class="row mb-3">
                  <div class="col-12 col-sm-12 col-md-8 col-lg-9">
                    <label class="fs-md fw-600">Capacity and resources to bring in required margins</label>
                  </div>
                  <div class="col-12 col-sm-12 col-md-4 col-lg-3">
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" formControlName="isCapacityAndResources" id="checklistYes22" [value]="true">
                      <label class="form-check-label" for="checklistYes22">Yes</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" formControlName="isCapacityAndResources" id="checklistNo22" [value]="false">
                      <label class="form-check-label" for="checklistNo22">No</label>
                    </div>
                  </div>
                </div>
                
                <div class="row">
                  <div class="col-12 col-sm-12 col-md-8 col-lg-9">
                    <label class="fs-md fw-600">Pending Statutory Dues, if any, and impact of the same on the functioning of the Unit. Plan of action to clear the pending dues.</label>
                  </div>
                  <div class="col-12 col-sm-12 col-md-4 col-lg-3">
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" formControlName="isPendingStatutoryDues" id="checklistYes23" [value]="true">
                      <label class="form-check-label" for="checklistYes23">Yes</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" formControlName="isPendingStatutoryDues" id="checklistNo23" [value]="false">
                      <label class="form-check-label" for="checklistNo23">No</label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
          <!-- Section 5: Unit Visit -->
          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-checklist5">
              <button class="accordion-button collapsed fs-md" type="button" data-bs-toggle="collapse" data-bs-target="#checklist5" aria-expanded="false" aria-controls="checklist5">
                Unit Visit
              </button>
            </h2>
            <div id="checklist5" class="accordion-collapse collapse" aria-labelledby="flush-checklist5">
              <div class="accordion-body">
                <div class="row mb-3">
                  <div class="col-12 col-sm-12 col-md-8 col-lg-9">
                    <label class="fs-md fw-600">While processing the proposal, a Unit visit will be conducted to get firsthand information about the functioning of the Unit and to understand the practical difficulties being faced by the Unit.</label>
                  </div>
                  <div class="col-12 col-sm-12 col-md-4 col-lg-3">
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" formControlName="isProcessingTheProposal" id="checklistYes24" [value]="true">
                      <label class="form-check-label" for="checklistYes24">Yes</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" formControlName="isProcessingTheProposal" id="checklistNo24" [value]="false">
                      <label class="form-check-label" for="checklistNo24">No</label>
                    </div>
                  </div>
                </div>
                
                <div class="row mb-3">
                  <div class="col-12 col-sm-12 col-md-8 col-lg-9">
                    <label class="fs-md fw-600">Capacity Utilization</label>
                  </div>
                  <div class="col-12 col-sm-12 col-md-4 col-lg-3">
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" formControlName="isCapacityUtilization" id="checklistYes25" [value]="true">
                      <label class="form-check-label" for="checklistYes25">Yes</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" formControlName="isCapacityUtilization" id="checklistNo25" [value]="false">
                      <label class="form-check-label" for="checklistNo25">No</label>
                    </div>
                  </div>
                </div>
                
                <div class="row mb-3">
                  <div class="col-12 col-sm-12 col-md-8 col-lg-9">
                    <label class="fs-md fw-600">Achievement of Breakeven production levels</label>
                  </div>
                  <div class="col-12 col-sm-12 col-md-4 col-lg-3">
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" formControlName="isAchievementOfBreakevenProductionLevels" id="checklistYes26" [value]="true">
                      <label class="form-check-label" for="checklistYes26">Yes</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" formControlName="isAchievementOfBreakevenProductionLevels" id="checklistNo26" [value]="false">
                      <label class="form-check-label" for="checklistNo26">No</label>
                    </div>
                  </div>
                </div>
                
                <div class="row mb-3">
                  <div class="col-12 col-sm-12 col-md-8 col-lg-9">
                    <label class="fs-md fw-600">Availability of skilled manpower</label>
                  </div>
                  <div class="col-12 col-sm-12 col-md-4 col-lg-3">
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" formControlName="isAvailabilityOfSkilledManpower" id="checklistYes27" [value]="true">
                      <label class="form-check-label" for="checklistYes27">Yes</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" formControlName="isAvailabilityOfSkilledManpower" id="checklistNo27" [value]="false">
                      <label class="form-check-label" for="checklistNo27">No</label>
                    </div>
                  </div>
                </div>
                
                <div class="row mb-3">
                  <div class="col-12 col-sm-12 col-md-8 col-lg-9">
                    <label class="fs-md fw-600">Supply Chain mechanism</label>
                  </div>
                  <div class="col-12 col-sm-12 col-md-4 col-lg-3">
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" formControlName="isSupplyChainMechanism" id="checklistYes28" [value]="true">
                      <label class="form-check-label" for="checklistYes28">Yes</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" formControlName="isSupplyChainMechanism" id="checklistNo28" [value]="false">
                      <label class="form-check-label" for="checklistNo28">No</label>
                    </div>
                  </div>
                </div>
                
                <div class="row mb-3">
                  <div class="col-12 col-sm-12 col-md-8 col-lg-9">
                    <label class="fs-md fw-600">Availability of required infrastructure</label>
                  </div>
                  <div class="col-12 col-sm-12 col-md-4 col-lg-3">
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" formControlName="isAvailabilityOfRequiredInfrastructure" id="checklistYes29" [value]="true">
                      <label class="form-check-label" for="checklistYes29">Yes</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" formControlName="isAvailabilityOfRequiredInfrastructure" id="checklistNo29" [value]="false">
                      <label class="form-check-label" for="checklistNo29">No</label>
                    </div>
                  </div>
                </div>
                
                <div class="row">
                  <div class="col-12 col-sm-12 col-md-8 col-lg-9">
                    <label class="fs-md fw-600">Pollution control permissions</label>
                  </div>
                  <div class="col-12 col-sm-12 col-md-4 col-lg-3">
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" formControlName="isPollutionControlPermissions" id="checklistYes30" [value]="true">
                      <label class="form-check-label" for="checklistYes30">Yes</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" formControlName="isPollutionControlPermissions" id="checklistNo30" [value]="false">
                      <label class="form-check-label" for="checklistNo30">No</label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
          <!-- Section 6: Risk Management -->
          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-checklist6">
              <button class="accordion-button collapsed fs-md" type="button" data-bs-toggle="collapse" data-bs-target="#checklist6" aria-expanded="false" aria-controls="checklist6">
                Clearance from Risk Management angle
              </button>
            </h2>
            <div id="checklist6" class="accordion-collapse collapse" aria-labelledby="flush-checklist6">
              <div class="accordion-body">
                <div class="row mb-3">
                  <div class="col-12 col-sm-12 col-md-8 col-lg-9">
                    <label class="fs-md fw-600">Various Risk elements, specific to Credit Risk and Market Risk, that may affect the decision on the proposal will be jotted down and mitigates for the risks identified will be arrived at. If a proposal is to be taken up with unmitigated risks, proper justification for the same will be incorporated in the process note.</label>
                  </div>
                  <div class="col-12 col-sm-12 col-md-4 col-lg-3">
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" formControlName="isVariousRiskElements" id="checklistYes31" [value]="true">
                      <label class="form-check-label" for="checklistYes31">Yes</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" formControlName="isVariousRiskElements" id="checklistNo31" [value]="false">
                      <label class="form-check-label" for="checklistNo31">No</label>
                    </div>
                  </div>
                </div>
                
                <div class="row">
                  <div class="col-12 col-sm-12 col-md-8 col-lg-9">
                    <label class="fs-md fw-600">Finally, whether the proposal is cleared from Risk angle</label>
                  </div>
                  <div class="col-12 col-sm-12 col-md-4 col-lg-3">
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" formControlName="isProposalClearedFromRiskAngle" id="checklistYes32" [value]="true">
                      <label class="form-check-label" for="checklistYes32">Yes</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" formControlName="isProposalClearedFromRiskAngle" id="checklistNo32" [value]="false">
                      <label class="form-check-label" for="checklistNo32">No</label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- File Upload Section -->
    <div class="card border rounded-2 shadow-none mb-3">
      <div class="card-header bg-theme text-white">
        <h6 class="mb-0">Credit Appraisal</h6>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-12 col-sm-8 offset-sm-2 col-md-6 offset-md-3 col-lg-4 offset-lg-4">
            <div>
              <label for="uploadCredit" class="form-label text-center fw-600">Upload Credit Appraisal Report</label>
              <input class="form-control" id="uploadCredit" type="file" (change)="onFileSelected($event)">
              <small *ngIf="rampChecklistForm.get('creditApprasialPath')?.value" class="text-muted">
                Uploaded file: {{ rampChecklistForm.get('creditApprasialPath')?.value }}
              </small>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="d-flex justify-content-between">
      <!-- (click)="onPrevious()" -->
      <button type="button" class="btn btn-secondary" >Previous</button>
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </fieldset>
</form>