<header>
    <nav class="navbar navbar-expand-lg fixed-top navbar-light bg-white">
        <div class="container-fluid">
            <a class="navbar-brand">
                <img src="../../../assets/img/tihcl-logo.png" alt="" class="img-fluid-new" width="100px" height="auto">
            </a>
            <div class="ms-auto d-flex align-items-center">
                <div class="me-4 text-end">
                    <p class="mb-0">
                        <i class="bi bi-geo-alt-fill"></i> Location: Hyderabad, India | 
                        <i class="bi bi-envelope-fill"></i> Mail: compliance@tihcl.com | 
                        <i class="bi bi-telephone-fill"></i> Contact: 040-232363990
                    </p>
                </div>
            </div>
        </div>
    </nav>
</header>
<main class="pt-80">
    <section class="pt-3">
        <div class="container-fluid">
            <div class="card">
                
                <div class="card-header bg-theme text-white py-3" style="background-color: #0082f1 !important;">
                    <h6 class="mb-0">Application Form</h6>
                </div>
                <div class="card-body">
                    <form>
                        <div class="row">
                            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                <div class="mb-3">
                                    <div class="d-flex">
                                        <div class="me-2">1.</div>
                                        <div class="fw-600">
                                            <label class="form-label mb-1">What is your enterprise category?</label>
                                            <label class="form-label">మీ సంస్థ వర్గం ఏమిటి?</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3">
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="Micro">
                                                <label class="form-check-label" for="inlineRadio1">Micro / సూక్ష్మ</label>
                                            </div>
                                        </div>
                                        <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3">
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="Small">
                                                <label class="form-check-label" for="inlineRadio2">Small / చిన్న</label>
                                            </div>
                                        </div>
                                        <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3">
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="Medium" (change)="validateEnterpriseCategory($event)">
                                                <label class="form-check-label" for="inlineRadio3">Medium / మధ్య తరహా</label>
                                            </div>
                                        </div>
                                        <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3">
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio4" value="Large" (change)="validateEnterpriseCategory($event)">
                                                <label class="form-check-label" for="inlineRadio4">Large / పెద్ద</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                <div class="mb-3">
                                    <div class="d-flex">
                                        <div class="me-2">2.</div>
                                        <div class="fw-600">
                                            <label class="form-label mb-1">What is your nature of activity?</label>
                                            <label class="form-label">మీ వ్యాపార రకం ఏమిటి?</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3">
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="inlineRadioOptions1" id="manufacturing" value="Manufacturing">
                                                <label class="form-check-label" for="manufacturing">Manufacturing / ఉత్పత్తి</label>
                                            </div>
                                        </div>
                                        <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3">
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="inlineRadioOptions1" id="services" value="Services" (change)="validateNatureOfActivity($event)">
                                                <label class="form-check-label" for="services">Services / సేవలు</label>
                                            </div>
                                        </div>
                                        <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3">
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="inlineRadioOptions1" id="trading" value="Trading" (change)="validateNatureOfActivity($event)">
                                                <label class="form-check-label" for="trading">Trading / ట్రేడింగ్</label>
                                            </div>
                                        </div>   
                                    </div>                                     
                                </div>
                            </div>
                            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                <div class="mb-3">
                                    <div class="d-flex">
                                        <div class="me-2">3.</div>
                                        <div class="fw-600">
                                            <label class="form-label mb-1">What is your enterprise?</label>
                                            <label class="form-label">మీ సంస్థ ఏమిటి?</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3">
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="enterprise" id="new" value="newEnterprise">
                                                <label class="form-check-label" for="new">New Enterprise / కొత్త సంస్థ</label>
                                            </div>
                                        </div>
                                        <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3">
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="enterprise" id="existing" value="existingEnterprise">
                                                <label class="form-check-label" for="existing">Existing Enterprises  / ఇప్పటికే ఉన్న సంస్థ</label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 show-hide mt-3" id="existingEnterprise" style="display: none;">
                                            <div class="mb-3">
                                                <div class="d-flex">
                                                    <div class="me-2">a&rpar;</div>
                                                    <div class="fw-600">
                                                        <label class="form-label mb-1">How is your enterprise operating? </label>
                                                        <label class="form-label">మీ సంస్థ ఎలా పని చేస్తుంది?</label>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3">
                                                        <div class="form-check form-check-inline">
                                                            <input class="form-check-input" type="checkbox" name="existing" id="operating" value="Operating">
                                                            <label class="form-check-label" for="operating">Operating / నడుస్తున్న</label>
                                                        </div>
                                                    </div>       
                                                    <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-6">
                                                        <div class="form-check form-check-inline">
                                                            <input class="form-check-input" type="checkbox" name="existing" id="operating2" value="Operating with difficulties">
                                                            <label class="form-check-label" for="operating2">Operating with difficulties / ఇబ్బందులతో నడుస్తోంది</label>
                                                        </div>
                                                    </div>
                                                    <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3">
                                                        <div class="form-check form-check-inline">
                                                            <input class="form-check-input" type="checkbox" name="existing" id="sick" value="Sick">
                                                            <label class="form-check-label" for="sick">Sick or Stressed / ఒత్తిడి యూనిట్</label>
                                                        </div>
                                                    </div>
                                                    <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-9">
                                                        <div class="form-check form-check-inline">
                                                            <input class="form-check-input" type="checkbox" name="existing" id="bills" value="Pending Bills">
                                                            <label class="form-check-label" for="bills">Pending Bills from Govt & PSU for more than 90 days / ప్రభుత్వ / పిఎస్యు బిల్లులు 90 రోజులకు పైగా పెండింగ్లో ఉన్నాయి</label>
                                                        </div>
                                                    </div>                                     
                                                    <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3">
                                                        <div class="form-check form-check-inline">
                                                            <input class="form-check-input" type="checkbox" name="existing" id="subside" value="Subsides or power issues">
                                                            <label class="form-check-label" for="subside">Subsides or power issues / రాయితీలు లేదా విద్యుత్ బకాయిలు</label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="mb-3">
                                                <div class="d-flex">
                                                    <div class="me-2">b&rpar;</div>
                                                    <div class="fw-600">
                                                        <label class="form-label mb-1">Do have any loan facilities with bank/NBFC/FI & SFC ? </label>
                                                        <label class="form-label">బ్యాంకు / ఎన్బిఎఫ్సి / ఎఫ్ఐ & ఎస్ఎఫ్సి లతో ఏ రుణ సదుపాయాన్ని కలిగి ఉన్నారా?</label>
                                                    </div>
                                                </div>
                                                <div class="row mb-3">
                                                    <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3">
                                                        <div class="form-check form-check-inline">
                                                            <input class="form-check-input" type="radio" name="existing1" id="yesExisting" value="yes">
                                                            <label class="form-check-label" for="yesExisting">Yes / అవును</label>
                                                        </div>
                                                    </div>                                            
                                                    <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-6">
                                                        <div class="form-check form-check-inline">
                                                            <input class="form-check-input" type="radio" name="existing1" id="noExisting" value="no">
                                                            <label class="form-check-label" for="noExisting">No / కాదు</label>
                                                        </div>
                                                    </div>
                                                </div>
        
                                                <div class="show-hide1 mb-3" id="yes" style="display: none;">                                        
                                                    <div class="row">
                                                        <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                                                            <div class="mb-3">
                                                                <div class="d-flex">
                                                                    <div class="me-2">I&rpar; </div>
                                                                    <div class="fw-600">
                                                                        <label class="form-label mb-1">What is your Term Loan?</label>
                                                                        <label class="form-label">మీ టర్మ్ ఋణం ఎంత ఉంది?</label>
                                                                    </div>
                                                                </div>
                                                                <div class="input-group mb-3">
                                                                    <span class="input-group-text">&#8377;</span>
                                                                    <input type="text" class="form-control" placeholder="Enter loan amount">
                                                                </div>                                              
                                                            </div>
                                                        </div>
                                                        <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                                                            <div class="mb-3">
                                                                <div class="d-flex">
                                                                    <div class="me-2">II&rpar; </div>
                                                                    <div class="fw-600">
                                                                        <label class="form-label mb-1">What is your working capital?</label>
                                                                        <label class="form-label">మీ వర్కింగ్ క్యాపిటల్ ఎంత ఉంది?</label>
                                                                    </div>
                                                                </div>
                                                                <div class="input-group mb-3">
                                                                    <span class="input-group-text">&#8377;</span>
                                                                    <input type="text" class="form-control" placeholder="Enter amount">
                                                                </div>                                              
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="show-hide1 mb-3" id="no" style="display: none;">  
                                                    <div class="row">
                                                        <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                                                            <div class="mb-3">
                                                                <div class="d-flex w-100">
                                                                    <div class="me-2">I&rpar; </div>
                                                                    <div class="fw-600">
                                                                        <label class="form-label mb-1">What is your investment in plant and machinery? </label>
                                                                        <label class="form-label">ప్లాంట్ మరియు యంత్రాలలో మీ పెట్టుబడి ఎంత?</label>
                                                                    </div>
                                                                </div>
                                                                <div class="input-group mb-3">
                                                                    <span class="input-group-text">&#8377;</span>
                                                                    <input type="text" class="form-control" placeholder="Enter amount">
                                                                </div>                                              
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 show-hide mt-3" id="newEnterprise" style="display: none;">
                                            <div class="">
                                                <div class="d-flex">
                                                    <div class="me-2">a&rpar;</div>
                                                    <div class="fw-600">
                                                        <label class="form-label mb-1">Do you operate in cluster? </label>
                                                        <label class="form-label">మీ పరిశ్రమ ఏదైనా పారిశ్రామిక సమూహంలో ఉందా? 
                                                            <a href="javascript:;" data-bs-toggle="tooltip" data-bs-placement="top" title="Cluster is sectoral and geographical concentration of micro and small enterprises producing similar range of goods and services."><i class="bi bi-info-circle"></i></a></label>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3">
                                                        <div class="form-check form-check-inline">
                                                            <input class="form-check-input" type="radio" name="cluster" id="yescluster1" value="yescluster">
                                                            <label class="form-check-label" for="yescluster1">Yes / అవును</label>
                                                        </div>
                                                    </div>                                            
                                                    <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-6">
                                                        <div class="form-check form-check-inline">
                                                            <input class="form-check-input" type="radio" name="cluster" id="nocluster1" value="nocluster">
                                                            <label class="form-check-label" for="nocluster1">No / కాదు</label>
                                                        </div>
                                                    </div>
                                                </div>
        
                                                <div class="show-hide2" id="yescluster" style="display: none;">                                        
                                                    <div class="row">
                                                        <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                                                            <div class="mb-3">
                                                                <div class="d-flex">
                                                                    <div class="me-2">I&rpar; </div>
                                                                    <div class="fw-600">
                                                                        <label class="form-label mb-1">How many units are operating in your cluster?</label>
                                                                        <label class="form-label">మీ క్లస్టర్లో ఎన్ని యూనిట్లు పనిచేస్తున్నాయి?</label>
                                                                    </div>
                                                                </div>
                                                                <div class="mb-3">
                                                                    <input type="text" class="form-control" placeholder="Enter Units">                                                            
                                                                </div>                                              
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                <div class="mb-3">
                                    <div class="d-flex">
                                        <div class="me-2">4.</div>
                                        <div class="fw-600">
                                            <label class="form-label mb-1">Which sector does your enterprise belong to?</label>
                                            <label class="form-label">మీ పరిశ్రమ ఏ రంగానికి చెందినది? </label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3">
                                            <select class="form-select">
                                                <option value="#">Select</option>
                                                <option value="1">Group</option>
                                                <option value="2">Division</option>
                                            </select>
                                        </div>
                                    </div>                                 
                                </div>
                            </div>
                            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                <div class="mb-3">
                                    <div class="d-flex">
                                        <div class="me-2">5.</div>
                                        <div class="fw-600">
                                            <label class="form-label mb-1">Which state is your enterprise located?</label>
                                            <label class="form-label">మీ పరిశ్రమ ఏ రాష్ట్రంగా ఉంది? </label>
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3">
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="state" id="telangana" value="telanganastate">
                                                <label class="form-check-label" for="telangana">Telangana / తెలంగాణ</label>
                                            </div>
                                        </div>
                                        <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3">
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="state" id="other" value="otherstate">
                                                <label class="form-check-label" for="other">Other state / ఇతర రాష్ట్రం</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="show-hide3 mb-3" id="telanganastate" style="display: none;">
                                        <div class="row">
                                            <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3">
                                                <div class="mb-3">
                                                    <select class="form-select">
                                                        <option value="#">Select District/ జిల్లాను ఎంచుకోండి</option>
                                                        <option value="1">Rangareddy / రంగారెడ్డి</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3">
                                                <div class="mb-3">
                                                    <select class="form-select">
                                                        <option value="#">Select Mandal / మండల్ ఎంచుకోండి</option>
                                                        <option value="1">Mandal 1 / మండల్1</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3">
                                                <div class="mb-3">
                                                    <input type="text" class="form-control" placeholder="city/town / నగరం/పట్టణం">
                                                </div>
                                            </div>
                                            <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3">
                                                <div class="mb-3">
                                                    <input type="text" class="form-control" placeholder="Address/ చిరునామా">
                                                </div>
                                            </div>
                                        </div> 
                                    </div>
                                    <div class="show-hide3 mb-3" id="otherstate"  style="display: none;">
                                        <div class="row">
                                            <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3">
                                                <div class="mb-3">
                                                    <input type="text" class="form-control" placeholder="State/ రాష్ట్రం">
                                                </div>
                                            </div>
                                            <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3">
                                                <div class="mb-3">
                                                    <input type="text" class="form-control" placeholder="District/ జిల్లాను">
                                                </div>
                                            </div>
                                            <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3">
                                                <div class="mb-3">
                                                    <input type="text" class="form-control" placeholder="Mandal / మండల్">
                                                </div>
                                            </div>
                                            <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3">
                                                <div class="mb-3">
                                                    <input type="text" class="form-control" placeholder="city/town / నగరం/పట్టణం">
                                                </div>
                                            </div>
                                            <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3">
                                                <div class="mb-3">
                                                    <input type="text" class="form-control" placeholder="Address/ చిరునామా">
                                                </div>
                                            </div>
                                        </div> 
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                <div class="mb-3">
                                    <div class="d-flex">
                                        <div class="me-2">6.</div>
                                        <div class="fw-600">
                                            <label class="form-label mb-1">How many EMIs are pending to bank?</label>
                                            <label class="form-label">బ్యాంకులకు ఎన్ని EMI లు పెండింగ్లో ఉన్నాయి?</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3">
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="emi" id="month1" value="">
                                                <label class="form-check-label" for="month1">&gt; 3 months  / &gt; 3 నెలలు</label>
                                            </div>
                                        </div>
                                        <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3">
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="emi" id="month2" value="">
                                                <label class="form-check-label" for="month2">3 – 6 months / 3-6 నెలలు</label>
                                            </div>
                                        </div>
                                        <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3">
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="emi" id="month3" value="">
                                                <label class="form-check-label" for="month3">&lt; 6 months / &lt;6 నెలలు</label>
                                            </div>
                                        </div>   
                                    </div>                                     
                                </div>
                            </div>
                            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                <div class="mb-3">
                                    <div class="d-flex">
                                        <div class="me-2">7.</div>
                                        <div class="fw-600">
                                            <label class="form-label mb-1">Have you settled your OTS with any bank?</label>
                                            <label class="form-label">మీ ఋణంని బ్యాంకులతో ఏకకాలం పరిష్కారం (OTS) చేసుకున్నారా?
                                                <a href="" data-bs-toggle="tooltip" data-bs-placement="top" title="OTS is one time settlement, an agreement wherein defaulting borrower agrees to pay part of the dues in order stop banks from taking legal action against them.">
                                                    <span class="bi bi-info-circle fw-bold"></span>
                                                </a>    
                                            </label>
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3">
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="ots" id="bank1" value="yesbank">
                                                <label class="form-check-label" for="bank1">YES /అవును</label>
                                            </div>
                                        </div>
                                        <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3">
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="ots" id="bank2" value="nobank">
                                                <label class="form-check-label" for="bank2">NO / లేదు</label>
                                            </div>
                                        </div> 
                                    </div>  
                                    <div class="show-hide4 mb-3" id="yesbank" style="display: none;">
                                        <div class="row">
                                            <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3">
                                                <div class="mb-3">
                                                    <input type="month" class="form-control" placeholder="Selection of year"> 
                                                </div>
                                            </div>
                                        </div>
                                    </div>                                   
                                </div>
                            </div>
                            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                <div class="mb-3">
                                    <div class="d-flex">
                                        <div class="me-2">8.</div>
                                        <div class="fw-600">
                                            <label class="form-label mb-1">How do you maintain your books of accounts?</label>
                                            <label class="form-label">మీరు ఖాతాల పుస్తకాలను ఎలా నిర్వహిస్తారు?</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3">
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="accounts" id="accounts" value="">
                                                <label class="form-check-label" for="accounts">Accountant / అకౌంటెంట్</label>
                                            </div>
                                        </div>
                                        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="accounts" id="software" value="">
                                                <label class="form-check-label" for="software">Software (using computer) / సాఫ్ట్వేర్ (కంప్యూటర్ వాడుతూ) </label>
                                            </div>
                                        </div>  
                                    </div>                                     
                                </div>
                            </div>
                            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                <div class="mb-3">
                                    <div class="d-flex">
                                        <div class="me-2">9.</div>
                                        <div class="fw-600">
                                            <label class="form-label mb-1">How can we help you?</label>
                                            <label class="form-label">మేము మీకు ఎలా సహాయపడగలము?</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 ">
                                            <div class="mb-3">
                                                <textarea class="form-control" rows="3" placeholder="Write Here"></textarea>
                                            </div>
                                        </div>  
                                    </div>                                     
                                </div>
                            </div>
                        </div>
                        <div class="row mt-4">
                            <div class="col-12 text-center">
                                <button type="submit" class="btn btn-primary me-2" (click)="submitForm()">Submit</button>
                                <button type="button" class="btn btn-secondary" routerLink="/login">Cancel</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</main>


<div class="modal fade" tabindex="-1" role="dialog" #exampleModal aria-labelledby="mySmallModalLabel" aria-hidden="true" id="exampleModal">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">          
          <h4 class="modal-title" id="myModalLabel">Your are not eligible to apply</h4>          
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" id="modal-btn-si" (click)="checkValidate('yes')">Ok</button>          
        </div>
      </div>
    </div>
</div>
  