<main class="pt-80">
  <section class="pt-3">
    <div class="container-fluid">
      <div class="card mb-3">
        <div class="card-header bg-theme text-white">
          <div class="d-flex justify-content-between align-items-center">
            <span class="mb-0 fw-600">Application Status</span>
            <div class="d-flex align-items-center ms-auto">
              <span class="mb-0 fw-600 me-4">Application No : {{this.apllictaionDataGlobal?.applicationNo}}</span>
              <span class="mb-0 fw-600 me-4">Name Of Unit : {{this.apllictaionDataGlobal?.enterpriseName}}</span>
              <span class="mb-0 fw-600 "> District : {{this.apllictaionDataGlobal?.district?this.apllictaionDataGlobal?.district:this.apllicationDataByGet?.district}}</span>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="px-4 mt-3">
            <div class="progress px-1" style="height: 3px;" >
              <div class="progress-bar" role="progressbar" [style.width]="(currentStep-1)*10 + '%'" aria-valuemin="0"
                aria-valuemax="100"></div>
            </div>
            <div class="step-container d-flex justify-content-between">
              <ng-container *ngFor="let step of statusList.slice(0, 11); let i = index">
                <div
                  class="step-circle fs-9"
                  [class.active]="currentStep >= i + 1"
                  [class.clickable]="freezeValue >= i + 1"
                  [class.isDisabled]="freezeValue < i + 1"
                  [style.cursor]="freezeValue >= i + 1 ? 'pointer' : 'not-allowed'"
                  (click)="freezeValue >= i + 1 && onStepClick(i + 1)"
                >
                  {{ i + 1 }}
                </div>
              </ng-container>
            </div>
            <div class="step-container step-label d-flex justify-content-between">
              <ng-container *ngFor="let label of [
                'Preliminary Assessment',
                'Manager Approval 1',
                'Unit Visit',
                'Diagnostic Report',
                'Manager Approval 2',
                'DIC Consent Letter',
                'Ramp Checklist & Credit Appraisal Upload',
                'Primary Lender NOC',
                'Sanctioned Details & Upload Of Sanctioned Letter',
                'Manager Approval 3',
                'Disbursement Details'
              ]; let i = index">
                <div
                  class="fs-md fw-600"
                  [class.active]="currentStep >= i + 1"
                  [class.clickable]="freezeValue >= i + 1"
                  [class.isDisabled]="freezeValue < i + 1"
                  [style.cursor]="freezeValue >= i + 1 ? 'pointer' : 'not-allowed'"
                  (click)="freezeValue >= i + 1 && onStepClick(i + 1)"
                >
                  {{ label }}
                </div>
              </ng-container>
            </div>
          </div>

          <div class="row mt-3">
            <div class="col-12">
              <form id="multi-step-form">
                <!-- Step 1 - Registration -->
                <div class="step step-1" *ngIf="currentStep === 1">
                   <app-preliminar-assessment [freeze]="freezeValue" (progressBarStatusUpdate)="progressBarStatusUpdate($event)"></app-preliminar-assessment>
                </div>

                <!-- Step 2 - Application -->
                <div class="step step-2" *ngIf="currentStep === 2">
                    <app-manager-approval [freeze]="freezeValue"></app-manager-approval>
                </div>

                <!-- Step 3 - Status -->
                <div class="step step-3" *ngIf="currentStep === 3">
                    <app-unit-visit [freeze]="freezeValue"  (progressBarStatusUpdate)="progressBarStatusUpdate($event)"></app-unit-visit>
                </div>
                    <!-- Step 4 - Status -->
                <div class="step step-4" *ngIf="currentStep === 4">
                    <app-diagnostic-report [freeze]="freezeValue" (progressBarStatusUpdate)="progressBarStatusUpdate($event)"></app-diagnostic-report>
                </div>
                <!-- Step 5 - Status -->
                <div class="step step-5" *ngIf="currentStep === 5">
                    <app-manager-approval [freeze]="freezeValue"></app-manager-approval>
                </div>
                <!-- Step 6 - Status -->
                <div class="step step-6" *ngIf="currentStep === 6">
                    <app-di-concern-letter [freeze]="freezeValue" (progressBarStatusUpdate)="progressBarStatusUpdate($event)"></app-di-concern-letter>
                </div>  
                <!-- Step 7 - Status -->
                <div class="step step-7" *ngIf="currentStep === 7">
                    <app-ramp-checklist [freeze]="freezeValue" (progressBarStatusUpdate)="progressBarStatusUpdate($event)"></app-ramp-checklist>
                </div>
                <!-- Step 8 - Status -->
                <div class="step step-8" *ngIf="currentStep === 8">
                    <app-primary-noc [freeze]="freezeValue" (progressBarStatusUpdate)="progressBarStatusUpdate($event)"></app-primary-noc>
                </div>
                <!-- Step 9 - Status -->
                <div class="step step-9" *ngIf="currentStep === 9">
                    <app-sanctioned-details [freeze]="freezeValue" (progressBarStatusUpdate)="progressBarStatusUpdate($event)"></app-sanctioned-details>
                </div>
                <!-- Step 10 - Status -->
                <div class="step step-10" *ngIf="currentStep === 10">
                    <app-manager-approval [freeze]="freezeValue"></app-manager-approval>
                </div>
                <!-- Step 11 - Status -->
                <div class="step step-11" *ngIf="currentStep === 11">
                    <app-disbursement-details [freeze]="freezeValue" (progressBarStatusUpdate)="progressBarStatusUpdate($event)"></app-disbursement-details>
                </div>
              </form>
            </div>
          </div>
         <button type="button" class="previous btn btn-secondary float-start mt-3" (click)="PreviousStep()" >Previous</button>
            <button type="button" class="next btn btn-primary float-end mt-3" [ngClass]="{'disabled':freezeValue==currentStep}" (click)="NextStep()">Next</button>
        </div>
      </div>
    </div>

  </section>
</main>
