<main class="mt-4">
    <section id="pdf-download-section">
        <div class="container-fluid" id="program-summary-container">
            <div class="card mb-3">
                <div class="card-header bg-transparent">
                    <div class="row align-items-center">
                        <div class="col-12 col-sm-4 col-md-6 col-lg-6">
                            <h6 class="fw-600 mb-2 mb-sm-0 mb-md-0">Program Summary</h6>
                        </div>
                        <ng-container *ngIf="loginsessionDetails?.userRole == 'ADMIN'">
                            <div class="col-12 col-sm-4 col-md-3 col-lg-3" >
                                <!-- <label for="Agencies" style="font-weight: 600;">List Of Agencies</label>
                                <select class="form-select" id="Agencies" (change)="getProgramsByAgency($any($event.target).value)">
                                    <option *ngFor="let list of agencyList" value="{{list.agencyId}}">{{list.agencyName}}</option>
                                </select> -->
                                  <mat-form-field appearance="outline" class="w-100">
                            <mat-label>List Of Agencies</mat-label>
                                <mat-select  (selectionChange)="getProgramsByAgency($event.value)">
                                <mat-select-filter [array]="agencyList" [displayMember]="'agencyName'" (filteredReturn)="agencyProgramListFiltered = $event">
                                </mat-select-filter>
                                <!-- <mat-option value="" disabled>Select Program</mat-option> -->
                                <mat-option *ngFor="let list of agencyProgramListFiltered" [value]="list.agencyId">
                                {{ list.agencyName }}
                                </mat-option>
                            </mat-select>
                            </mat-form-field>
                                
                            </div>
                        </ng-container>   
                        <div class="col-12 col-sm-4 col-md-3 col-lg-3">
                            <div>
                                <!-- <label for="Agencies" style="font-weight: 600;">List Of Programs</label>
                                <select class="form-select" [(ngModel)]="programIds" (change)="dropdownProgramsList($event,'table')">
                                    <option value="">Select Program</option>
                                    <option *ngFor="let list of agencyProgramList" value="{{list.programId}}">{{list.programTitle}}</option>
                                </select> -->
                                  <mat-form-field appearance="outline" class="w-100">
                            <mat-label>List Of Program</mat-label>
                                <mat-select [(ngModel)]="programIds" (selectionChange)="dropdownProgramsList($event,'table')">
                                <mat-select-filter [array]="agencyProgramList" [displayMember]="'programTitle'" (filteredReturn)="agencyProgramListFiltered = $event">
                                </mat-select-filter>
                                <mat-option value="" >Select Program</mat-option>
                                <mat-option *ngFor="let list of agencyProgramListFiltered" [value]="list.programId">
                                {{ list.programTitle }}
                                </mat-option>
                            </mat-select>
                            </mat-form-field>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body">   
                    <div class="card shadow-none border p-3 mb-3">
                        <div class="row">
                            <div class="col-12 col-sm-12 col-md-8 col-lg-10">
                                <div class="row">
                                    <div class="col-12 col-sm-12 col-md-6 col-lg-7 mb-2">
                                        <div class="row">
                                            <div class="col-12 col-sm-12 col-md-4 col-lg-4">
                                                <label class="fw-bold fs-md mb-1">Name of the Program</label>
                                            </div>
                                            <div class="col-12 col-sm-12 col-md-9 col-lg-8">
                                                <label class="fs-md mb-1">{{PrigramSummaryData?.programName}}</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-12 col-md-6 col-lg-5 mb-2">
                                        <div class="row">
                                            <div class="col-12 col-sm-12 col-md-4 col-lg-4">
                                                <label class="fw-bold fs-md mb-1">Agency Name</label>
                                            </div>
                                            <div class="col-12 col-sm-12 col-md-9 col-lg-8">
                                                <label class="fs-md mb-1">{{PrigramSummaryData?.agencyName}}</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                     <div class="col-12 col-sm-12 col-md-6 col-lg-7">
                                        <div class="row">
                                            <div class="col-12 col-sm-12 col-md-4 col-lg-4">
                                                <label class="fw-bold fs-md mb-1 mb-sm-1 mb-md-0">Program Monitoring Rating</label>
                                                 
                                            </div>
                                            <div class="col-12 col-sm-12 col-md-9 col-lg-8">
                                                <app-star-rating [(rating)]="currentRating" (ratingChange)="onRatingChange($event)"></app-star-rating>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-12 col-md-6 col-lg-7">
                                        <div class="row">
                                            <div class="col-12 col-sm-12 col-md-4 col-lg-4">
                                                <label class="fw-bold fs-md mb-1 mb-sm-1 mb-md-0">Start Date</label>
                                                
                                            </div>
                                            <div class="col-12 col-sm-12 col-md-9 col-lg-8">
                                                <label class="fs-md mb-1 mb-sm-1 mb-md-0">{{PrigramSummaryData?.startDate}}</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-12 col-md-6 col-lg-5">
                                        <div class="row">
                                            <div class="col-12 col-sm-12 col-md-4 col-lg-4">
                                                <label class="fw-bold fs-md mb-1 mb-sm-1 mb-md-0">End Date</label>
                                            </div>
                                            <div class="col-12 col-sm-12 col-md-9 col-lg-8">
                                                <label class="fs-md mb-0">{{PrigramSummaryData?.endDate}}</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-12 col-md-4 col-lg-2">
                                <div class="card bg-primary text-white text-center shadow-none p-2">
                                    <label>Total Participants</label>
                                    <p class="fw-bold fs-6 mb-0">{{PrigramSummaryData?.participant}}</p>
                                </div>
                            </div>
                        </div>
                    </div>  
                    <div class="row">
                        <div class="col-12 col-sm-12 col-md-12 col-lg-6">
                            <div class="card shadow-none border mb-3">
                                <div class="card-header bg-transparent">
                                    <h6 class="fw-bold text-primary mb-0">Social Category</h6>
                                </div>
                                <div class="card-body p-0">        
                                    <div class="table-rsponsive">
                                        <table class="table mb-0">
                                            <thead>
                                                <tr>
                                                    <th>Category</th>
                                                    <th>Number</th>
                                                    <th>%</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>SC</td>
                                                    <td>{{PrigramSummaryData?.sc}}</td>
                                                    <td>{{PrigramSummaryData?.scPercentage}}</td>
                                                </tr>
                                                <tr>
                                                    <td>ST</td>
                                                    <td>{{PrigramSummaryData?.st}}</td>
                                                    <td>{{PrigramSummaryData?.stPercentage}}</td>
                                                </tr>
                                                <tr>
                                                    <td>Minorities</td>
                                                    <td>{{PrigramSummaryData?.minorities}}</td>
                                                    <td>{{PrigramSummaryData?.minoritiesPercentage}}</td>
                                                </tr>
                                                <tr>
                                                    <td>BC</td>
                                                    <td>{{PrigramSummaryData?.bc}}</td>
                                                    <td>{{PrigramSummaryData?.bcPercentage}}</td>
                                                </tr>
                                                <tr>
                                                    <td>OC</td>
                                                    <td>{{PrigramSummaryData?.oc}}</td>
                                                    <td>{{PrigramSummaryData?.ocPercentage}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div> 
                        </div>
                        <div class="col-12 col-sm-12 col-md-12 col-lg-6">
                            <div class="card shadow-none border mb-3">
                                <div class="card-header bg-transparent">
                                    <h6 class="fw-bold text-primary mb-0">Gender</h6>
                                </div>                                    
                                <div class="card-body p-0">
                                    <div class="table-rsponsive">
                                        <table class="table mb-0">
                                            <thead>
                                                <tr>
                                                    <th>Gender</th>
                                                    <th>Number</th>
                                                    <th>%</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>Male</td>
                                                    <td>{{PrigramSummaryData?.male}}</td>
                                                    <td>{{PrigramSummaryData?.malePercentage}}</td>
                                                </tr>
                                                <tr>
                                                    <td>Female</td>
                                                    <td>{{PrigramSummaryData?.female}}</td>
                                                    <td>{{PrigramSummaryData?.femalePercentage}}</td>
                                                </tr>
                                                <tr>
                                                    <td>Transgender</td>
                                                    <td>{{PrigramSummaryData?.transgender}}</td>
                                                    <td>{{PrigramSummaryData?.transeGenderPercentage}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div> 

                            <div class="card shadow-none bg-secondary p-3 mb-0">
                                <div class="d-flex align-items-center justify-content-between text-white">
                                    <div>
                                        <label class="fw-bold fs-md">Physically Challenged</label>
                                    </div>
                                    <p class="text-center mb-0">{{PrigramSummaryData?.physicallyChallenge}}</p>
                                    <p class="mb-0">{{PrigramSummaryData?.disabilityPercentage}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="card shadow-none border">
                        <div class="card-header bg-transparent">
                            <h6 class="fw-bold text-primary mb-0">Participants</h6>
                        </div>
                        <div class="card-body p-0">
                            <div class="table-responsive">
                                <table class="table mb-0">
                                    <thead>
                                        <tr>
                                            <th>Participants</th>
                                            <th>Number</th>
                                            <th>%</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>No. of Participants from SHGs</td>
                                            <td>{{PrigramSummaryData?.noOfSHGs}}</td>
                                            <td>{{PrigramSummaryData?.noOfSHGsPercentage}}</td>
                                        </tr>
                                        <tr>
                                            <td>No. of Participants from MSMEs</td>
                                            <td>{{PrigramSummaryData?.noOfMSMEs}}</td>
                                            <td>{{PrigramSummaryData?.noOfMSMEsPercentage}}</td>
                                        </tr>
                                        <tr>
                                            <td>No. of Participants from Startups</td>
                                            <td>{{PrigramSummaryData?.noOfStartups}}</td>
                                            <td>{{PrigramSummaryData?.noOfStartupsPercentage}}</td>
                                        </tr>
                                        <tr>
                                            <td>No. of Aspirants</td>
                                            <td>{{PrigramSummaryData?.noOfAspirants}}</td>
                                            <td>{{PrigramSummaryData?.noOfAspirantsPercentage}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
        <div class="text-center mt-3" id="program-collage-image">
            <h5>Program Collage Image</h5>
            <img 
                *ngIf="programCollageImage"
                [src]="programCollageImage" 
                alt="Program Collage" 
                class="img-fluid" 
                style="width: 50%; height: auto;" 
            />
        </div>

        <div class="card shadow-none" id="participant-details">
            <h5 class="fw-bold m-4 mb-0">Participant Details</h5>
            <div class="card-body m-3">
            <div class="table-responsive shadow-none border mb-3">
              <table class="table mb-0">
                <thead>
                  <tr>
                    <th>Sl No</th>
                    <th>Name of the Participant</th>
                    <th>Organization Name</th>
                    <th>District Name</th>
                    <th>Mandal Name</th>
                    <th>Caste</th>
                    <th>Mobile Number</th>
                    <th>Vo Name</th>
                    <th>Sector</th>
                  </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let post of paginatedPosts; let i = index">
                        <td>{{ i + 1 }}</td> <!-- Shows index starting from 1 -->
                        <td>{{ post.participantName }}</td>
                        <td>{{ post.organizationName }}</td>
                        <td>{{ post.DistrictName }}</td>
                        <td>{{ post.MandalName }}</td>
                        <td>{{ post.category }}</td>
                        <td>{{ post.mobileNo }}</td>
                        <td>{{ post.voName }}</td>
                        <td>{{ post.sectorList?.join(', ') }}</td>
                    </tr>
                </tbody>                      
              </table>
            </div>
          
            <div id="pagination-controls" class="d-flex justify-content-between align-items-center p-2"  *ngIf="showPagination">
                <button class="btn btn-lime-green" (click)="previousPage()" [disabled]="currentPage === 1">Previous</button>
                <span class="color:black">Page {{ currentPage }} of {{ totalPages }}</span>
                <button class="btn btn-lime-green" (click)="nextPage()" [disabled]="currentPage === totalPages">Next</button>
            </div>
              
          </div>
        </div>
          
        <ng-template #loading>
            <p>Loading posts...</p>
        </ng-template>
        <div class="text-end mb-3" style="margin-right:20px;" id="pdf-download-button">
            <button type="button" class="btn btn-lime-green" (click)="handleDownloadPDF()">Download</button>
        </div>
          
    </section>
</main>