<main class="mt-4">
    <section>
        <div class="container-fluid">
            <div class="row align-items-center vh-80">
                <div class="col-12 col-sm-12 col-md-6 offset-md-3 col-lg-4 offset-lg-4">
                    <div class="card bg-lime-green mb-3">
                        <div class="p-3 text-white text-center">
                            <span class="bi bi-person-circle display-4 mb-2"></span>
                            <p class="fs-5 mb-0">{{userData?.firstName}}  {{userData?.lastName}}</p>
                            <p class="mb-1">{{userData?.userRole=='AGENCY_EXECUTOR'?"PIA Executor" : userData?.userRole=='AGENCY_MANAGER'?'PIA Manager':userData?.userRole}}</p>
                            <a class="text-light-green fs-md fw-600" (click)="openModalProfile()"><span class="bi bi-pencil me-2"></span> Edit the profile</a>
                        </div>
                        <div class="card p-3 shadow-none rounded-bottom rounded-5 ">
                            <div class="d-flex align-items-center mb-3">
                                <div>
                                    <span class="bi bi-gender-ambiguous text-green fs-6 me-3"></span>
                                </div>
                                <div class="fs-md">{{userData?.gender}}</div>
                            </div>
                            <div class="d-flex  mb-3">
                                <div class="bi bi-credit-card-2-front text-green fs-6 me-3"></div> 
                                <div>
                                    <p class="fs-md mb-0">{{userData?.userId}}</p>
                                </div>
                            </div>
                            <div class="d-flex  mb-3">
                                <div class="bi bi-telephone text-green fs-6 me-3"></div> 
                                <div>
                                    <p class="fs-md mb-0">{{userData?.mobileNo}}</p>
                                </div>
                            </div>
                            <!-- <div class="d-flex  mb-3">
                                <div class="bi bi-geo-alt text-green fs-6 me-3"></div> 
                                <div>
                                    <p class="fs-md mb-0">SR Nagar Main Rd, near S.R.Nagar Traffic Police Station, Srinivasa Nagar, Sanjeeva Reddy Nagar, Hyderabad</p>
                                </div>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

<!-- begin:: view modal -->
<div class="modal fade" id="ModalProfile" #ModalProfile tabindex="-1" aria-labelledby="addResourceLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <form action="" [formGroup]="RegisterForm" (ngSubmit)="onModalSubmitRegister()">
            <div class="modal-content">
                <div class="modal-header py-2">
                    <h6 class="modal-title" id="addResourceLabel">Update Profile</h6>
                    <button type="button" class="btn-close me-1" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    <div class="row">
                        <!-- <div class="col-12">
                            <div class="form-floating mb-3">
                                <select class="form-select" id="floatingSelect"
                                    aria-label="Floating label select example" formControlName="userRole">
                                    <option selected>Select Type</option>
                                    <option value="ADMIN">ADMIN</option>
                                    <option value="AGENCY_MANAGER">PIA Manager</option>
                                    <option value="AGENCY_EXECUTOR">PIA Executive</option>
                                    <option value="CALL_CENTER">Call Center</option>
                                    <option value="DEPARTMENT">DEPARTMENT</option>
                                    <option value="SPIU">SPIU</option>
                                </select>
                                <label for="floatingSelect">Type Of User</label>
                                <div *ngIf="f2['userRole'].touched && f2['userRole'].invalid" class="error"
                                    style="color: red;">
                                    <div *ngIf="f2['userRole'].errors?.['required']">User role is required</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12"
                            *ngIf="f2['userRole'].value === 'AGENCY_MANAGER' || f2['userRole'].value === 'AGENCY_EXECUTOR'">
                            <div class="form-floating mb-3">
                                <select class="form-select" formControlName="department">
                                    <option value="">Select Agency</option>
                                    <option *ngFor="let list of agencyList" value="{{list.agencyId}}">
                                        {{list.agencyName}}</option>                                    
                                </select>
                                <label for="department">Agency</label>
                            </div>
                        </div>
                        <div class="col-12"
                            *ngIf="f2['userRole'].value === 'ADMIN' || f2['userRole'].value === 'CALL_CENTER' || f2['userRole'].value === 'DEPARTMENT'">
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" formControlName="department"
                                    placeholder="Department">
                                <label for="department">Department</label>
                            </div>
                        </div>
                        <div class="col-12" *ngIf="f2['userRole'].value === 'SPIU'">
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" formControlName="department"
                                    placeholder="Department">
                                <label for="department">Department</label>
                            </div>
                        </div> -->
                        <div class="col-12">
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" id="emailId" placeholder="Email ID"
                                    formControlName="email">
                                <label for="emailId">Email ID</label>
                                <div *ngIf="f2['email'].touched && f2['email'].invalid" class="error"
                                    style="color: red;">
                                    <div *ngIf="f2['email'].errors?.['required']">Email is required</div>
                                    <div *ngIf="f2['email'].errors?.['pattern']">Invalid email format</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6">
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" id="firstName" placeholder="First Name"
                                    formControlName="firstName">
                                <label for="firstName">First Name</label>
                                <div *ngIf="f2['firstName'].touched && f2['firstName'].invalid" class="error"
                                    style="color: red;">
                                    <div *ngIf="f2['firstName'].errors?.['required']">First name is required</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6">
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" id="lastName" placeholder="Last Name"
                                    formControlName="lastName">
                                <label for="lastName">Last Name</label>
                                <div *ngIf="f2['lastName'].touched && f2['lastName'].invalid" class="error"
                                    style="color: red;">
                                    <div *ngIf="f2['lastName'].errors?.['required']">Last name is required</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6">
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" id="mobileNumber" placeholder="Mobile Number"
                                    formControlName="mobile">
                                <label for="mobileNumber">Mobile Number</label>
                                <div *ngIf="f2['mobile'].touched && f2['mobile'].invalid" class="error"
                                    style="color: red;">
                                    <div *ngIf="f2['mobile'].errors?.['required']">Mobile number is required</div>
                                    <div *ngIf="f2['mobile'].errors?.['pattern']">Invalid mobile number format</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6">
                            <div class="form-floating mb-3">
                                <select class="form-select" id="floatingSelectGender"
                                    aria-label="Floating label select example" placeholder="Gender"
                                    formControlName="gender">
                                    <option value="Male">Male</option>
                                    <option value="Female">Female</option>
                                    <option value="Other">Other</option>
                                </select>
                                <label for="floatingSelectGender">Gender</label>
                                <div *ngIf="f2['gender'].touched && f2['gender'].invalid" class="error"
                                    style="color: red;">
                                    <div *ngIf="f2['gender'].errors?.['required']">Gender is required</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="d-grid">
                                <button type="submit" class="btn btn-lime-green"
                                    [ngClass]="{'disabled': RegisterForm.invalid}" [disabled]="RegisterForm.invalid"
                                    data-bs-dismiss="modal">Update</button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </form>
        <!-- <div class="modal-content">
            <div class="modal-header py-2">
                <h6 class="modal-title text-green" id="addResourceLabel">Add User</h6>
                <button type="button" class="btn-close me-1" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="row">
                        <div class="col-12">
                            <div class="form-floating mb-3">
                                <select class="form-select" id="floatingSelect" aria-label="Floating label select example">
                                  <option selected>Select Gender</option>
                                  <option value="1">Male</option>
                                  <option value="2">Female</option>
                                </select>
                                <label for="floatingSelect">Gender</label>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" id="aadhar" placeholder="Aadhar Number">
                                <label for="aadhar">Aadhar Number</label>
                            </div>
                        </div>
                        <div class="col-12 col-sm-12">
                            <div class="form-floating mb-3">
                                <textarea class="form-control" placeholder="Leave a comment here" id="address" style="height: 100px"></textarea>
                                <label for="address">Address</label>
                              </div>
                        </div>
                        <div class="col-12">
                            <div class="d-grid">
                                <button type="button" class="btn btn-lime-green">Submit</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div> -->
    </div>
</div>