<main class="mt-4">
    <section>
        <div class="container-fluid">
            <div class="row align-items-center vh-80">
                <div class="col-12 col-sm-12 col-md-6 offset-md-3 col-lg-4 offset-lg-4">
                    <div class="card bg-lime-green mb-3">
                        <div class="p-3 text-white text-center">
                            <span class="bi bi-person-circle display-4 mb-2"></span>
                            <p class="fs-5 mb-0">{{userData?.firstName}}  {{userData?.lastName}}</p>
                            <p class="mb-1">{{userData?.userRole=='AGENCY_EXECUTOR'?"PIA Executor" : userData?.userRole=='AGENCY_MANAGER'?'PIA Manager':userData?.userRole}}</p>
                            <a class="text-light-green fs-md fw-600" (click)="openModalProfile()"><span class="bi bi-pencil me-2"></span> Edit the profile</a>
                        </div>
                        <div class="card p-3 shadow-none rounded-bottom rounded-5 ">
                            <div class="d-flex align-items-center mb-3">
                                <div>
                                    <span class="bi bi-gender-ambiguous text-green fs-6 me-3"></span>
                                </div>
                                <div class="fs-md">Male</div>
                            </div>
                            <div class="d-flex  mb-3">
                                <div class="bi bi-credit-card-2-front text-green fs-6 me-3"></div> 
                                <div>
                                    <p class="fs-md mb-0">{{userData?.userId}}</p>
                                </div>
                            </div>
                            <div class="d-flex  mb-3">
                                <div class="bi bi-telephone text-green fs-6 me-3"></div> 
                                <div>
                                    <p class="fs-md mb-0">{{userData?.mobileNo}}</p>
                                </div>
                            </div>
                            <div class="d-flex  mb-3">
                                <div class="bi bi-geo-alt text-green fs-6 me-3"></div> 
                                <div>
                                    <p class="fs-md mb-0">SR Nagar Main Rd, near S.R.Nagar Traffic Police Station, Srinivasa Nagar, Sanjeeva Reddy Nagar, Hyderabad</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

<!-- begin:: view modal -->
<div class="modal fade" id="ModalProfile" #ModalProfile tabindex="-1" aria-labelledby="addResourceLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header py-2">
                <h6 class="modal-title text-green" id="addResourceLabel">Add User</h6>
                <button type="button" class="btn-close me-1" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="row">
                        <div class="col-12">
                            <div class="form-floating mb-3">
                                <select class="form-select" id="floatingSelect" aria-label="Floating label select example">
                                  <option selected>Select Gender</option>
                                  <option value="1">Male</option>
                                  <option value="2">Female</option>
                                </select>
                                <label for="floatingSelect">Gender</label>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" id="aadhar" placeholder="Aadhar Number">
                                <label for="aadhar">Aadhar Number</label>
                            </div>
                        </div>
                        <div class="col-12 col-sm-12">
                            <div class="form-floating mb-3">
                                <textarea class="form-control" placeholder="Leave a comment here" id="address" style="height: 100px"></textarea>
                                <label for="address">Address</label>
                              </div>
                        </div>
                        <div class="col-12">
                            <div class="d-grid">
                                <button type="button" class="btn btn-lime-green">Submit</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>