<main class="mt-4">
    <section>
        <div class="container-fluid">
            <div class="card mb-3">
                <div class="card-header bg-transparent">
                    <div class="row align-items-center">
                        <div class="col-12 col-sm-7 col-md-8 col-lg-9">
                            <h6 class="fw-600 mb-2 mb-sm-0 text-green">View Programs</h6>
                        </div>
                        <div class="col-12 col-sm-5 col-md-4 col-lg-3">
                            <select class="form-select">
                                <option value="">Agency</option>
                                <option *ngFor="let list of agencyList" value="{{list.agencyId}}">{{list.agencyName}}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="dtable-container">
                        <table id="view-table-program" class="display nowrap" style="width:100%">
                            <thead>
                                <tr>
                                    
                                    <th>S.No</th>
                                    <th>Type Of Activity</th>
                                    <th>Sub Activity</th>
                                    <th>Type Of Program</th>
                                    <th>Program Details</th>
                                    <th>Title Of Program</th>
                                    <th>No. Of Days</th>
                                    <th>Start Date</th>
                                    <th>In Time</th>
                                    <th>Out Time</th>
                                    <th>SPOC Name</th>
                                    <th>SPOC Contact No.</th>
                                    <th>Program Location</th>
                                    <th class="text-center">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of tableList; let i = index">
                                    
                                    <td>{{ i + 1 }}</td>
                                    <td>{{ item.activityId }}</td>
                                    <td>{{ item.subActivityId }}</td>
                                    <td>{{ item.programType }}</td>
                                    <td>{{ item.programDetails }}</td>
                                    <td>{{ item.programTitle }}</td>
                                    <td>{{ item.noOfDays }}</td>
                                    <td>{{ item.startDate }}</td>
                                    <td class="text-center">{{ item.startTime }}</td>
                                    <td class="text-center">{{ item.endTime }}</td>
                                    <td>{{ item.spocName }}</td>
                                    <td>{{ item.spocContactNo }}</td>
                                    <td>{{ item.programLocation }}</td>                                    
                                    <td>
                                        <button type="button" class="btn btn-default btn-sm text-lime-green" data-bs-toggle="modal" data-bs-target="#viewModal" (click)="sessionDetails(item)" title="View"><span class="bi bi-eye"></span></button>
                                        <button type="button" class="btn btn-default btn-sm text-primary mx-2" title="Edit" (click)="editProgram(item)"><span class="bi bi-pencil"></span></button>
                                        <button type="button" class="btn btn-default btn-sm text-danger" title="Delete"><span class="bi bi-trash"></span></button>
                                    </td>
                                </tr>
                            </tbody>                            
                        </table>
                    </div>
                    
                </div>
            </div>
        </div>
    </section>
</main>

<!-- begin:: view modal -->
<div class="modal fade" id="viewModal" tabindex="-1" aria-labelledby="addResourceLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <div class="modal-header py-2">
                <h6 class="modal-title text-green" id="addResourceLabel">View Session Details</h6>
                <button type="button" class="btn-close me-1" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>S.No</th>
                            <th>Date</th>
                            <th>Start Time</th>
                            <th>End Time</th>
                            <th>Type Of Session</th>
                            <th>Methodology</th>
                            <th>Session Details</th>
                            <th>Resource Person</th>
                            <th>Type Of Material Used</th>
                            <!-- <th>Upload</th> -->
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let session of sessionDetailsList; let i = index">
                            <td class="text-start">{{ i + 1 }}</td>
                            <td>{{ session.sessionDate }}</td>
                                <td>{{ session.startTime }}</td>
                                <td>{{ session.endTime }}</td>
                                <td>{{ session.sessionTypeName }}</td>
                                <td>{{ session.sessionTypeMethodology }}</td>
                                <td>{{ session.sessionDetails }}</td>
                                <td>{{ session.resourceId }}</td>
                                <td>{{ session.meterialType }}</td>
                        </tr>
                    </tbody>
                    <!-- <tbody>
                        <tr>
                            <td class="text-start">1</td>
                            <td>29-12-2024</td>
                            <td>09-15 AM</td>
                            <td>11:00 AM</td>
                            <td>Session</td>
                            <td>Lecture</td>
                            <td>To Share Knowledge</td>
                            <td>Mr. Ravi</td>
                            <td>PDF</td>
                            <td>mymaterial.pdf</td>
                        </tr>
                        <tr>
                            <td class="text-start">1</td>
                            <td>29-12-2024</td>
                            <td>09-15 AM</td>
                            <td>11:00 AM</td>
                            <td>Session</td>
                            <td>Lecture</td>
                            <td>To Share Knowledge</td>
                            <td>Mr. Ravi</td>
                            <td>PDF</td>
                            <td>mymaterial.pdf</td>
                        </tr>
                        <tr>
                            <td class="text-start">1</td>
                            <td>29-12-2024</td>
                            <td>09-15 AM</td>
                            <td>11:00 AM</td>
                            <td>Session</td>
                            <td>Lecture</td>
                            <td>To Share Knowledge</td>
                            <td>Mr. Ravi</td>
                            <td>PDF</td>
                            <td>mymaterial.pdf</td>
                        </tr>
                        <tr>
                            <td class="text-start">1</td>
                            <td>29-12-2024</td>
                            <td>09-15 AM</td>
                            <td>11:00 AM</td>
                            <td>Session</td>
                            <td>Lecture</td>
                            <td>To Share Knowledge</td>
                            <td>Mr. Ravi</td>
                            <td>PDF</td>
                            <td>mymaterial.pdf</td>
                        </tr>
                    </tbody> -->
                </table>
            </div>
        </div>
    </div>
</div>
