<main class="mt-4">
    <section>
        <div class="container-fluid">
            <div class="row align-items-center vh-80">
                <div class="col-12 col-sm-8 offset-sm-2 col-md-6 offset-md-3 col-lg-4 offset-lg-4">
                    <div class="card bg-lime-green mb-3">
                        <div class="p-3 text-white text-center">
                            <span class="bi bi-person-circle display-4 mb-2"></span>
                            <p class="fs-5 mb-0">Mr. Ravi Kumar</p>
                        </div>
    
                        <div class="card p-3 shadow-none rounded-bottom rounded-5 ">
                            <h5 class="text-center fw-bold mb-4">Change Password</h5>
                            <form>
                                <div class="d-flex align-items-center mb-3"></div>
                                <div class="row">
                                    <div class="col-12">
                                        <div class="mb-3">
                                            <input type="text" class="form-control form-control-lg" placeholder="Old Password" autofocus>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="mb-3">
                                            <input type="text" class="form-control form-control-lg" placeholder="New Password">
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="mb-3">
                                            <input type="text" class="form-control form-control-lg" placeholder="Confirm New Password">
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="d-grid mb-3">
                                            <a href="#" class="btn btn-lime-green">Submit</a>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
    
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
