<main class="mt-4">
    <section>
        <div class="container-fluid">
            <div class="card mb-3">
                <div class="card-header bg-transparent">
                    <div class="row align-items-center">
                        <div class="col-12 col-sm-7 col-md-8 col-lg-9">
                            <h6 class="fw-600 mb-2 mb-sm-0 text-lime-green">Program Execution</h6>
                        </div>
                        <div class="col-12 col-sm-5 col-md-4 col-lg-3">
                            <select class="form-select">
                                <option value="#">Select Program</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <table id="creation-table" class="table table-borderless table-striped nowrap">
                        <thead class="bg-lime-green text-white">
                            <tr>
                                <th>Session No.</th>
                                <th>Session Details</th>
                                <th>Resource Person</th>
                                <th>Image 1</th>
                                <th>Image 2</th>
                                <th>Image 3</th>
                                <th>Image 4</th>
                                <th>Image 5</th>
                                <th>Video / URL</th>
                                <th class="text-center">Edit / Save</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="text-start">1</td>
                                <td>
                                    <input type="text" class="form-control" placeholder="">
                                </td>
                                <td>
                                    <select class="form-select">
                                        <option value="#">Select Resource Person</option>
                                        <option value="1">Faculty</option>
                                    </select>
                                </td>                                   
                                <td>
                                    <input class="form-control" type="file">
                                </td>
                                <td>
                                    <input class="form-control" type="file">
                                </td>
                                <td>
                                    <input class="form-control" type="file">
                                </td>
                                <td>
                                    <input class="form-control" type="file">
                                </td>
                                <td>
                                    <input class="form-control" type="file">
                                </td>
                                <td>
                                    <input type="text" class="form-control" placeholder="">
                                </td>
                                <td class="text-center">
                                    <button type="button" class="btn btn-default btn-sm text-lime-green">
                                        <span class="bi bi-pencil"></span>
                                    </button>
                                    <button type="button" class="btn btn-default btn-sm text-primary ms-2">
                                        <span class="bi bi-floppy"></span>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="card mb-4">
                <div class="card-header bg-transparent">
                    <div class="d-flex align-items-center justify-content-between flex-wrap">
                        <div>
                            <h6 class="mb-2 mb-sm-0 text-lime-green">Media Coverage</h6>
                        </div>
                    </div>
                </div>
                <div class="card-body" id="">
                    <form>
                        <div class="row">
                            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                                <div class="form-floating mb-3">
                                    <input type="date" class="form-control" id="date" placeholder="">
                                    <label for="date">Date</label>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                                <div class="form-floating mb-3">
                                    <select class="form-select" id="coverage">
                                      <option selected>Select Type</option>
                                    </select>
                                    <label for="coverage">Type of Coverage</label>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                                <div class="form-floating mb-3">
                                    <input type="file" class="form-control" id="images" placeholder="">
                                    <label for="images">Images</label>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                                <div class="form-floating mb-3">
                                    <input type="text" class="form-control" id="video" placeholder="">
                                    <label for="video">Video URL</label>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <div class="text-end">
                <button type="button" class="btn btn-lime-green" (click)="submitRedirect()">Final Submission</button>
            </div>
            
        </div>
    </section>
</main>